{% extends 'base.html' %}
{% block content %}
<link href="{{url_for('static', filename='css/adminListing.css')}}" rel="stylesheet">
{% if listings %}
<table>
	<thead>
		<th style="padding-right: 30px;">Edit</th>
		<th style="padding-right: 30px;">View</th>
		<th style="padding-right: 50px;">Address</th>
		<th style="padding-right: 30px; padding-left: 30px;">Apt #</th>
		<th style="padding-right: 30px;">Lease Start Date</th>
		<th style="padding-right: 30px;">Lease End Date</th>
		<th style="padding-right: 30px;">Time Period</th>
		<th style="padding-right: 30px; padding-left: 30px;">Featured?</th>
	</thead>
	<tbody>
  		{% for listing in listings %}
  		<tr>
  			<td>
    			<a href="{{url_for('listings.editListing', listingID=listing.id)}}">Edit</a>
    		</td>
    		<td>
    			<a href="{{url_for('listings.viewListing', listingID=listing.id)}}">View</a>
    		</td>
    		<td>
    			{{listing.street}}
    		</td>
    		<td style="padding-left: 30px;">
    			{% if listing.apartment_number %}
    				{{listing.apartment_number}}
    			{% endif %}
    		</td>
    		<td>
    			{{listing.start_date}}
    		</td>
    		<td>
    			{{listing.end_date}}
    		</td>
    		<td>
    			{{listing.time_period}} {{listing.time_period_date_range}}
    		</td>
    		<td style="padding-left: 30px;">
    			{{listing.featured}}
    		</td>
  		</tr>
  		{% endfor %}
	</tbody>
</table>
{% else %}
	No listings!
{% endif %}
{% endblock %}
