{% extends 'base.html' %}
	{% block content %}
	<div class="row">
		<div class="col-xs-0 col-md-2">
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="row">
				<div class="col-xs-3">
					<h2><strong>Key</strong></h2>
				</div>
				<div class="col-xs-3">
					<h2><strong>uses remaining</strong></h2>
				</div>
				<div class="col-xs-3">
					<h2><strong>% off</strong></h2>
				</div>
				<div class="col-xs-3">
					<h2><strong>Remove</strong></h2>
				</div>
			</div>
			<hr>
			{% for coupon in coupons %}
				<div id="coupon{{coupon.id}}" class="row">
					<div class="col-xs-3">
						<strong>{{coupon.coupon_key}}</strong>
					</div>
					<div class="col-xs-3">
						{% if coupon.unlimited == true %}
							Unlimited
						{% else %}
							{{coupon.uses}}
						{% endif %}
					</div>
					<div class="col-xs-3">
						{{coupon.percentage_off}}%
					</div>
					<div class="col-xs-3">
						<button name="deleteCoupon" onclick="deleteCoupon({{coupon.id}})" id="{{coupon.id}}" class="btn btn-danger">Delete</button>
					</div>
				</div>
				<hr>
			{% endfor %}
		</div>
	</div>
{% endblock %}


{% block scripts %}
	<script>
		function deleteCoupon(couponID) {
			var url = '/siteAdmin/coupon/' + couponID + '/delete';
			$.getJSON(url, function(data) {
				if (data['success']) {
					$("#coupon" + couponID).hide();
				} else {
					console.log('')
				}
			}).fail(function(data) {
			  console.log('Failed JSON Request');
			});
		}
		// $('button[name="deleteCoupon"]').on('click', function(){
		// 	var couponToDelete = this.id;
		// 	var request = `/siteAdmin/coupon/${couponToDelete}/delete`;
		// 	$.post(request, function(data, status){
	  //           var random = data.couponKey;
	  //           $("#couponKey").val(random);
	  //       });
    // 	});
	</script>
{% endblock %}
