{% extends 'base.html' %}
{% block content %}
<div class="row" style="padding-top: 60px;">
	<div class="col-xs-0 col-lg-2"></div>
	<div class="col-xs-12 col-lg-8">
		{% for report in reports %}
			<div class="card">
			    <div class="card-block">
			    	<h2 class="card-title">{{report.title}}</h2>
			    	<h6 class="card-subtitle mb-2 text-muted">{{report.source_url}}</h6>
			    	<p class="card-text"><strong>Report Details: </strong>{{report.content}}</p>
			    	<strong>User Details: </strong> {{report.user.serialize}}
			    	<br><br>
			    	<a class="btn btn-blue pull-right" href="mailto:{{report.user.email}}?subject=Responding to your report" style="margin-left: 15px; margin-right: 15px;">Email User</a>
			    	<a href="#" class="btn btn-blue pull-right" data-toggle="modal" data-target="#sendDirectMessageModal" style="margin-left: 15px; margin-right: 15px;" data-targetID="{{report.user.id}}" data-targetname="{{report.user.name}}">
			    	    Send Message
			    	</a>
			    </div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
