venv/
*.pyc
*.swp
.vagrant/
*.glue
*.sublime*
nexnest/uploads/*
nexnest/log/*
nosetests.xml
coverage.xml
pylint.out
coverage.py
.coverage/
.coverage
.python-version
all_users.txt
unconfirmed_users.txt
landlords.txt