# Flask
flask
Flask-Assets
Flask-WTF
Flask-Login
flask-admin

# Database
Flask-SQLAlchemy
sqlalchemy-migrate
psycopg2

# documentation
eralchemy

# misc
python-dotenv

# Data Generation
factory_boy
Faker

readline