# Flask
flask
Flask-Assets
Flask-WTF
Flask-Login>=0.3.0,<0.4
flask-admin
flask-security==1.7.5

# Database
Flask-SQLAlchemy
sqlalchemy-migrate
psycopg2

# documentation
eralchemy

# misc
python-dotenv