# Flask
flask
Flask-Assets
Flask-WTF
Flask-Login
flask-admin
Flask-OAuthlib

# Database
Flask-SQLAlchemy
sqlalchemy-migrate
psycopg2

# documentation
eralchemy

# misc
python-dotenv
readline

# Data Generation
factory_boy
Faker



