{% extends "base.html" %}
{% block content %}
<br>
<div class="row nexnest-font">
	<div class="hidden-sm-down col-md-4 col-lg-3 col-xl-2 faqVR">
		<h1 class="faqHeading" style="padding-left: 30px;">Navigate</h1>
		<a href="{{url_for('indexs.aboutUs')}}" class="faqNav"><h3 style="padding-left: 30px;"><strong>About Us</strong></h3></a>
		<a a href="#" data-toggle="modal" data-target="#contactUsModal" class="faqNav"><h3 style="padding-left: 30px;"><strong>Contact Us</strong></h3></a>
		<hr class="faqHR">
		<h1 class="faqHeading" style="padding-left: 30px;">Help</h1>
		<a href="{{url_for('indexs.faq')}}" class="faqNav"><h3 style="padding-left: 30px;"><strong>FAQ</strong></h3></a>
		<a href="{{url_for('indexs.termsConditions')}}" class="faqNav"><h3 style="padding-left: 30px;"><strong>Terms of Use</strong></h3></a>
		<a href="{{url_for('indexs.privacyPolicy')}}" class="faqNav"><h3 style="padding-left: 30px;"><strong>Privacy Policy</strong></h3></a>
		<a href="#" class="faqNav" data-toggle="modal" data-target="#platformReportModal"><h3 style="padding-left: 30px;"><strong>Report Issue</strong></h3></a>
	</div>
	<div class="col-xs-12 col-xs-12 col-md-8 col-lg-9 col-xl-10" style="padding-top: 45px; padding-bottom: 60px;">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<center>
					<h1 class="faqHeading">It’s time for a renovation.</h1>
					<span style="color: #52ab81; font-size: 30px;">Whether it’s a <strong>new</strong> semester or a <strong>new</strong> school - why are you 
					searching for your next college rental the <strong><i>old</i></strong> way? 
					At nexnest, we’re here to help.
					<br><br>
					Our mission is to help you create the greatest college experience
					possible, and we believe that starts here; with finding your next home.
					Nexnest was created in WNY <strong>by college students, for college students.</strong>
					With your needs in mind, we hope to serve your community by showing students
					what the off-campus lifestyle has to offer. Because the best four to six years of
					your life shouldn’t be left up to chance. <strong style="color: #fea700;">Don’t just wing it.</strong></span>
					<br><br>
					<img src="/static/img/birdBanner.png" height="250px;">
				</center>
			</div>
		</div>
	</div>
</div>
{% endblock %}