<!DOCTYPE html>
<html lang="en">
	<head>
	    {% if title %}
	    <title>{{ title }} - NexNest</title>
	    {% else %}
	    <title>NexNest</title>
	    {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/flatpickr.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/rangeslider.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-slider3.css')}}">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	    <link href="{{url_for('static', filename='css/bootstrap-flex3.css')}}" rel="stylesheet">
	    <link href="{{url_for('static', filename='css/customStyling9.css')}}" rel="stylesheet">
	    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-notifications2.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/magicsuggest-min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/fileinput.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/fontStyling.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/buttonStyling7.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/dayScheduler.css')}}">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amaranth" />
        <script src="{{url_for('static', filename='js/flatpickr.js')}}"></script>        
	    <script src="{{url_for('static', filename='js/jquery-latest.js')}}"></script>        
        <script src="{{url_for('static', filename='js/bootstrap-validator.js')}}"></script>
        <script src="{{url_for('static', filename='js/tether.min.js')}}"></script>
	    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.magnific-popup.js')}}"></script>
        <script src="{{url_for('static', filename='js/sly.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/displayNotifications.js')}}"></script>
        <script src="{{url_for('static', filename='js/rangeslider.js')}}"></script>        
        <script src="{{url_for('static', filename='js/bootstrap-slider.js')}}"></script>
        <script src="{{url_for('static', filename='js/magicsuggest-min.js')}}"></script>
        <script src="{{url_for('static', filename='js/sortable.js')}}"></script>
        <script src="{{url_for('static', filename='js/purify.js')}}"></script>
        <script src="{{url_for('static', filename='js/fileinput4.js')}}"></script>
        <script src="{{url_for('static', filename='js/faTheme.js')}}"></script>
        <script src="{{url_for('static', filename='js/dayScheduler11.js')}}"></script>
        <script src="{{url_for('static', filename='js/tagsInput.js')}}"></script>
        <script src="{{url_for('static', filename='js/dobPicker.js')}}"></script>
        <script src="{{url_for('static', filename='js/scrollToFixed.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="https://use.fortawesome.com/2734d16a.js"></script>        
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav class="navbar navbar-light bg-faded" style="max-height: 62px; background-color: #656264;">
            <a class="navbar-brand" href="/index" style="padding-top: 0px;">
                <img src="/static/img/colorLogo.png" style="height: 50px;" alt="logo">
            </a>
			<!-- <a class="navbar-brand" href="{{ url_for('indexs.index') }}">NexNest</a> -->
		    <ul class="nav navbar-nav">
			  	<div class="float-xs-right">
                    {% if current_user %}
                        {% if not current_user.is_authenticated %}
                    <!-- !!NOT LOGGED IN!! -->
			  		<li class="nav-item" style="padding-top: 5px;">
			      		<a class="nav-link btn btn-light-green nexnest-font" href="{{url_for('users.register')}}" style="color: white;">Sign Up</a>
			    	</li>
			    	<li class="nav-item hidden-sm-up" style="padding-top: 5px;">
			      		<a class="nav-link btn btn-light-green nexnest-font" href="{{url_for('users.login')}}" style="color: white;">Sign In</a>
			    	</li>
                    <li class="nav-item hidden-xs-down" style="padding-top: 5px;">
                        <a class="nav-link btn btn-light-green nexnest-font" href="#" data-toggle="modal" data-target="#loginModal" style="color: white;">Sign In</a>
                    </li>
                        {% else %}
                    <!-- LOGGED IN -->
                    <li class="nav-item dropdown hidden-xs-down nexnest-font">                        
                        <a id="accountDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 0px;">
                            <div class="gavatar" style="background-color: #d2d2d2;">
                                <img src="{{current_user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 35px; width: 35px; border-radius: 80px;"/>
                            </div>
                            <strong style="color: #d2d2d2;">My Account</strong>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
                            <div class="navbar-content">
                               <div class="row nexnest-font">
                                   <div class="col-md-5">
                                        <img src="{{current_user.profile_image}}"
                                            alt="Profile Image" class="img-responsive" style="height: 120px;" />
                                        <p class="text-center small" style="text-align: center; padding-left: 10px;">
                                            <a href="#" data-toggle="modal" data-target="#changeAvatarModal">Change Picture</a>
                                        </p>
                                    </div>
                                    <div class="col-md-7" style="text-align: center;">
                                        <span><strong><h5 style="color: #656264;">{{current_user.fname}} {{current_user.lname}}</h5></strong></span>
                                        <h6 class="text-muted" style="padding-bottom: 5px; color: #d2d2d2;">
                                            {{current_user.email}}</h6>
                                        <div class="divider">
                                        </div>
                                        <a href="{{url_for('users.viewUser', userID=current_user.id)}}" class="btn btn-blue btn-sm">My Account</a>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar-footer nexnest-font" style="background-color: #656264;">
                                <div class="navbar-footer-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a class="btn btn-blue btn-sm pull-right" href="#" data-toggle="modal" data-target="#passwordChangeModal">Change Password</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="{{url_for('users.logout')}}" class="btn btn-blue btn-sm pull-right">Sign Out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% if current_user %}
                    <li class="nav-item">
                        <div class="dropdown dropdown-notifications dropdown-toggle nexnest-font">
                            <i data-count="{{ numUnviewedMessages }}" class="fa fa-comments fa-2x notification-icon" style="padding-top: 4px; color: #f4c359;" id="dropdownNotificationButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true"></i>
                            <div class="dropdown-menu dropdown-menu-right" style="color: #656264; overflow:scroll; overflow-x: hidden; width: 93vw; right: -100px; max-height: 75vh;" aria-labelledby="dropdownNotificationButton">
                                <div class="dropdown-toolbar">
                                    <h2 class="dropdown-toolbar-title"><strong style="font-size: 20px;">Messages ({{ numUnviewedMessages }} new)</strong>
                                    <span style="float: right;"><a href="#" id="markAllMessages">Mark All Read</a></span></h2>
                                </div>
                                <ul class="notifications">
                                    <div id="messageArea">
                                    </div>
                                    <br>
                                    <div class="row" id="doIShowMoreMessages" style="display: none;">
                                        <div class="col-xs-12" style="text-align: center;">
                                            <button class="btn btn-secondary" id="moreMessages">See More</button>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown dropdown-notifications dropdown-toggle nexnest-font">
                            <i data-count="{{ numUnviewedNotifications }}" class="fa fa-bell fa-2x notification-icon" style="padding-top: 4px; color: #f4c359;" id="dropdownNotificationButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true"></i>
                            <div class="dropdown-menu dropdown-menu-right" style="color: #656264; overflow:scroll; overflow-x: hidden; width: 93vw; right: -48px; max-height: 75vh;" aria-labelledby="dropdownNotificationButton">
                                <div class="dropdown-toolbar">
                                    <h2 class="dropdown-toolbar-title"><strong style="font-size: 20px;">Notifications ({{ numUnviewedNotifications }} new)</strong>
                                    <span style="float: right;"><a href="#" id="markAllNotif">Mark All Read</a></span></h2>
                                </div>
                                <ul class="notifications">
                                    <div id="notificationArea">
                                    </div>
                                    <br>
                                    <div class="row" id="doIShowMoreNotifications" style="display: none;">
                                        <div class="col-xs-12" style="text-align: center;">
                                            <button class="btn btn-secondary" id="moreNotifications">See More</button>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% endif %}
			  		<li class="nav-item">
		                <div class="dropdown nexnest-font" style="color: #656264;">
			                <i class="fa fa-bars fa-2x dropdown-toggle" style="padding-top: 4px; color: #d2d2d2;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true"></i>
			                <div class="dropdown-menu dropdown-menu-right hamburger-menu" style="top: 51px; right: -16px;" aria-labelledby="dropdownMenuButton">
                                {% if current_user.isLandlord %}
                                    <a class="dropdown-item" href="{{ url_for('landlords.landlordDashboard') }}"><strong class="hamburgerMenuItem">My Dashboard</strong></a>
                                {% else %}
                                    {% if houses|length == 1 %}
                                        <a class="dropdown-item" href="{{houses[0].url}}"><strong class="hamburgerMenuItem">My House</strong></a>
                                    {% elif houses|length > 1 %}
                                        <a class="dropdown-item" href="#" id="showMoreHouses"><strong class="hamburgerMenuItem">My Houses</strong></a>
                                            {% for house in houses %}
                                                <a class="dropdown-item moreHouses" href="{{house.url}}" style="display: none; padding-left: 35px;"><strong class="hamburgerMenuItem extraHouse"></i>-{{house.address}}</strong></a>
                                            {% endfor %}
                                    {% endif %}
				                    <a class="dropdown-item" href="{{ url_for('users.myGroups') }}"><strong class="hamburgerMenuItem">My Groups</strong></a>
                                {% endif %}
				                <a class="dropdown-item" href="{{ url_for('users.viewUser', userID=current_user.id) }}"><strong class="hamburgerMenuItem">My Account</strong></a>
                                <a class="dropdown-item" href="{{ url_for('users.directMessagesAll') }}"><strong class="hamburgerMenuItem">My Messages</strong></a>
                                <div class="dropdown-divider hidden-sm-up"></div>
                                <a class="dropdown-item hidden-sm-up" href="{{url_for('users.logout')}}"><strong class="hamburgerMenuItem">Logout</strong></a>
		                	</div>
		               </div>
	               </li>
		               {% endif %}
	               {% endif %}
			  	</div>
			</ul>
		</nav>
		{% with flashedMessages = get_flashed_messages() %}
		  {% if flashedMessages %}
		    <ul>
		      {% include 'flash.html' %}
		    </ul>
		  {% endif %}
		{% endwith %}
        <div class="row" style="width: 100%;">
            <div class="col-xs-12" style="margin-left: 15px; padding-left: 15px; min-height: 77vh;">
		        {% block content %}{% endblock %}
            </div>
        </div>
        <div class="row" style="width: 100%; padding-top: 0px; margin-left: 0px; overflow-x: hidden; background-color: #656264;">
            <div class="col-xs-12">
                {% include 'footer.html' %}
            </div>
        </div>

		<!-- Login Modal -->
        {% if current_user %}
            {% if not current_user.is_authenticated %}
		      {% include 'loginModel.html' %}
            {% else %}
              {% include 'changePasswordModal.html' %}
              {% include 'changeAvatarModal.html' %}
            {% endif %}
        {% else %}
            {% include 'loginModel.html' %}
        {% endif %}
        {% include 'platformReportModal.html' %}
        {% include 'contactUsModal.html' %}
        {% include 'packageOptionsModal.html' %}
        {% include 'createDirectMessageModal.html' %}
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        {% block scripts %}
        {% endblock %}
		<script>
            $( document ).ready(function() {
                requestURL = "/user/getNotifications/1";
                $.getJSON(requestURL, function(data) {
                    notifications = data['notifications'];
                    notificationDetails = data['paginateDetails'];                   
                    DisplayNotifications();
                    if(notificationDetails.hasNext == true){
                        $("#doIShowMoreNotifications").show();
                    }
                    else{
                        $("#doIShowMoreNotifications").hide();
                    }
                });




                requestURL = "/user/getMessageNotifications/1";
                $.getJSON(requestURL, function(data) {
                    notifications = data['notifications'];
                    notificationDetails = data['paginateDetails'];
                   
                   $.each(notifications, function(index, message) {
                    if(message.category == "generic_message"){
                        var newNotification = `<a href="`+ message.redirectURL +`" id="`+ message.id +`" class="noti" data-redirect="`+ message.redirectURL +`" style="text-decoration: none;">`;
                            if(message.viewed == false){
                                newNotification += `<li class="notification" style="background-color: rgba(86, 134, 197, 0.39); color: #656264;">`;
                            }
                            else{
                                newNotification += `<li class="notification">`;
                            }
                            newNotification += `<div class="media">
                                <div class="media-left vertical-center" style="text-align: center">
                                    <div class="media-object">`;                                        
                                        if(message.notifType == "maintenance_message"){
                                            newNotification += `<i class="fa fa-wrench fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>`;
                                        }
                                        else if(message.notifType == "tour_message"){
                                            newNotification += `<i class="fa fa-calendar fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>`;
                                        }
                                        else if(message.notifType == "group_listing_message"){
                                            newNotification += `<i class="fa fa-handshake-o fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>`;
                                        }
                                        else if(message.notifType == "house_message"){
                                            newNotification += `<i class="fa fa-home fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>`;
                                        }
                                        else{
                                            newNotification += `<i class="fa fa-users fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>`;
                                        }
                                    newNotification+= `</div>
                                </div>
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong class="notification-title">New Message(s)</strong>
                                        </div>`;
                                        if(message.viewed == false){
                                            newNotification += `
                                            <div class="col-xs-6" style="text-align: right;">
                                                <span class="tag tag-nexnest-blue">New Message</span>
                                            </div>`;
                                        }
                                    newNotification += `
                                    </div>
                                    <p class="notification-desc">`+ message.messageObject.contentBrief +`</p>
                                    <div class="notification-meta">
                                        <div class="row">
                                            <div class="col-xs-12 notification-item-footer">`;
                                                    if(message.notifType == "maintenance_message"){
                                                        newNotification += `<strong>Maintenance Request - </strong>`;
                                                    }
                                                    else if(message.notifType == "tour_message"){
                                                        newNotification += `<strong>Tour Request - </strong>`;
                                                    }
                                                    else if(message.notifType == "group_listing_message"){
                                                        newNotification += `<strong>Property Request - </strong>`;
                                                    }
                                                    else if(message.notifType == "house_message"){
                                                        newNotification += `<strong>My House - </strong>`;
                                                    }
                                                    else{
                                                        newNotification += `<strong>Group Message - </strong>`;
                                                    }
                                                newNotification += `
                                                <small class="timestamp timeago notification-item-footer">`+ moment.utc(message.messageObject.date).fromNow() +` </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>`;
                    }
                    else{
                        var newNotification = `<a href="`+message.redirectURL+`" id="`+message.id+`" class="noti" data-redirect="`+ message.redirectURL +`" style="text-decoration: none;">`;
                            if(message.viewed == false){
                                newNotification += `<li class="notification" style="background-color: rgba(86, 134, 197, 0.39); color: #656264;">`;
                            }
                            else{
                                newNotification += `<li class="notification">`;
                            }
                                newNotification += `<div class="media">
                                    <div class="media-left vertical-center" style="text-align: center;">
                                        <div class="media-object">
                                            <img src="`+message.messageObject.user.profileImageURL+`" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle" alt="Name" />
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <strong class="notification-title"> `+message.messageObject.user.fname + " " + message.messageObject.user.lname +` </strong>
                                            </div>`;
                                            if(message.viewed == false){
                                                newNotification += `
                                                <div class="col-xs-6" style="text-align: right;">
                                                    <span class="tag tag-nexnest-blue">New Message</span>
                                                </div>`;
                                            }
                                        newNotification += `
                                        </div>
                                        <p class="notification-desc">`+message.messageObject.contentBrief+`</p>
                                        <div class="notification-meta">
                                            <div class="row">
                                                <div class="col-xs-12 notification-item-footer">
                                                    <strong>Direct Message - </strong>
                                                    <small class="timestamp timeago">`+ moment.utc(message.messageObject.date).fromNow() +`</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>`;
                    }
                    $("#messageArea").append(newNotification);
                   });
                   if(notificationDetails.hasNext == true){
                        $("#doIShowMoreMessages").show();
                   }
                   else{
                        $("#doIShowMoreMessages").hide();
                   }
                });
                $( ".timeago" ).each(function( index ) {
                    var unformattedTime = $(this).html();
                    console.log(unformattedTime);
                    var formattedTime = moment.utc(unformattedTime).fromNow();
                    $(this).html(formattedTime);
                });
            });
            $(document).on('click', '.dropdown-notifications', function (e) {
              e.stopPropagation();
            });
            var currentNotificationPage = 1;
            var currentMessagePage = 1;
			//Login Modal
            $('#loginModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var modal = $(this);
              modal.find('.modal-title').text('Sign In');
            });
            //Password Change Modal
            $('#passwordChangeModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var modal = $(this);
            });
            //Avatar Change Modal
            $('#changeAvatarModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var modal = $(this);
              modal.find('.modal-title').text('Change Profile Picture');
            });
            //Platform Report
            $('#platformReportModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var modal = $(this);
              modal.find('.modal-title').text('Give us Your Feedback!');
              var url = window.location.href;
              $("#sourceURL").val(url);
            });

            //Platform Report
            $('#contactUsModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var modal = $(this);
            });

            //Direct Message
            $('#sendDirectMessageModal').on('show.bs.modal', function (event) {
                console.log(event);
              var button = $(event.relatedTarget);
              var modal = $(this);
              var target_name = $(event.relatedTarget).attr("data-targetname");
              console.log(target_name);
              modal.find('.modal-title').text('Send Direct Message to ' + target_name);
              var target_user_id = $(event.relatedTarget).attr("data-targetID");
              console.log(target_user_id);
              var target_url = '/user/directMessages/'+target_user_id;
              $("#target_user_id").val(target_user_id);
              $('#urlToConversation').attr('href',target_url);
            });

            $(document).on('click','.noti', function (event) {
                event.preventDefault();
                var type = $(event.currentTarget).attr("data-type");
                var redirect = $(event.currentTarget).attr("data-redirect");
                $.ajax({
                    type: "GET",
                    url: "/notification/"+ event.currentTarget.id +"/read/AJAX",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        window.location.replace(redirect)
                    },
                    failure: function(errMsg) {
                        console.log(errMsg);
                    }
                });
            });

            $("#markAllNotif").click(function(event){
                $.ajax({
                    type: "GET",
                    url: "/notification/allRead",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        location.reload();                        
                    },
                    failure: function(errMsg) {
                        console.log(errMsg);
                    }
                });
            });

            $("#markAllMessages").click(function(event){
                $.ajax({
                    type: "GET",
                    url: "/messages/allRead",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        location.reload();
                    },
                    failure: function(errMsg) {
                        console.log(errMsg);
                    }
                });
            });

            $("#moreNotifications").click(function(event){
                currentNotificationPage++;
                requestURL = "/user/getNotifications/"+currentNotificationPage;
                $.getJSON(requestURL, function(data) {
                    notifications = data['notifications'];
                    notificationDetails = data['paginateDetails'];
                   
                   DisplayNotifications();
                   if(notificationDetails.hasNext == true){
                        $("#doIShowMoreNotifications").show();
                   }
                   else{
                        $("#doIShowMoreNotifications").hide();
                   }
                });
            });
            $("#moreMessages").click(function(event){
                currentMessagePage++;
                requestURL = "/user/getMessageNotifications/"+currentMessagePage;
                $.getJSON(requestURL, function(data) {
                    notifications = data['notifications'];
                    notificationDetails = data['paginateDetails'];
                   
                   $.each(notifications, function(index, message) {
                    if(message.category == "generic_message"){
                        console.log(message);
                        var newNotification = `<a href="`+ message.redirectURL +`" id="`+ message.id +`" class="noti" data-redirect="`+ message.redirectURL +`" style="text-decoration: none;">`;
                            if(message.viewed == false){
                                newNotification += `<li class="notification" style="background-color: rgba(86, 134, 197, 0.39); color: #656264;">`;
                            }
                            else{
                                newNotification += `<li class="notification">`;
                            }
                            newNotification += `<div class="media">
                                <div class="media-left vertical-center" style="text-align: center">
                                    <div class="media-object">`;                                        
                                        if(message.notifType == "maintenance_message"){
                                            newNotification += `<i class="fa fa-wrench fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>`;
                                        }
                                        else if(message.notifType == "tour_message"){
                                            newNotification += `<i class="fa fa-calendar fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>`;
                                        }
                                        else if(message.notifType == "group_listing_message"){
                                            newNotification += `<i class="fa fa-handshake-o fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>`;
                                        }
                                        else if(message.notifType == "house_message"){
                                            newNotification += `<i class="fa fa-home fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>`;
                                        }
                                        else{
                                            newNotification += `<i class="fa fa-users fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>`;
                                        }
                                    newNotification+= `</div>
                                </div>
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <strong class="notification-title">New Message(s)</strong>
                                        </div>`;
                                        if(message.viewed == false){
                                            newNotification += `
                                            <div class="col-xs-6" style="text-align: right;">
                                                <span class="tag tag-nexnest-blue">New Message</span>
                                            </div>`;
                                        }
                                    newNotification += `
                                    </div>
                                    <p class="notification-desc">`+ message.messageObject.contentBrief +`</p>
                                    <div class="notification-meta">
                                        <div class="row">
                                            <div class="col-xs-12 notification-item-footer">`;
                                                    if(message.notifType == "maintenance_message"){
                                                        newNotification += `<strong>Maintenance Request - </strong>`;
                                                    }
                                                    else if(message.notifType == "tour_message"){
                                                        newNotification += `<strong>Tour Request - </strong>`;
                                                    }
                                                    else if(message.notifType == "group_listing_message"){
                                                        newNotification += `<strong>Property Request - </strong>`;
                                                    }
                                                    else if(message.notifType == "house_message"){
                                                        newNotification += `<strong>My House - </strong>`;
                                                    }
                                                    else{
                                                        newNotification += `<strong>Group Message - </strong>`;
                                                    }
                                                newNotification += `
                                                <small class="timestamp timeago notification-item-footer">`+ moment.utc(message.messageObject.date).fromNow() +` </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>`;
                    }
                    else{
                        var newNotification = `<a href="`+message.redirectURL+`" id="`+message.id+`" class="noti" data-redirect="`+ message.redirectURL +`" style="text-decoration: none;">`;
                            if(message.viewed == false){
                                newNotification += `<li class="notification" style="background-color: rgba(86, 134, 197, 0.39); color: #656264;">`;
                            }
                            else{
                                newNotification += `<li class="notification">`;
                            }
                                newNotification += `<div class="media">
                                    <div class="media-left vertical-center" style="text-align: center;">
                                        <div class="media-object">
                                            <img src="`+message.messageObject.user.profileImageURL+`" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle" alt="Name" />
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <strong class="notification-title"> `+message.messageObject.user.fname + " " + message.messageObject.user.lname +` </strong>
                                            </div>`;
                                            if(message.viewed == false){
                                                newNotification += `
                                                <div class="col-xs-6" style="text-align: right;">
                                                    <span class="tag tag-nexnest-blue">New Message</span>
                                                </div>`;
                                            }
                                        newNotification += `
                                        </div>
                                        <p class="notification-desc">`+message.messageObject.contentBrief+`</p>
                                        <div class="notification-meta">
                                            <div class="row">
                                                <div class="col-xs-12 notification-item-footer">
                                                    <strong>Direct Message - </strong>
                                                    <small class="timestamp timeago">`+ moment.utc(message.messageObject.date).fromNow() +`</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </a>`;
                    }
                    $("#messageArea").append(newNotification);
                   });
                   if(notificationDetails.hasNext == true){
                        $("#doIShowMoreMessages").show();
                   }
                   else{
                        $("#doIShowMoreMessages").hide();
                   }
                });
            });
            
            $("#showMoreHouses").click(function(e) {
                 e.stopPropagation(); 
                $(".moreHouses").show();
            });

            //limit text shown of each house
            $(".extraHouse").text(function(index, currentText) {
                return currentText.substr(0, 10);
            });
		</script>
	</body>
</html>
