<!DOCTYPE html>
<html lang="en">
	<head>
	    {% if title %}
	    <title>{{ title }} - NexNest</title>
	    {% else %}
	    <title>NexNest</title>
	    {% endif %}
	    <link href="/static/css/bootstrap-flex.css" rel="stylesheet">
	    <link href="/static/css/customStyling.css" rel="stylesheet">
	    <link rel="stylesheet" href="/static/font-awesome-4.6.3/css/font-awesome.min.css">
	    <script src="/static/js/jquery-latest.js"></script>
	    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav class="navbar navbar-light bg-faded">
			<a class="navbar-brand" href="{{ url_for('indexs.index') }}">NexNest</a>
		    <ul class="nav navbar-nav">
			  	<div class="float-lg-right">
			  		<li class="nav-item">
			      		<a class="nav-link" href="{{url_for('users.register')}}">Sign Up</a>
			    	</li>
			    	<li class="nav-item">
			      		<a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Sign In</a>
			    	</li>
			  		<li class="nav-item">
		                <div class="dropdown">
			                <i class="fa fa-bars fa-2x dropdown-toggle" style="padding-top: 4px;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true"></i>
			                <div class="dropdown-menu dropdown-menu-right" style="overflow:hidden;" aria-labelledby="dropdownMenuButton">
				                <a class="dropdown-item" href="{{ url_for('indexs.index') }}">My Groups</a>
				                <a class="dropdown-item" href="{{ url_for('indexs.index') }}">My Account</a>
		                	</div>
		               </div>
	               </li>
			  	</div>
			</ul>
		</nav>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul>
		    {% for message in messages %}
		        {% include 'flash.html' %}
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
		{% block content %}{% endblock %}

		<!-- Register Modal -->
		<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="register" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		        		<h4 class="modal-title" id="register"></h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="row">
		      				<div class="col-xs-2"></div>
		      				<div class="col-xs-4">
		      					<a href="{{ url_for('registerTenants.registerTenant') }}" class="btn btn-info btn-block" role="button">Tenant</a>
		      				</div>
		      				<div class="col-xs-4">
		      					<a href="{{ url_for('registerLandlords.registerLandlord') }}" class="btn btn-info btn-block" role="button">Landlord</a>
		      				</div>
		      			</div>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			      	</div>
		    	</div>
		  	</div>
		</div>

		<!-- Login Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		        		<h4 class="modal-title" id="login"></h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="row">
		      				<div class="col-xs-2"></div>
		      				<div class="col-xs-8">
		      					{% from "_formhelpers.html" import render_field %}
  								<form method=post>
  								  	<dl>
  									    {{ render_field(login_form.email, class="form-control", type="email") }}
  									    {{ render_field(login_form.password, class="form-control", type="password") }}
  								  	</dl>
  								  	<p>
  								  		<input type='submit' value='Login' class="btn btn-info">
  								  	</p>
  								</form>
		      				</div>
		      			</div>
		      		</div>
			      	<div class="modal-footer">
			      		<a href="#registerModal" data-toggle="modal" data-dismiss="modal">Need to register?</a>
			        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			      	</div>
		    	</div>
		  	</div>
		</div>

		<script>
			//Register Account Modal
			$('#registerModal').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget)
			  var modal = $(this)
			  modal.find('.modal-title').text('Register as tenant or landlord?')
			})

			//Login Modal
			$('#loginModal').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget)
			  var modal = $(this)
			  modal.find('.modal-title').text('Login to NexNest')
			})
		</script>
	</body>
</html>