<!DOCTYPE html>
<html lang="en">
	<head>
	    {% if title %}
	    <title>{{ title }} - NexNest</title>
	    {% else %}
	    <title>NexNest</title>
	    {% endif %}
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	    <link href="/static/css/bootstrap-flex.css" rel="stylesheet">
	    <link href="/static/css/customStyling.css" rel="stylesheet">
	    <link rel="stylesheet" href="/static/font-awesome-4.6.3/css/font-awesome.min.css">
	    <script src="/static/js/jquery-latest.js"></script>
	    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<nav class="navbar navbar-light bg-faded">
			<a class="navbar-brand" href="{{ url_for('indexs.index') }}">NexNest</a>
		    <ul class="nav navbar-nav">
			  	<div class="float-lg-right">
                    {% if current_user %}
                        {% if not current_user.is_authenticated %}
        			  		<li class="nav-item">
        			      		<a class="nav-link" href="{{url_for('users.register')}}">Sign Up</a>
        			    	</li>
        			    	<li class="nav-item">
        			      		<a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Sign In</a>
        			    	</li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('users.logout')}}">Logout</a>
                            </li>
                            <li class="nav-item">
                                {{current_user.fname}} {{current_user.lname}} - {{current_user.id}}
                            </li>                                      
				  		<li class="nav-item">
			                <div class="dropdown">
				                <i class="fa fa-bars fa-2x dropdown-toggle" style="padding-top: 4px;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-hidden="true"></i>
				                <div class="dropdown-menu dropdown-menu-right" style="overflow:hidden;" aria-labelledby="dropdownMenuButton">
					                <a class="dropdown-item" href="{{ url_for('users.myGroups') }}">My Groups</a>
					                <a class="dropdown-item" href="{{ url_for('users.viewUser', userID=current_user.id) }}">My Account</a>
			                	</div>
			               </div>
		               </li>
		               {% endif %}
	               {% endif %}
			  	</div>
			</ul>
		</nav>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul>
		    {% for message in messages %}
		        {% include 'flash.html' %}
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
		{% block content %}{% endblock %}

		<!-- Login Modal -->
        {% if current_user %}
            {% if not current_user.is_authenticated %}
		      {% include loginModel.html %}
            {% endif %}
        {% else %}
            {% include loginModel.html %}
        {% endif %}
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        {% block scripts %}
        {% endblock %}
		<script>
			//Login Modal
            $('#loginModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget)
              var modal = $(this)
              modal.find('.modal-title').text('Login to NexNest')
            });
            //Register Account Modal
            // $('#registerModal').on('show.bs.modal', function (event) {
            //   var button = $(event.relatedTarget)
            //   var modal = $(this)
            //   modal.find('.modal-title').text('Register as tenant or landlord?')
            // })
		</script>
	</body>
</html>