{% extends "base.html" %}
{% block content %}
	<br>
	<div class="row m-x-auto nexnest-font">
		<div class="col-xs-0 col-lg-3"></div>
		<div class="col-xs-12 col-lg-6">
			PLACEHOLDER TEXT: Create a group to begin adding members to live with
			<br>
			{% from "_formhelpers.html" import render_field %}
			<form method=post>
			{{form.csrf_token}}
			  	<dl>
				    {{ render_field(form.name, class="form-control", type="text") }}
				    {{ render_field(form.start_date, class="form-control") }}
                    {{ render_field(form.end_date, class="form-control") }}
			  	</dl>
			  	<p>
			  		<input type='submit' value='Create Group' class="btn btn-blue">
			  	</p>
			</form>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script>
    $( function() {
        $("#start_date").datepicker();
        $("#end_date").datepicker();
        $("#start_date").datepicker("option", "dateFormat", 'yy-mm-dd' );
        $("#end_date").datepicker("option", "dateFormat", 'yy-mm-dd' );
    });
</script>
{% endblock %}