{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-xs-1 col-md-3 col-lg-3"></div>
		<div class="col-xs-10 col-md-6 col-lg-6">
			<div class="gallery" align="center">
				<div class="preview" align="center">
					<img name="preview" src="../static/img/testHouse.jpg" style="height: 300px; width: 100%;" alt=""/>
				</div>
				<br>
				<div class="thumbnails">
					<img onmouseover="preview.src=img1.src" name="img1" src="/static/img/testHouse.jpg" style="width: 100px; height: 100px;" alt=""/>
					<img onmouseover="preview.src=img2.src" name="img2" src="/static/img/testLivingRoom.jpg" style="width: 100px; height: 100px;" alt=""/>
					<img onmouseover="preview.src=img3.src" name="img3" src="/static/img/testKitchen.jpg" style="width: 100px; height: 100px;" alt=""/>
					<img onmouseover="preview.src=img4.src" name="img4" src="/static/img/testBathroom.jpg" style="width: 100px; height: 100px;" alt=""/>
					<img onmouseover="preview.src=img5.src" name="img5" src="/static/img/testBedroom.jpg" style="width: 100px; height: 100px;" alt=""/>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 col-md-3 col-lg-3"></div>
		<div class="col-xs-10 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-7">
					<h4>{{ listing.street }},</h4>
					<h5>{{ listing.city }}, {{ listing.state }}, {{ listing.zip_code }}</h5>
				</div>
				<div class="col-xs-5" style="text-align: right">
					<h2>${{ listing.price }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7">
					<i class="fa fa-bed" aria-hidden="true"></i> {{ listing.num_bedrooms }} Bedrooms - 3 Bathrooms - {{ listing.square_footage }} sqft
				</div>
				<div class="col-xs-5" style="text-align: right">
					<strong>Landlord: </strong>Pablo Revis
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4" style="text-align:left">
					<a href="{{ url_for('indexs.index') }}" class="btn btn-info">Contact Landlord</a>
				</div>
				<div class="col-lg-4 col-centered">
					<a href="{{ url_for('indexs.index') }}" class="btn btn-info">Request Tour</a>
				</div>
				<div class="col-lg-4" style="text-align:right">
					<a href="{{ url_for('indexs.index') }}" class="btn btn-info">Suggest To Group</a>
				</div>
			</div>
			<hr>
			<div class="row">
				{{ listing.description }}
			</div>
			<br>
			<div class="row">
				<h4><u>Details:</u></h4>
				<br>	
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Lease Start:</strong> {{ listing.start_date }}
				</div>
				<div class="col-lg-4">
					<strong>Lease End:</strong> {{ listing.end_date }}
				</div>
				<div class="col-lg-4">
					<strong>Unit Type:</strong> {{ listing.unit_type }}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Furnished:</strong> {% if listing.furnished %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Utilities Included:</strong> {% if listing.utilities_included %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Emergency Maintenance:</strong> {% if listing.emergency_maintenance %} Yes {% else %} No {% endif %}
				</div>
			</div>			
			<div class="row">
				<div class="col-lg-4">
					<strong>Cats:</strong> {% if listing.cats %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Dogs:</strong> {% if listing.dogs %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Other Pets:</strong> {% if listing.other_pets %} Yes {% else %} No {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Washer:</strong> {% if listing.washer %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Dryer:</strong> {% if listing.dryer %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>DishWasher:</strong> {% if listing.dishwasher %} Yes {% else %} No {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>A/C:</strong> {% if listing.air_conditioning %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Parking:</strong> {{ listing.parking }}
				</div>
				<div class="col-lg-4">
					<strong>Handicap Accessible:</strong> {% if listing.handicap %} Yes {% else %} No {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Snow Plowing:</strong> {% if listing.snow_plowing %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Garbage Service:</strong> {% if listing.garbage_service %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Security Service:</strong> {% if listing.security_service %} Yes {% else %} No {% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}