{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-xs-1 col-md-3 col-lg-3"></div>
		<div class="col-xs-10 col-md-6 col-lg-6">
			<div class="gallery" align="center">
				<div class="preview" align="center">
					<img name="preview" src="/static/img/testHouse.jpg" style="height: 300px; width: 100%;" alt=""/>
				</div>
				<br>
				<div class="thumbnails">
					<img onmouseover="preview.src=img1.src" name="img1" src="/static/img/testHouse.jpg" style="width: 100px; height: 100px;" alt=""/>
					<img onmouseover="preview.src=img2.src" name="img2" src="/static/img/testLivingRoom.jpg" style="width: 100px; height: 100px;" alt=""/>
					<img onmouseover="preview.src=img3.src" name="img3" src="/static/img/testKitchen.jpg" style="width: 100px; height: 100px;" alt=""/>
					<img onmouseover="preview.src=img4.src" name="img4" src="/static/img/testBathroom.jpg" style="width: 100px; height: 100px;" alt=""/>
					<img onmouseover="preview.src=img5.src" name="img5" src="/static/img/testBedroom.jpg" style="width: 100px; height: 100px;" alt=""/>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 col-md-3 col-lg-3"></div>
		<div class="col-xs-10 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-7">
					<h4>{{ listing.street }},</h4>
					<h5>{{ listing.city }}, {{ listing.state }}, {{ listing.zip_code }}</h5>
				</div>
				<div class="col-xs-5" style="text-align: right">
					<h2>${{ listing.price }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7">
					<i class="fa fa-bed" aria-hidden="true"></i> {{ listing.num_bedrooms }} Bedrooms - {{ listing.num_full_baths }} Full Bathrooms - {{ listing.num_half_baths }} Half Bathrooms - {{ listing.square_footage }} sqft
				</div>
				<div class="col-xs-5" style="text-align: right">
					<strong>Landlord: </strong>Pablo Revis
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3" style="text-align:left">
					<a href="{{ url_for('indexs.index') }}" class="btn btn-info">Contact Landlord</a>
				</div>
				<div class="col-lg-3 col-centered">					
		            <a href='#' class="btn btn-info" data-toggle="modal" data-target="#selectGroupForTourModal">Request Tour</a>
				</div>
				<div class="col-lg-3 col-centered">
					<a href="{{ url_for('indexs.index') }}" class="btn btn-info">Request House</a>
				</div>
				<div class="col-lg-3" style="text-align:right">
					<a href='#' class="btn btn-info" data-toggle="modal" data-target="#suggestListingModal">Suggest To Group</a>
				</div>
			</div>
			<hr>
			<div class="row">
				{{ listing.description }}
			</div>
			<br>
			<div class="row">
				<h4><u>Details:</u></h4>
				<br>	
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Lease Start:</strong> {{ listing.start_date }}
				</div>
				<div class="col-lg-4">
					<strong>Lease End:</strong> {{ listing.end_date }}
				</div>
				<div class="col-lg-4">
					<strong>Unit Type:</strong> {{ listing.unit_type }}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Furnished:</strong> {% if listing.furnished %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Utilities Included:</strong> {% if listing.utilities_included %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Emergency Maintenance:</strong> {% if listing.emergency_maintenance %} Yes {% else %} No {% endif %}
				</div>
			</div>			
			<div class="row">
				<div class="col-lg-4">
					<strong>Cats:</strong> {% if listing.cats %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Dogs:</strong> {% if listing.dogs %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Other Pets:</strong> {% if listing.other_pets %} Yes {% else %} No {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Washer:</strong> {% if listing.washer %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Dryer:</strong> {% if listing.dryer %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>DishWasher:</strong> {% if listing.dishwasher %} Yes {% else %} No {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>A/C:</strong> {% if listing.air_conditioning %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Parking:</strong> {{ listing.parking }}
				</div>
				<div class="col-lg-4">
					<strong>Handicap Accessible:</strong> {% if listing.handicap %} Yes {% else %} No {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Snow Plowing:</strong> {% if listing.snow_plowing %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Garbage Service:</strong> {% if listing.garbage_service %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Security Service:</strong> {% if listing.security_service %} Yes {% else %} No {% endif %}
				</div>
			</div>
		</div>
	</div>

	<!-- Suggest Listing Modal -->
		<div class="modal fade" id="suggestListingModal" tabindex="-1" role="dialog" aria-labelledby="suggestListingModal" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		        		<h4 class="modal-title" id="login"></h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="row">
		      				<div class="col-xs-1"></div>
		      				<div class="col-xs-10">
		      					{% for group in groups %}
			      					<div class="card" style="width:100%;">
			      					    <h3 class="card-header">{{ group.name }}</h3>
			      					    <div class="card-block">	        
			      					        <p class="card-text">
			      					        	<strong>Group Leader:</strong>{{ group.leader.fname }} {{ group.leader.lname }}
			      					        </p>
			      					    	<p class="card-text">
			      					    		<strong>Intended Lease Period:</strong> {{ group.start_date }} - {{ group.end_date }}
			      					    	</p>
			      					    	<p class="card-text">
			      					    		<strong><a href=# id="allMembersToggle{{group.id}}">See all members</a></strong>
			      					    		<div id="allMembers{{group.id}}" style="display: none;">
		      					    				{% for user in group.acceptedUsers %}
		      					    			    	<li>{{ user.fname }} {{ user.lname }}</li>
		      					    			    {% endfor %}
			      					    		</div>
			      					    	</p>
			      					    	<form id="suggest_listing" action="{{url_for('groups.suggestListing')}}" method="POST">
			      					    	    {{ suggest_listing_form.csrf_token }}
			      					    	    {{ suggest_listing_form.group_id }}
			      					    	    {{ suggest_listing_form.listing_id(value=listing.id) }}
			      					    	</form>  
					      					<a href='#' onClick="submitForm({{group.id}})" class="btn btn-primary" id="group.id">Suggest Listing</a>	
			      					    </div>
			      					</div>
			      					<script>
			      						function submitForm(id) {
			      							$("#group_id").val(id);
			      						    $("#suggest_listing").submit()
			      						}
			      						//Suggest Listing Modal
			      						$('#suggestListingModal').on('show.bs.modal', function (event) {
			      						  var button = $(event.relatedTarget)
			      						  var modal = $(this)
			      						  modal.find('.modal-title').text('Suggest to Which Group?')
			      						})

			      						//Show/hide all members of group
			      						$("#allMembersToggle{{group.id}}").click(function(){
			      						    $("#allMembers{{group.id}}").toggle();
			      						});
			      					</script>
		      					{% endfor %}
		      				</div>
		      			</div>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			      	</div>
		    	</div>
		  	</div>
		</div>
		<!-- Tour Request Select Group Modal -->
		<div class="modal fade" id="selectGroupForTourModal" tabindex="-1" role="dialog" aria-labelledby="selectGroupForTourModal" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		        		<h4 class="modal-title" id="login"></h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="row">
		      				<div class="col-xs-1"></div>
		      				<div class="col-xs-10">
		      					{% for group in groups %}
			      					<div class="card" style="width:100%;">
			      					    <h3 class="card-header">{{ group.name }}</h3>
			      					    <div class="card-block">	        
			      					        <p class="card-text">
			      					        	<strong>Group Leader:</strong>{{ group.leader.fname }} {{ group.leader.lname }}
			      					        </p>
			      					    	<p class="card-text">
			      					    		<strong>Intended Lease Period:</strong> {{ group.start_date }} - {{ group.end_date }}
			      					    	</p>
			      					    	<p class="card-text">
			      					    		<strong><a href=# id="allTourMembersToggle{{group.id}}">See all members</a></strong>
			      					    		<div id="allTourMembers{{group.id}}" style="display: none;">
		      					    				{% for user in group.acceptedUsers %}
		      					    			    	<li>{{ user.fname }} {{ user.lname }}</li>
		      					    			    {% endfor %}
			      					    		</div>
			      					    	</p>
			      					    	<!-- If group.hasTourForLisiting -->
					      					<button class="btn btn-primary" data-toggle="modal" data-target="#requestTourModal" data-group="{{group.id}}" data-dismiss="modal">Select Group</button>
			      					    </div>
			      					</div>
			      					<script>
			      						function submitForm(id) {
			      							$("#group_id").val(id);
			      						    $("#suggest_listing").submit()
			      						}
			      						//Suggest Listing Modal
			      						$('#selectGroupForTourModal').on('show.bs.modal', function (event) {
			      						  var button = $(event.relatedTarget)
			      						  var modal = $(this)
			      						  modal.find('.modal-title').text('Request Tour for Which Group?')
			      						})
			      						//Show/hide all members of group
			      						$("#allTourMembersToggle{{group.id}}").click(function(){
			      						    $("#allTourMembers{{group.id}}").toggle();
			      						});
			      					</script>
		      					{% endfor %}
		      				</div>
		      			</div>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			      	</div>
		    	</div>
		  	</div>
		</div>

		<!--Request Tour Modal-->
		<div class="modal fade" id="requestTourModal" tabindex="-1" role="dialog" aria-labelledby="requestTour" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		        		<h4 class="modal-title" id="login"></h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="row">
		      				<div class="col-xs-1"></div>
		      				<div class="col-xs-10">
		      					<form id="request_tour" action="{{url_for('tours.createTour')}}" method="POST">
		      					    {{ request_tour_form.csrf_token }}
		      					    {{ request_tour_form.group_tour_id }}
		      					    {{ request_tour_form.listing_id(value=listing.id) }}
		      					    {{ request_tour_form.requestedDateTime() }}		      					
			      					<p class="flatpickr input-group" data-wrap="true" data-clickOpens="false">
			      						<input id="tourRequestTime" placeholder="Pick date" data-input style="background-color: inherit;">
			      						<a class="btn input-btn" style="border-color: #ddd;" data-toggle><i class="fa fa-calendar" aria-hidden="true"></i></a>
			      						<a class="btn input-btn" style="border-color: #ddd;" data-clear><i class="fa fa-times" aria-hidden="true"></i></a>
			      					</p>
			      					{% from "_formhelpers.html" import render_field %}
			      					{{ render_field(request_tour_form.description, class="form-control", type="text") }}
		      					</form>  
		      				</div>
		      			</div>
		      			<div id="groupNumber" style="display: none;"></div>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-primary" onClick="submitTourForm()" data-dismiss="modal">Request Tour</button>
			      	</div>
		    	</div>
		  	</div>
		</div>
	</body>
</html>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        flatpickr(".flatpickr", {
        	enableTime: true,
        	altInput: true,
        	altFormat: "F j, Y h:i K",
        	minuteIncrement: 15,
        	disable: [{from: "0001-01-01",
        			  to: "today"}]
        });
    });
    //Suggest Listing Modal
    $('#requestTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      var group = $(event.relatedTarget).data('group');
      modal.find('.modal-title').text('Request a Tour');
      modal.find('#groupNumber').text(group);
    })

    function submitTourForm() {
    	$("#group_tour_id").val($("#groupNumber").text());
    	$("#requestedDateTime").val($("#tourRequestTime").val());
        $("#request_tour").submit();
    }
</script>
{% endblock %}
