{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-xs-1 col-md-3 col-lg-3"></div>
		<div class="col-xs-10 col-md-6 col-lg-6">
			<div class="row">
				<a class="test-popup-link" href="/static/img/testHouse.jpg">
					<img src="/static/img/testHouse.jpg" style="height: 300px; width: 100%;">
				</a>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12" style="text-align: center;">
					<div class="popup-gallery">
						<a href="/static/img/testKitchen.jpg" data-group="1" class="galleryItem">
							<img src="/static/img/testKitchen.jpg" width="150" height="150">
						</a>
						<a href="/static/img/testLivingRoom.jpg" data-group="1" class="galleryItem"">
							<img src="/static/img/testLivingRoom.jpg" width="150" height="150">
						</a>
						<a href="/static/img/testBathroom.jpg" data-group="1" class="galleryItem"">
							<img src="/static/img/testBathroom.jpg" width="150" height="150">
						</a>
						<a href="/static/img/testBedroom.jpg" data-group="1" class="galleryItem">
							<img src="/static/img/testBedroom.jpg" width="150" height="150">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 col-md-3 col-lg-3"></div>
		<div class="col-xs-10 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-7">
					<br>
					<h4>{{ listing.street }},
					<br>
					{{ listing.city }}, {{ listing.state }}, {{ listing.zip_code }}</h4>
					<h5>${{ listing.price }} Per Bedroom Per {{ listing.rent_due }}</h5>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-3" style="text-align:left">
					<a href="{{ url_for('indexs.index') }}" class="btn btn-info">Contact Landlord</a>
				</div>
				<div class="col-lg-3 col-centered">					
		            <a href='#' class="btn btn-info" data-toggle="modal" data-target="#selectGroupForTourModal">Request Tour</a>
				</div>
				<div class="col-lg-3 col-centered">
					<a href='#' class="btn btn-info" data-toggle="modal" data-target="#selectGroupForHouseModal">Request House</a>
				</div>
				<div class="col-lg-3" style="text-align:right">
					<a href='#' class="btn btn-info" data-toggle="modal" data-target="#suggestListingModal">Suggest To Group</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<strong>Property Description:</strong> {{ listing.description }}
			</div>
			<div class="row">
				<div class="col-xl-4" style="padding-top: 25px;">
					<h2><strong>Lease:</strong></h2>
					<strong>Time Period:</strong> {{ listing.time_period }}
					<br>
					<strong>Start Date:</strong> {{ listing.start_date }}
					<br>
					<strong>End Date:</strong> {{ listing.end_date }}
					<br>
					{% if listing.rent_due == "semester" %}					
						<strong>First Semester Rent Due:</strong> {{ listing.first_semester_rent_due_date }}
						<strong>Second Semester Rent Due:</strong> {{ listing.second_semester_rent_due_date }}
					{% elif listing.rent_due == "monthly" %}
						<strong>Rent Due: </strong>1st of each month
					{% endif %}

				</div>
				<div class="col-xl-4" style="padding-top: 25px;">
					<h2><strong>Property:</strong></h2>
					Property Type: {{ listing.property_type }}
					<br>
					<i class="fa fa-bed" aria-hidden="true"></i> {{ listing.num_bedrooms }} Beds
					<br>
					<i class="fa fa-bath" aria-hidden="true"></i>{{ listing.num_full_baths }} Full Baths
					<br>
					{% if listing.num_half_baths > 0 %}
						<i class="fa fa-bath" aria-hidden="true"></i>{{ listing.num_half_baths }} Half Baths
						<br>
					{% endif %}
					{{ listing.square_footage }} SQFT
					<br>
					{% if listing.utilities_included %}
						Utilities Included
						<br>
					{% endif %}
					{% if listing.furnished %}
						Property Furnished
						<br>
					{% endif %}
					{% if listing.handicap %}
						Handicap Accessible
						<br>
					{% endif %}
					Parking: {{ listing.parking }}
				</div>
				<div class="col-xl-4" style="padding-top: 25px;">
					<h2><strong>Appliances:</strong></h2>
					{% if listing.air_conditioning %}
						<li>Air Conditioning</li>
					{% endif %}
					{% if listing.washer %}
						<li>Washing Machine</li>
					{% endif %}					
					{% if listing.dryer %}
						<li>Dryer</li>
					{% endif %}
					{% if listing.dishwasher %}
						<li>Dishwasher</li>
					{% endif %}
				</div>
				<div class="col-xl-4" style="padding-top: 25px;">
					<h2><strong>Services Included:</strong></h2>
					{% if listing.snow_plowing %}
						<li>Snow Plowing</li>
					{% endif %}
					{% if listing.garbage_service %}
						<li>Garbage Removal</li>
					{% endif %}
					{% if listing.security_service %}
						<li>Security Services</li>
					{% endif %}
					{% if listing.emergency_maintenance %}
						<li>Emergency Maintenance</li>
					{% endif %}
				</div>
				<div class="col-xl-4" style="padding-top: 25px;">
					<h2><strong>Pets Allowed:</strong></h2>
					{% if listing.dogs %}
						<li>Dogs</li>
					{% endif %}
					{% if listing.cats %}
						<li>Cats</li>
					{% endif %}
					{% if listing.other_pets %}
						<li>Other Pets</li>
					{% endif %}
				</div>
			</div>
			<br><br>

			<!-- <div class="row">
				<h4><u>Details:</u></h4>
				<br>	
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Lease Start:</strong> {{ listing.start_date }}
				</div>
				<div class="col-lg-4">
					<strong>Lease End:</strong> {{ listing.end_date }}
				</div>
				<div class="col-lg-4">
					<strong>Unit Type:</strong> {{ listing.property_type }}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Furnished:</strong> {% if listing.furnished %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Utilities Included:</strong> {% if listing.utilities_included %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Emergency Maintenance:</strong> {% if listing.emergency_maintenance %} Yes {% else %} No {% endif %}
				</div>
			</div>			
			<div class="row">
				<div class="col-lg-4">
					<strong>Cats:</strong> {% if listing.cats %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Dogs:</strong> {% if listing.dogs %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Other Pets:</strong> {% if listing.other_pets %} Yes {% else %} No {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Washer:</strong> {% if listing.washer %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Dryer:</strong> {% if listing.dryer %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>DishWasher:</strong> {% if listing.dishwasher %} Yes {% else %} No {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>A/C:</strong> {% if listing.air_conditioning %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Parking:</strong> {{ listing.parking }}
				</div>
				<div class="col-lg-4">
					<strong>Handicap Accessible:</strong> {% if listing.handicap %} Yes {% else %} No {% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<strong>Snow Plowing:</strong> {% if listing.snow_plowing %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Garbage Service:</strong> {% if listing.garbage_service %} Yes {% else %} No {% endif %}
				</div>
				<div class="col-lg-4">
					<strong>Security Service:</strong> {% if listing.security_service %} Yes {% else %} No {% endif %}
				</div>
			</div> -->
		</div>
	</div>

	<!-- Suggest Listing Modal -->
		<div class="modal fade" id="suggestListingModal" tabindex="-1" role="dialog" aria-labelledby="suggestListingModal" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		        		<h4 class="modal-title" id="login"></h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="row">
		      				<div class="col-xs-1"></div>
		      				<div class="col-xs-10">
		      					{% for group in groups %}
			      					<div class="card" style="width:100%;">
			      					    <h3 class="card-header">{{ group.name }}</h3>
			      					    <div class="card-block">	        
			      					        <p class="card-text">
			      					        	<strong>Group Leader:</strong>{{ group.leader.fname }} {{ group.leader.lname }}
			      					        </p>
			      					    	<p class="card-text">
			      					    		<strong>Intended Lease Period:</strong> {{ group.start_date }} - {{ group.end_date }}
			      					    	</p>
			      					    	<p class="card-text">
			      					    		<strong><a href=# id="allMembersToggle{{group.id}}">See all members</a></strong>
			      					    		<div id="allMembers{{group.id}}" style="display: none;">
		      					    				{% for user in group.acceptedUsers %}
		      					    			    	<li>{{ user.fname }} {{ user.lname }}</li>
		      					    			    {% endfor %}
			      					    		</div>
			      					    	</p>
			      					    	<!--TODO: FIX THIS-->
			      					    	<form id="suggest_listing" action="{{url_for('housingRequests.create')}}" method="POST">
			      					    	    {{ suggestListingForm.csrf_token }}
			      					    	    {{ suggestListingForm.group_id }}
			      					    	    {{ suggestListingForm.listing_id(value=listing.id) }}
			      					    	</form>  
					      					<a href='#' onClick="submitForm({{group.id}})" class="btn btn-primary" id="group.id">Suggest Listing</a>	
			      					    </div>
			      					</div>
			      					<script>
			      						function submitForm(id) {
			      							$("#group_id").val(id);
			      						    $("#suggest_listing").submit()
			      						}
			      						//Suggest Listing Modal
			      						$('#suggestListingModal').on('show.bs.modal', function (event) {
			      						  var button = $(event.relatedTarget)
			      						  var modal = $(this)
			      						  modal.find('.modal-title').text('Suggest to Which Group?')
			      						})

			      						//Show/hide all members of group
			      						$("#allMembersToggle{{group.id}}").click(function(){
			      						    $("#allMembers{{group.id}}").toggle();
			      						});
			      					</script>
		      					{% endfor %}
		      				</div>
		      			</div>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			      	</div>
		    	</div>
		  	</div>
		</div>
		<!-- Tour Request Select Group Modal -->
		<div class="modal fade" id="selectGroupForTourModal" tabindex="-1" role="dialog" aria-labelledby="selectGroupForTourModal" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		      			<strong>Select Which Group You're Requesting this Tour for:</strong>
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		        		<h4 class="modal-title" id="login"></h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="row">
		      				<div class="col-xs-1"></div>
		      				<div class="col-xs-10">
		      					{% for group in groups %}
			      					<div class="card" style="width:100%;">
			      					    <h3 class="card-header">{{ group.name }}</h3>
			      					    <div class="card-block">	        
			      					        <p class="card-text">
			      					        	<strong>Group Leader:</strong>{{ group.leader.fname }} {{ group.leader.lname }}
			      					        </p>
			      					    	<p class="card-text">
			      					    		<strong>Intended Lease Period:</strong> {{ group.start_date }} - {{ group.end_date }}
			      					    	</p>
			      					    	<p class="card-text">
			      					    		<strong><a href=# id="allTourMembersToggle{{group.id}}">See all members</a></strong>
			      					    		<div id="allTourMembers{{group.id}}" style="display: none;">
		      					    				{% for user in group.acceptedUsers %}
		      					    			    	<li>{{ user.fname }} {{ user.lname }}</li>
		      					    			    {% endfor %}
			      					    		</div>
			      					    	</p>
			      					    	<!-- If group.hasTourForLisiting -->
					      					<button class="btn btn-primary" data-toggle="modal" data-target="#requestTourModal" data-group="{{group.id}}" data-dismiss="modal">Select Group</button>
			      					    </div>
			      					</div>
			      					<script>
			      						//Show/hide all members of group
			      						$("#allTourMembersToggle{{group.id}}").click(function(){
			      						    $("#allTourMembers{{group.id}}").toggle();
			      						});
			      					</script>
		      					{% endfor %}
		      				</div>
		      			</div>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			      	</div>
		    	</div>
		  	</div>
		</div>

		<!--Request Tour Modal-->
		<div class="modal fade" id="requestTourModal" tabindex="-1" role="dialog" aria-labelledby="requestTour" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">		      		
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		        		<h4 class="modal-title" id="requestTour"></h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="row">
		      				<div class="col-xs-1"></div>
		      				<div class="col-xs-10">
		      					<form id="request_tour" action="{{url_for('tours.createTour')}}" method="POST">
		      					    {{ requestTourForm.csrf_token }}
		      					    {{ requestTourForm.group_tour_id }}
		      					    {{ requestTourForm.listing_id(value=listing.id) }}
		      					    {{ requestTourForm.requestedDateTime() }}		      					
			      					<p class="flatpickr input-group" data-wrap="true" data-clickOpens="false">
			      						<input id="tourRequestTime" placeholder="Pick date" data-input style="background-color: inherit;">
			      						<a class="btn input-btn" style="border-color: #ddd;" data-toggle><i class="fa fa-calendar" aria-hidden="true"></i></a>
			      						<a class="btn input-btn" style="border-color: #ddd;" data-clear><i class="fa fa-times" aria-hidden="true"></i></a>
			      					</p>
			      					{% from "_formhelpers.html" import render_field %}
			      					{{ render_field(requestTourForm.description, class="form-control", type="text") }}
		      					</form>  
		      				</div>
		      			</div>
		      			<div id="groupNumber" style="display: none;"></div>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-primary" onClick="submitTourForm()" data-dismiss="modal">Request Tour</button>
			      	</div>
		    	</div>
		  	</div>
		</div>

		<!-- House Request Select Group Modal -->
		<div class="modal fade" id="selectGroupForHouseModal" tabindex="-1" role="dialog" aria-labelledby="selectGroupForHouseModal" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		      			<strong>Select Which Group You're Requesting this {{listing.property_type}} for:</strong>
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		        		<h4 class="modal-title" id="requestHouseGroup"></h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="row">
		      				<div class="col-xs-1"></div>
		      				<div class="col-xs-10">
		      					{% for group in groups %}
			      					<div class="card" style="width:100%;">
			      					    <h3 class="card-header">{{ group.name }}</h3>
			      					    <div class="card-block">	        
			      					        <p class="card-text">
			      					        	<strong>Group Leader:</strong>{{ group.leader.fname }} {{ group.leader.lname }}
			      					        </p>
			      					    	<p class="card-text">
			      					    		<strong>Intended Lease Period:</strong> {{ group.start_date }} - {{ group.end_date }}
			      					    	</p>
			      					    	<p class="card-text">
			      					    		<strong><a href=# id="allHouseRequestMembersToggle{{group.id}}">See all members</a></strong>
			      					    		<div id="allHouseRequestMembers{{group.id}}" style="display: none;">
		      					    				{% for user in group.acceptedUsers %}
		      					    			    	<li>{{ user.fname }} {{ user.lname }}</li>
		      					    			    {% endfor %}
			      					    		</div>
			      					    	</p>
			      					    	<!-- If group.hasTourForLisiting -->
					      					<button class="btn btn-primary" data-toggle="modal" data-target="#requestHouseModal" data-group="{{group.id}}" data-dismiss="modal">Select Group</button>
			      					    </div>
			      					</div>
			      					<script>
			      						//Show/hide all members of group
			      						$("#allHouseRequestMembersToggle{{group.id}}").click(function(){
			      						    $("#allHouseRequestMembers{{group.id}}").toggle();
			      						});
			      					</script>
		      					{% endfor %}
		      				</div>
		      			</div>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			      	</div>
		    	</div>
		  	</div>
		</div>

		<!--Request House Modal-->
		<div class="modal fade" id="requestHouseModal" tabindex="-1" role="dialog" aria-labelledby="requestHouse" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          			<span aria-hidden="true">&times;</span>
		        		</button>
		        		<h4 class="modal-title" id="requestHouse"></h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="row">
		      				<div class="col-xs-1"></div>
		      				<div class="col-xs-10">
		      					<form id="request_house" action="{{url_for('housingRequests.create')}}" method="POST">
		      					    {{ requestListingForm.csrf_token }}
		      					    {{ requestListingForm.groupID }}
		      					    {{ requestListingForm.listingID(value=listing.id) }}		      					
			      					{% from "_formhelpers.html" import render_field %}
			      					{{ render_field(requestListingForm.reqDescription, class="form-control", type="text") }}
		      					</form>  
		      				</div>
		      			</div>
		      			<div id="groupNumberHouse" style="display: none;"></div>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-primary" onClick="submitHouseForm()" data-dismiss="modal">Request House</button>
			      	</div>
		    	</div>
		  	</div>
		</div>
	</body>
</html>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        flatpickr(".flatpickr", {
        	enableTime: true,
        	altInput: true,
        	altFormat: "F j, Y h:i K",
        	minuteIncrement: 15,
        	disable: [{from: "0001-01-01",
        			  to: "today"}]
        });
        $('.flatpickr-calendar').css('z-index', 99999999999999);
    });

    //Request Tour Modal
    $('#requestTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      var group = $(event.relatedTarget).data('group');
      modal.find('.modal-title').text('Request This House');
      modal.find('#groupNumber').text(group);
    })

    //Request House Modal
    $('#requestHouseModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      var group = $(event.relatedTarget).data('group');
      modal.find('.modal-title').text('Request to live at this {{listing.property_type}}');
      modal.find('#groupNumberHouse').text(group);
    })

    function submitTourForm() {
    	$("#group_tour_id").val($("#groupNumber").text());
    	$("#requestedDateTime").val($("#tourRequestTime").val());
        $("#request_tour").submit();
    }

    function submitHouseForm() {
    	$("#groupID").val($("#groupNumberHouse").text());
        $("#request_house").submit();
    }

    var groups = {};
    $('.galleryItem').each(function() {
      var id = parseInt($(this).attr('data-group'), 10);
      
      if(!groups[id]) {
        groups[id] = [];
      } 
      
      groups[id].push( this );
    });


    $.each(groups, function() {
      
      $(this).magnificPopup({
          type: 'image',
          closeOnContentClick: true,
          closeBtnInside: false,
          gallery: { enabled:true }
      })
      
    });

    $('.test-popup-link').magnificPopup({
      type: 'image'
      // other options
    });
</script>
{% endblock %}
