<footer class="footer" style="position: relative; bottom: 0; width: 100%; background-color: #f5f5f5;">
	<div class="row">
		<div class="col-xs-4" style="text-align: center;">
			<div style="display: inline-block; text-align: left">
				<div class="row footerItem">
					<img src="/static/img/testlogo.png" class="hidden-xs-down" style="height: 100px;" alt="logo">
					<img src="/static/img/testlogo.png" class="hidden-sm-up" style="height: 50px;" alt="logo">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4" style="text-align: center;">
			<div style="display: inline-block; text-align: left">
				<div class="row footerItem">
					<u>Connect With Us:</u>
				</div>
				<div class="row footerItem">
					<img src="/static/img/instagramLogo.png" style="width: 25px; height: 25px; margin-right: 5px;">
					@nexnest
				</div>
				<div class="row footerItem">
					<img src="/static/img/fbLogo.png" style="width: 25px; height: 25px; margin-right: 5px;">
					nexnest
				</div>				
				<div class="row footerItem">
					<img src="/static/img/twitterLogo.png" style="width: 25px; height: 25px;">
					@nexnest
				</div>				
			</div>
		</div>
		<div class="col-xs-4" style="text-align: center;">
			<div style="display: inline-block; text-align: left">
				<div class="row footerItem">
					<u>Company:</u>
				</div>				
				<div class="row footerItem">
					<a href="{{url_for('indexs.aboutUs')}}">About Us</a>
				</div>
				<div class="row footerItem">
					<a href="{{url_for('indexs.termsConditions')}}">Terms of Service</a>
				</div>
				<div class="row footerItem">
					<a href="{{url_for('indexs.privacyPolicy')}}">Privacy Policy</a>
				</div>
				<div class="row footerItem">
					{% if current_user.is_authenticated %}
						{% if current_user.isLandlord %}
							<a href="#">Pricing</a>
						{% endif %}
					{% endif %}
				</div>
				<div class="row footerItem">
					<a href="#">Contact Us</a>
				</div>
			</div>
		</div>
		<div class="col-xs-4" style="text-align: center;">
			<div style="display: inline-block; text-align: left">
				<div class="row footerItem">
					<u>Support:</u>
				</div>
				<div class="row footerItem">
					<a href="{{url_for('indexs.faq')}}">FAQ</a>
				</div>
				<div class="row footerItem">
					<a href="#" data-toggle="modal" data-target="#platformReportModal">Report Issue</a>
				</div>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-xs-4" style="text-align: center">
			<div style="display: inline-block; text-align: left">
				<div class="row footerItem">
					<small>2017 &copy; Nexnest, LLC</small>
				</div>
			</div>
		</div>
	</div>
</footer>