<footer class="footer nexnest-font" style="position: relative; bottom: 0; width: 100%; background-color: #656264; color: white;">
	<div class="row">
		<div class="col-xs-12 col-lg-6" style="padding-top: 15px;">
			<div class="row">
				<div class="col-xs-12 text-center hidden-sm-down" style="text-align: center; border-right: medium solid white;">
					<img src="/static/img/birdWingIT.png" style="height: 200px;" alt="logo">
				</div>
				<div class="col-xs-12 text-center hidden-md-up" style="text-align: center; border-right: medium solid white;">
					<img src="/static/img/birdWingIT.png" style="height: 100px;" alt="logo">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" style="text-align: center; padding-bottom: 15px; border-right: medium solid white;">
					<h1>Stay Connected</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" style="text-align: center; border-right: medium solid white;">
					<span class="fa-stack fa-2x">
					  	<i class="fa fa-circle fa-stack-2x" style="color: #52ab81;"></i>
					  	<i class="fa fa-facebook fa-stack-1x" aria-hidden="true"></i>
					</span>
					<span class="fa-stack fa-2x">
					  	<i class="fa fa-circle fa-stack-2x" style="color: #52ab81;"></i>
					  	<i class="fa fa-instagram fa-stack-1x" aria-hidden="true"></i>
					</span>
					<span class="fa-stack fa-2x">
					  	<i class="fa fa-circle fa-stack-2x" style="color: #52ab81;"></i>
					  	<i class="fa fa-twitter fa-stack-1x" aria-hidden="true"></i>
					</span>
					<span class="fa-stack fa-2x">
					  	<i class="fa fa-circle fa-stack-2x" style="color: #52ab81;"></i>
					  	<i class="fa fa-google-plus fa-stack-1x" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			<div class="row" style="padding-top: 15px;">
				<div class="col-xs-12" style="text-align: center;">
					<h5>2017 &#9400; Nexnest, LLC.</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-lg-6" style="padding-top: 85px; padding-bottom: 30px;">
			<div class="row">
				<div class="col-xs-12 col-md-6" style="text-align: left; padding-left: 10%;">
					<h1 class="nexnest-font" style="color: #52ab81; font-size: 50px;">Company</h1>
					<br>
					<h3 class="nexnest-font"><a href="{{url_for('indexs.aboutUs')}}" style="color: white;">About Us</a></h3>
					<h3 class="nexnest-font"><a href="{{url_for('indexs.termsConditions')}}" style="color: white;">Terms of Service</a></h3>
					<h3 class="nexnest-font"><a href="{{url_for('indexs.privacyPolicy')}}" style="color: white;">Privacy Policy</a></h3>
					<h3 class="nexnest-font">Contact Us</h3>
				</div>
				<div class="col-xs-12 col-md-6" style="text-align: left; padding-left: 10%;">
					<h1 class="nexnest-font" style="color: #52ab81; font-size: 50px;" style="color: white;">Support</h1>
					<br>
					<h3 class="nexnest-font"><a href="{{url_for('indexs.faq')}}" style="color: white;">FAQ</a></h3>
					{% if current_user.is_authenticated %}
						{% if current_user.isLandlord %}
							<h3 class="nexnest-font"><a href="#" style="color: white;">Pricing</a></h3>
						{% endif %}
					{% endif %}
					<h3 class="nexnest-font"><a href="#" data-toggle="modal" data-target="#platformReportModal" style="color: white;">Report Issue</a></h3>
					<div class="row">
						<div class="col-xs-12">
							<img src="/static/img/housePin.png" style="height: 80px;">
							<img src="/static/img/apartmentPin.png" style="height: 80px;">
							<img src="/static/img/complexPin.png" style="height: 80px;">
							<img src="/static/img/yellowHousePin.png" style="height: 80px;">
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</footer>