{% extends "base.html" %}
{% block content %}
	<style>
	  #legend {
	    font-family: Arial, sans-serif;
	    background-color:rgba(255, 255, 255, 0.5);
	    padding: 5px;
	    margin: 5px;
	    border: 3px solid lightblue;
	  }
	  #legend h3 {
	    margin-top: 0;
	  }
	  #legend img {
	    vertical-align: middle;
	   }
	   #mobileLegend {
	    font-family: Arial, sans-serif;
	    background-color:rgba(255, 255, 255, 0.5);
	    padding: 5px;
	    margin: 5px;
	    border: 3px solid lightblue;
	  }
	  #mobileLegend h3 {
	    margin-top: 0;
	  }
	  #mobileLegend img {
	    vertical-align: middle;
	   }
	</style>
    <!-- !!NOT LOGGED IN!! -->    
    <div id="initialView">
	    <div class="row" style="padding-left: 15px; padding-right: 15px;">
	    	<div class="col-lg-12 col-xl-12" style="padding: 0px;">
		    	<div class="card card-inverse" style="margin-bottom: 0px;">
		    		<img class="card-img" src="/static/img/banner.jpg" alt="Card image" style="width: 100%;">
		    		<div class="card-img-overlay" style="display: flex; flex-direction: column; justify-content: center;">
		    			<div class="hidden-sm-down row" style="margin-top: 0%;">
		    				<div class="col-xs-12">
		    					<h1 class="nexnest-font-index-title" style="color: white; padding-left: 5%; margin-top: -1%">
			    					Discover your next
			    					<br>
			    					off-campus rental.
		    					</h1>
		    				</div>
		    			</div>
		    			<div class="hidden-sm-up row" style="margin-top: 0%; padding-top: 21px; margin-bottom: -21%;">
		    				<div class="col-xs-12">
		    					<h1 class="nexnest-font" style="color: white; padding-left: 3%; margin-top: -10%">
			    					Discover your next
			    					<br>
			    					off-campus rental.
		    					</h1>
		    				</div>
		    			</div>
		    			<div class="row justify-content-center" style="margin-top: 100px; margin-left: 5%; margin-right: 5%;">
		    				<div class="col-xs-12 col-md-12" style="margin-top: 18%;">
		    					<div class="row" style="background-color: white; align-items: center; padding-bottom: 15px; border-radius: 5px;">
				    				<div class="col-xs-7 col-md-8 col-lg-3 col-xl-3" style="left: 0vw;">
				    					<label for="school" style="margin-bottom: 0px;">
					    					<h2 style="color: #5686c5;" class="nexnest-font">
					    						<strong><i class="fa fa-map-marker" aria-hidden="true"></i> Where</strong>
					    					</h2>
				    					</label>
			    					    <select class="form-control" id="school" style="width: 85%;">
			    					    	{% for school in schools %}
			    					      		<option value="{{school}}">{{school}}</option>
			    					    	{% endfor %}
			    					    </select>
				    				</div>
				    				<div class="hidden-md-down col-lg-3 col-xl-3" style="left: 0vw;">
				    					<label for="when" style="margin-bottom: 0px;">
				    						<h2 style="color: #f16e5b;" class="nexnest-font">
				    							<strong><i class="fa fa-calendar" aria-hidden="true"></i> When</strong>
				    						</h2>
				    					</label>
			    					    <select class="form-control" id="when" style="width: 85%;">
			    					    	{% for timeFrame in validTimeFrames %}
			    					    		<option value="{{timeFrame[0]}}">{{timeFrame[1]}}</option>
			    					    	{% endfor %}
			    					      	<!-- <option value="2017-2018 School Year">2017-2018 School Year</option>
			    					      	<option value="2018 Summer">2018 Summer</option>
			    					      	<option value="2018-2019 School Year">2018-2019 School Year</option>
			    					      	<option value="2019 Summer">2019 Summer</option> -->
			    					    </select>
				    				</div>
				    				<div class="hidden-md-down col-lg-3 col-xl-3" style="left: 0vw;">
				    					<label for="bedrooms" style="margin-bottom: 0px;">
					    					<h2 style="color: #f4c359;" class="nexnest-font">
					    						<strong><i class="fa fa-bed" aria-hidden="true"></i> Bedrooms</strong>
					    					</h2>
				    					</label>
			    					    <select class="form-control" id="rooms" style="width: 85%;">
			    					      	<option value="1">1</option>
			    					      	<option value="2">2</option>
			    					      	<option value="3">3</option>
			    					      	<option value="4+" selected="selected">4+</option>
			    					    </select>
				    				</div>
				    				<div class="col-xs-2 col-md-2 col-xl-2 pull-right" style="left: 5vw; text-align: right;">
				    					<button id="initialSearchButton" class="btn nexnest-font" style="background-color: #52ab81; color: white; margin-top: 15px; font-size: 25px;">
				    						Search <i class="fa fa-angle-right" aria-hidden="true"></i>
				    					</button>
				    				</div>
				    			</div>
			    			</div>
		    			</div>
		    			<div class="hidden-md-down row" style="text-align: right;">
		    				<div class="col-xs-12">
		    					<h1 style="color: white; padding-left: 10%; margin-right: 5%;" class="nexnest-font-index-title">
			    					don't just wing it.
		    					</h1>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
	    </div>
	    <div class="row" style="padding-left: 15px; padding-right: 15px;">
	    	<div class="col-lg-12 col-xl-12 nexnest-font" style="background-color: #52ab81; color: white; font-size: larger;">
			    <div class="row" style="padding-top: 0px;">
			    	<div class="col-xs-12" style="text-align: center;">
			    		<h1 style="color: white; font-size: 64px;">Built for Students</h1>
			    	</div>
			    </div>
			    <br>
			    <div class="row">
			    	<div class="col-xs-12 col-md-6 col-xl-4" style="text-align: center; padding-top: 15px;">
			    		<span class="fa-stack fa-4x">
			    		  	<i class="fa fa-circle fa-stack-2x"></i>
			    		  	<i class="fa fa-users fa-stack-1x" aria-hidden="true" style="color: #52ab81;"></i>
			    		</span>
			    		<br>
			    		<h1><strong>Create A Group</strong></h1>
			    		<hr style="border-color: white; width: 40%; border-width: 2px; margin-bottom: 2px; margin-top: 0px;">
			    		<h3>
				    		Search, share and favorite listings
				    		<br>
				    		with your friends.
			    		</h3>
			    	</div>
			    	<div class="col-xs-12 col-md-6 col-xl-4" style="text-align: center; padding-top: 15px;">
			    		<span class="fa-stack fa-4x">
			    		  	<i class="fa fa-circle fa-stack-2x"></i>
			    		  	<i class="fa fa-calendar fa-stack-1x" aria-hidden="true" style="color: #52ab81;"></i>
			    		</span>
			    		<br>
			    		<h1><strong>Schedule Property Tours</strong></h1>
			    		<hr style="border-color: white; width: 40%; border-width: 2px; margin-bottom: 2px; margin-top: 0px;">
			    		<h3>
				    		View a rental at a time that’s
				    		<br>
				    		convenient for you.
			    		</h3>
			    	</div>
			    	<div class="col-xs-12 col-md-12 col-xl-4" style="text-align: center; padding-top: 15px;">
			    		<span class="fa-stack fa-4x">
			    		  	<i class="fa fa-circle fa-stack-2x"></i>
			    		  	<i class="fa fa-handshake-o fa-stack-1x" aria-hidden="true" style="color: #52ab81;"></i>
			    		</span>
			    		<br>
			    		<h1><strong>Apply Online</strong></h1>
			    		<hr style="border-color: white; width: 40%; border-width: 2px; margin-bottom: 2px; margin-top: 0px;">
			    		<h3>
			    			Request to live at a property that you
			    			<br>
			    			 and your friends are interested in.
			    		</h3>
			    	</div>
			    </div>
			    <br><br>
			    <div class="row" style="padding-bottom: 50px;">
			    	<div class="col-xs-0 col-sm-1"></div>
			    	<div class="col-xs-12 col-sm-5 col-md-5 col-xl-5" style="text-align: center; padding-top: 15px;">
			    		<span class="fa-stack fa-4x">
			    		  	<i class="fa fa-circle fa-stack-2x"></i>
			    		  	<i class="fa fa-wrench fa-stack-1x" aria-hidden="true" style="color: #52ab81;"></i>
			    		</span>
			    		<br>
			    		<h1><strong>Create Maintenance Requests</strong></h1>
			    		<hr style="border-color: white; width: 40%; border-width: 2px; margin-bottom: 2px; margin-top: 0px;">
			    		<h3>
				    		Quickly inform your landlord of
				    		<br>
				    		maintenance issues in an accessible way.
			    		</h3>
			    	</div>
			    	<div class="col-xs-12 col-sm-5 col-md-5 col-xl-5" style="text-align: center; padding-top: 15px;">
			    		<span class="fa-stack fa-4x">
			    		  	<i class="fa fa-circle fa-stack-2x"></i>
			    		  	<i class="fa fa-home fa-stack-1x" aria-hidden="true" style="color: #52ab81;"></i>
			    		</span>
			    		<br>
			    		<h1><strong>Post Your Properties</strong></h1>
			    		<hr style="border-color: white; width: 40%; border-width: 2px; margin-bottom: 2px; margin-top: 0px;">
			    		<h3>
				    		List your property to secure 
				    		<br>tenants over multiple rental periods.
			    		</h3>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
	<div id="homepage" class="row m-x-auto" style="display: none;">
		<div class="col-md-12 col-lg-12 col-xl-7">
			<div class="row hidden-sm-up">
				<div class="col-xs-12" style="padding-bottom: 15px;">
					<button id="showFilterButton" class="btn btn-secondary" style="width: 100%;">Show Filters <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
					<button id="hideFilterButton" class="btn btn-secondary" style="width: 100%; display: none;">Hide Filters <i class="fa fa-chevron-up" aria-hidden="true"></i></button>
				</div>
			</div>
			<nav id="filterBar" class="navbar sticky-top navbar-light bg-faded hidden-xs-down">				
				<div class="row">
			    	<div class="col-xs-12 col-sm-6 col-lg-4" style="padding-bottom: 5px;">
					    <select class="form-control filterOption" id="school2">
					    	<option disabled>Select College</option>
					      		{% for school in schools %}
					      	  		<option value="{{school}}">{{school}}</option>
					      		{% endfor %}
					    </select>
			        </div>
			        <div class="col-xs-12 col-sm-6 col-lg-4" style="padding-bottom: 5px;">
					    <select class="form-control filterOption" id="when2">
					    	<option disabled>Select Term</option>
					      	{% for timeFrame in validTimeFrames %}
	    					    <option value="{{timeFrame[0]}}">{{timeFrame[1]}}</option>
	    					{% endfor %}
					    </select>
			        </div>
			        <div class="col-xs-12 col-sm-6 col-lg-4" style="padding-bottom: 5px;">
				        <select class="form-control filterOption" id="rooms2">
				        	<option disabled>Bedrooms</option>
				          	<option value="1">1 Bed</option>
				          	<option value="2">2 Beds</option>
				          	<option value="3">3 Beds</option>
				          	<option selected value="4+">4+ Beds</option>
				        </select>
				    </div>
			    </div>
			    <div class="row" style="padding-top: 10px;">
					<div class="col-xs-12 col-sm-6 col-md-8 col-lg-7" style="padding-left: 0px;">
						Monthly Price Range
						<br>
					    <span class="text-nowrap"><b id="minPriceDisplay" style="padding-right: 10px;">$0</b> <input id="priceSlider" type="text" class="span2 filterOption" value="" data-slider-min="0" data-slider-max="5000" data-slider-step="100" data-slider-tooltip="hide" data-slider-value="[0,5000]"/> <b id="maxPriceDisplay" style="padding-left: 10px;">$5,000</b></span>
					</div>
			    </div>
			    <div class="row" style="padding-top: 10px;">
			    	<div class="col-md-4"></div>
			    	<div class="col-xs-6 col-md-4">
				        <button class="btn btn-secondary" onClick="showMoreFilters()" style="width: 100%; text-align: left;">More Filters <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
				    </div>
					<div class="col-xs-6 col-md-4">
						<select class="form-control filterOption" id="sortBy" style="width: 100%;">
				          	<option value="priceLowToHigh" selected>Low to High</option>
				          	<option value="priceHighToLow">High to Low</option>
				          	<option value="mostRecent">Recent</option>
				          	<option value="distanceToCampusMiles" value="default">Distance To Campus</option>
					    </select>
				    </div>
			    </div>
			    <div class="row" style="padding-top: 10px;">
				    <div class="col-xs-12">
				    	<input id="addressSearch" type="text" class="form-control" placeholder="Search for an Address">
				    </div>
			    </div>			    
			</nav>
			<div class="row" id="mainContent" style="padding-top: 10px;">
				<div class="col-xs-12 hidden-xl-up">
					<button id="toggleMap" class="btn btn-secondary" style="float: right;">Switch To Map View</button>
				</div>
				<div id="listingView" class="col-xs-12" style="padding-top: 10px;">
					{% if listings is not none %}
						<div class="row m-x-auto" id="listingsGoHere">
							<!-- Listings loaded by Ajax -->
						</div>
					{% endif %}
				</div>
				<div id="mapView" class="col-xs-12" style="display: none; height: 60vh; margin-top: 45px; position: absolute;">
					<!-- Show map if they toggle map view -->
				</div>
				<div id="mobileLegend"><h3>Legend</h3></div>
			</div>
			<div class="row" id="moreFilters" style="display: none; margin-left: 30px;">
			<br><br>
				<div class="col-xl-1">							
				</div>
				<div class="col-xl-10">							
					<h1>Property Type</h1>
					<div class="row">
						<div class="col-xs-4">
							<label class="control-label form-control-feedback" id="house_label">House</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="houseCheckBox" type="checkbox" checked>
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
						<div class="col-xs-4">
							<label class="control-label form-control-feedback" id="apartment_label">Apartment</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="apartmentCheckBox" type="checkbox" checked>
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
						<div class="col-xs-4">
							<label class="control-label form-control-feedback" id="complex_label">Complex</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="complexCheckBox" type="checkbox" checked>
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
					</div>
					<hr>
					<br>
					<h1>Distance to Campus</h1>
					<div class="row">
						<div class="col-xl-12">
							<b>1 Mi</b> <input id="distanceToCampus" type="text" class="span2" data-slider-value="10" data-slider-min="1" data-slider-max="10" data-slider-step="1"/> <b style="padding-left: 5px;">10 Mi</b>
						</div>								
					</div>
					<hr>
					<br>
					<h1>Pet Friendly</h1>
					<div class="row">
						<div class="col-xs-6">
							<label class="control-label form-control-feedback" id="dogs_label">Dogs</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="dogCheckBox" type="checkbox">
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
						<div class="col-xs-6">
							<label class="control-label form-control-feedback" id="cats_label">Cats</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="catCheckBox" type="checkbox">
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
					</div>
					<hr>
					<br>
					<h1>Includes</h1>
					<div class="row">
						<div class="col-xs-6 col-xl-4">
							<label class="control-label form-control-feedback" id="furnished_label">Furnished</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="furnishedCheckBox" type="checkbox">
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
						<div class="col-xs-6 col-xl-4">
							<label class="control-label form-control-feedback" id="dishwasher_label">Dishwasher</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="dishwasherCheckBox" type="checkbox">
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
						<div class="col-xs-6 col-xl-4">
							<label class="control-label form-control-feedback" id="laundry_label">On-Site Laundry</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="laundryCheckBox" type="checkbox">
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
						<div class="col-xs-6 col-xl-4">
							<label class="control-label form-control-feedback" id="internet_label">Internet Included</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="internetCheckBox" type="checkbox">
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
						<div class="col-xs-6 col-xl-4">
							<label class="control-label form-control-feedback" id="cable_label">Cable Included</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="cableCheckBox" type="checkbox">
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
						<div class="col-xs-6 col-xl-4">
							<label class="control-label form-control-feedback" id="snow_label">Snow Removal</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="snowRemovalCheckBox" type="checkbox">
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
						<div class="col-xs-6 col-xl-4">
							<label class="control-label form-control-feedback" id="garbage_label">Garbage Removal</label>
							<div class="checkbox">
							    <label style="font-size: 1.5em">
							    	<input id="garbageCheckBox" type="checkbox">
							        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
							    </label>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-12">
							<button id="advancedSearch" class="btn btn-primary" onClick="buildFilters()" style="float: right;">Search</button>
						</div>
					</div>
				</div>
			</div>		
		</div>
		<div id="map" class="hidden-lg-down col-xl-5" style="height: 80vh; position: fixed; left: 58vw;">
		</div>
		<div id="legend"><h3>Legend</h3></div>
	</div>
{% endblock %}
{% block scripts %}
<script>
	var distanceSlider = new Slider('#distanceToCampus', {});
	var priceSlider = new Slider('#priceSlider', {});
	var listings = [];
	//create the timer for loading screen
	var loadingScreenTimer;

	//MAP STUFF
  	var markers = [];  
  	var map, mobileMap, markerCluster, infowindow;
  	var iconBase = "static/img/";
  	var schoolName = $("#school2 option:selected").text().replace(/[0-9]/g, '').replace(/\s/g, '');
  	console.log(schoolName);
  	var icons = {
	  		school: { name: schoolName, icon: iconBase + schoolName.toLowerCase()+ '_pin_45.png' },
	  		house: { name: 'House', icon: iconBase + 'house_pin_45.png' },
	  		apartment: { name: 'Apartment', icon: iconBase + 'apartment_pin_45.png' },
	  		complex: { name: 'Complex', icon: iconBase + 'complex_pin_45.png' }
  		};

	$( document ).ready(function() {
		//$('#map').scrollToFixed({ limit: $(".footer") });
		var sessionStorageSchool = sessionStorage.getItem('school');
		var sessionStorageBedrooms = sessionStorage.getItem('bedrooms');
		var sessionStorageTerm = sessionStorage.getItem('term');
		var sessionStorageMinPrice = sessionStorage.getItem('minprice');
		var sessionStorageMaxPrice = sessionStorage.getItem('maxprice');
		var sessionStorageSortBy = sessionStorage.getItem('sortby');
		// console.log(sessionStorageSchool);
		// console.log(sessionStorageBedrooms);
		// console.log(sessionStorageTerm);
		// console.log(sessionStorageMinPrice);
		// console.log(sessionStorageMaxPrice);
		// console.log(sessionStorageSortBy);
		if(sessionStorageSchool != undefined){
			$('#school').val(sessionStorageSchool);
			$('#school2').val(sessionStorageSchool);
		}
		if(sessionStorageBedrooms != undefined){
			$('#rooms').val(sessionStorageBedrooms);
			$('#rooms2').val(sessionStorageBedrooms);
		}
		if(sessionStorageTerm != undefined){
			$('#when').val(sessionStorageTerm);
			$('#when2').val(sessionStorageTerm);
		}
		if(sessionStorageMinPrice != undefined){
			priceSlider.setValue([parseInt(sessionStorageMinPrice), parseInt(sessionStorageMaxPrice)]);
		}
		if(sessionStorageMinPrice != undefined){
			$("#minPriceDisplay").text("$"+sessionStorageMinPrice);
		}
		if(sessionStorageMaxPrice != undefined){
			$("#maxPriceDisplay").text("$"+sessionStorageMaxPrice);
		}
		if(sessionStorageSortBy != undefined){
			$("#sortBy").val(sessionStorageSortBy);
		}
		
		
	});

	$("#priceSlider").change(function() {
		var prices = $("#priceSlider").val().split(',');
		var minPrice = prices[0];
		var maxPrice = prices[1];
		$("#minPriceDisplay").text("$"+minPrice);
		$("#maxPriceDisplay").text("$"+maxPrice);
		sessionStorage.setItem('minprice', minPrice);
		sessionStorage.setItem('maxprice', maxPrice);
  	}); 

	function showMoreFilters(){
		$("#moreFilters").toggle();
		$("#mainContent").toggle();
	}

	//call buildFilters on change of any filter element
	$( ".filterOption" ).change(function() {
  		buildFilters("False");
  	});

	function initialFilters(){
		var filters = {};
    	filters.school = $("#school option:selected").text();
    	filters.term = $("#when option:selected").val();
    	filters.bedrooms = parseInt($("#rooms").val(), 10);
    	var prices = $("#priceSlider").val().split(',');
		filters.minPrice = parseInt(prices[0], 10);
		filters.maxPrice = parseInt(prices[1], 10);
		$("#listingsGoHere").LoadingOverlay("show", {
		    image       : "",
		    fontawesome : "fa fa-spinner fa-spin"
		});
        console.log('JSON Filters : ' + JSON.stringify(filters))
		$.ajax({
    	    type: "POST",
    	    url: "/listing/search/AJAX",
    	    data: JSON.stringify(filters),
    	    contentType: "application/json; charset=utf-8",
    	    dataType: "json",
    	    success: function(data){
    	    	setTimeout(function(){
    	    	    $("#listingsGoHere").LoadingOverlay("hide");
    	    	}, 1000);
    	    	displayListings(data.listings, data.featuredListings);
    	    	console.log(data.school.lat);
    	    	console.log(data.school.lng);
    	    	schoolName = $("#school option:selected").text().replace(/[0-9]/g, '').replace(/\s/g, '');
    	    	icons.school['name'] = schoolName;
    	    	icons.school['icon'] = iconBase + schoolName.toLowerCase()+ '_pin_45.png';
    	    	console.log("schoolname: " + schoolName);
    	    	mapUpdate(data.listings, data.featuredListings, data.school.lat, data.school.lng);
    	    	$.ajax({
    	    		url: '/listings/getAddresses/'+filters.school,
    	    		async: false,
    	    		dataType: 'json',
    	    		success: function(data){
    	    			console.log(data);
    	    			$("input#addressSearch").autocomplete({
    	    				  source: data.listings,
    	    				  select: function(event, ui) { 
    	    				    window.location.href = "/listing/view/"+ui.item.id;
    	    				}
    	    			})
    	    		}
    	    	});
    	    },
    	    failure: function(errMsg) {
    	        alert(errMsg);
    	    }
    	});
    	initMap();
	}

	$("#advancedSearch").click(function() {
		$("#moreFilters").toggle();
		$("#mainContent").toggle();
  	});

	function buildFilters(refresh){
		//If they had already changed something clear the timer
		clearTimeout(loadingScreenTimer);
		console.log('Building the filters')
		var filters = {};
    	filters.school = $("#school2 option:selected").text();
    	sessionStorage.setItem('school', $("#school2 option:selected").text());
    	filters.term = $("#when2 option:selected").text();
    	sessionStorage.setItem('term', $("#when2 option:selected").val());
    	filters.bedrooms = parseInt($("#rooms2").val(), 10);
    	sessionStorage.setItem('bedrooms', $("#rooms2 option:selected").val());
    	var prices = $("#priceSlider").val().split(',');
		filters.minPrice = parseInt(prices[0], 10);
		filters.maxPrice = parseInt(prices[1], 10);
    	
    	//The Lisitng Types
    	filters.listingTypes = [];
    	if($("#houseCheckBox").is(":checked")){
    		filters.listingTypes.push("house");
    	}
    	if($("#apartmentCheckBox").is(":checked")){
    		filters.listingTypes.push("apartment");
    	}
    	if($("#complexCheckBox").is(":checked")){
    		filters.listingTypes.push("complex");
    	}
    	//Distance to Campus
    	filters.distanceToCampus = parseInt($("#distanceToCampus").val(), 10);

    	//Pets
    	filters.pets = [];
    	if($("#dogCheckBox").is(":checked")){
    		filters.pets.push("dogs");
    	}
    	if($("#catCheckBox").is(":checked")){
    		filters.pets.push("cats");
    	}

    	//Includes
    	filters.includes = [];
    	if($("#furnishedCheckBox").is(":checked")){
    		filters.includes.push("furnished");
    	}
    	if($("#dishwasherCheckBox").is(":checked")){
    		filters.includes.push("dishwasher");
    	}
    	if($("#laundryCheckBox").is(":checked")){
    		filters.includes.push("laundry");
    	}
    	if($("#internetCheckBox").is(":checked")){
    		filters.includes.push("internet");
    	}
    	if($("#cableCheckBox").is(":checked")){
    		filters.includes.push("cable");
    	}
    	if($("#snowRemovalCheckBox").is(":checked")){
    		filters.includes.push("snowRemoval");
    	}
    	if($("#garbageCheckBox").is(":checked")){
    		filters.includes.push("garbageRemoval");
    	}    	

    	filters.sortBy = $("#sortBy").val();
    	sessionStorage.setItem('sortby', $("#sortBy").val());
    	// console.log('Filters')
    	// console.log(JSON.stringify(filters));

    	if(refresh == 'True'){
    		$("#listingsGoHere").LoadingOverlay("show", {
			    image       : "",
			    fontawesome : "fa fa-spinner fa-spin"
			});
    	}
    	loadingScreenTimer = setTimeout(function () {
    		$("#listingsGoHere").LoadingOverlay("hide");
    		if(refresh != 'True'){
		    	$("#listingsGoHere").LoadingOverlay("show", {
				    image       : "",
				    fontawesome : "fa fa-spinner fa-spin"
				});
	    	}
            console.log('JSON Filters : ' + JSON.stringify(filters))
	    	$.ajax({
	    	    type: "POST",
	    	    url: "/listing/search/AJAX",
	    	    data: JSON.stringify(filters),
	    	    contentType: "application/json; charset=utf-8",
	    	    dataType: "json",
	    	    success: function(data){
                    console.log('Response from /listing/search/AJAX')
                    console.log(data)
	    	    	setTimeout(function(){
	    	    	    $("#listingsGoHere").LoadingOverlay("hide");
	    	    	}, 1000);
	    	    	displayListings(data.listings, data.featuredListings);
	    	    	//call map init with lat, lng of school
	    	    	schoolName = $("#school2 option:selected").text().replace(/[0-9]/g, '').replace(/\s/g, '');
	    	    	icons.school['name'] = schoolName;
	    	    	icons.school['icon'] = iconBase + schoolName.toLowerCase()+ '_pin_45.png';
	    	    	console.log("schoolname: " + schoolName);
	    	    	mapUpdate(data.listings, data.featuredListings, data.school.lat, data.school.lng);
	    	    	$.ajax({
	    	    		url: '/listings/getAddresses/'+filters.school,
	    	    		async: false,
	    	    		dataType: 'json',
	    	    		success: function(data){
	    	    			console.log(data);
	    	    			$("input#addressSearch").autocomplete({
	    	    				  source: data.listings,
	    	    				  select: function(event, ui) { 
	    	    				    window.location.href = "/listing/view/"+ui.item.id;
	    	    				}
	    	    			})
	    	    		},
	    	    		failure: function(errMsg) {
	    	    		    alert(errMsg);
	    	    		}
	    	    	});
	    	    },
	    	    failure: function(errMsg) {
	    	        alert(errMsg);
	    	    }
	    	});
		}, 2000);				
	}

	$("#toggleMap").click(function() {
  		$("#mapView").toggle();
  		$("#listingView").toggle();
  		if($("#toggleMap").text() == "Switch To Map View"){
  			$("#toggleMap").text("Switch To List View")
  		}
  		else{
  			$("#toggleMap").text("Switch To Map View")
  		}  		
  	});
  	
	function displayListings(listings, featuredListings){
		console.log(listings);
		$("#listingsGoHere").empty();
		//Featured
		console.log(featuredListings);
		$.each(featuredListings, function(index, listing) {
			console.log(listing);

			var nextListing = `<div class="card" style="width: 100%;">
				<div class="ribbon-wrapper-green"><div class="ribbon-green">FEATURED</div></div>
				<a href="`+ listing.url +`">`;
					if(listing.bannerPhotoURL == null){						
						nextListing += `<img src="/static/img/defaultHouse.png" class="listingImg card-img-top">`;
					}
					else{
						nextListing += `<img src=`+ listing.bannerPhotoURL +` class="listingImg card-img-top">`;
					}
				nextListing += `</a>`;
				if(listing.isFavorited == false){
					nextListing += `<div style="position: relative; width: 0; height: 0">
					<i id="listingFavoite_`+listing.id+`" class="fa fa-2x fa-star-o listingFavorite" aria-hidden="true" style="bottom: 217px; position: absolute;"></i>
					</div>`;
				}else{
					nextListing += `<div style="position: relative; width: 0; height: 0">
					<i id="listingFavoite_`+listing.id+`" class="fa fa-2x fa-star listingFavorite" aria-hidden="true" style="bottom: 217px; position: absolute;"></i>
					</div>`;
				}
				nextListing += `<div class="card-block" style="background-color: #89cdef;">
					<div class="row">
						<div class="col-xs-4">
							<span class="text-nowrap">
								`+ listing.numBedrooms +`<i class="fa fa-bed" aria-hidden="true"></i>
								&nbsp;
								`+ listing.numFullBaths +`<i class="fa fa-bath" aria-hidden="true"></i>
							</span>
							<br>
							$`+ listing.price +` per `+ listing.priceTerm +`
						</div>
						<div class="col-xs-8">
							<div class="row">
								<div class="col-xs-12" style="text-align: right;">
									<span class="text-nowrap">`+ listing.street +`</span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12" style="text-align: right;">
									<span class="text-nowrap">`+ listing.city +`, `+ listing.state +`</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>`;
			$("#listingsGoHere").append(`<div class="col-md-6" style="padding-left: 15px; padding-bottom: 30px">` + nextListing + `</div>`);
		});

		//Non Featured
		$.each(listings, function(index, listing) {
			console.log(listing);
			var nextListing = `<div class="card" style="width: 100%;">
				<a href="`+ listing.url +`">`;
					if(listing.bannerPhotoURL == null){						
						nextListing += `<img src="static/img/defaultHouse.png" class="listingImg card-img-top">`;
					}
					else{
						nextListing += `<img src=`+ listing.bannerPhotoURL +` class="listingImg card-img-top">`;
					}					
				nextListing += `</a>`;
				if(listing.isFavorited == false){
					nextListing += `<div style="position: relative; width: 0; height: 0">
					<i id="listingFavoite_`+listing.id+`" class="fa fa-2x fa-star-o listingFavorite" aria-hidden="true" style="bottom: 217px; position: absolute;"></i>
					</div>`;
				}else{
					nextListing += `<div style="position: relative; width: 0; height: 0">
					<i id="listingFavoite_`+listing.id+`" class="fa fa-2x fa-star listingFavorite" aria-hidden="true" style="bottom: 217px; position: absolute;"></i>
					</div>`;
				}
				nextListing += `<div class="card-block">
					<div class="row">
						<div class="col-xs-4">
							<span class="text-nowrap">
								`+ listing.numBedrooms +`<i class="fa fa-bed" aria-hidden="true"></i>
								&nbsp;
								`+ listing.numFullBaths +`<i class="fa fa-bath" aria-hidden="true"></i>
							</span>
							<br>
							$`+ listing.price +` per `+ listing.priceTerm +`
						</div>
						<div class="col-xs-8">
							<div class="row">
								<div class="col-xs-12" style="text-align: right;">
									<span class="text-nowrap">`+ listing.street +`</span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12" style="text-align: right;">
									<span class="text-nowrap">`+ listing.city +`, `+ listing.state +`</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>`;
			$("#listingsGoHere").append(`<div class="col-md-6" style="padding-left: 15px; padding-bottom: 30px">` + nextListing + `</div>`);
		});
		if(listings.length == 0 && featuredListings.length == 0){
			$("#listingsGoHere").append(`<div class="alert alert-info" role="alert" style="width: 100%; text-align: center;">
    	            						<strong>No Listings Match The Selected Filters. Try Expanding Your Search</strong>
    	            					 </div>`);
		}
	}

	$("#initialSearchButton").click(function() {
		$("#initialView").hide();
  		$("#homepage").show();
  		//prefil new filters with values from previous filters
  		$("#when2").val($("#when option:selected").val());
  		$("#school2").val($("#school option:selected").text());
  		$("#rooms2").val($("#rooms option:selected").text());
  		//Get the listings here
  		//display them here
  		var hash = document.location.hash;
  		hash = hash.substr(1);
  		if(!hash){  			
  			hash = "search";
  			window.location.hash = hash;
  		}
  		initialFilters();  				
  	});

  	$("#showFilterButton").click(function() {
		$("#filterBar").removeClass("hidden-xs-down");
		$("#hideFilterButton").show();
		$("#showFilterButton").hide();
  	});

  	$("#hideFilterButton").click(function() {
		$("#filterBar").addClass("hidden-xs-down");
		$("#moreFilters").hide();
		$("#mainContent").show();
		$("#hideFilterButton").hide();
		$("#showFilterButton").show();
  	}); 

	$( document ).ready(function() {
		var hash = document.location.hash;
		if(hash=="#search"){			
			//buildFilters("True");
			$("#initialView").hide();
			$("#homepage").show();
			initialFilters();
		}
	});

	// $( function() {
	//     var listingAddresses = [
	//       {value: "76 Taylor Avenue, Poughkeepsie NY 12601", listingID: 5},
	//       {value: "7 Trap Lane, Poughkeepsie NY 12601", listingID: 2},
	//       {value: "25 Myrtle Lane, East Patchogue NY 11772", listingID: 2}
	//     ];
	//     $("input#addressSearch").autocomplete({
	//     	  source: listingAddresses,
	//     	  select: function(event, ui) { 
	//     	    $("#addressSearch").val("76 Taylor Avenue");
	//     	    window.location.href = "/listing/view/"+ui.item.listingID;
	//     	}
	//     })
	//   } );

	$(document).on('click', ".listingFavorite", function() {
  		var id = $(this).attr("id");
  		id = id.split("_")[1];
  		console.log(id);
  		console.log($(this));
  		if($(this).hasClass("fa-star")){
  			console.log("unfav");
  			console.log(id);
  			$.ajax({
	    	    type: "POST",
	    	    url: "/user/unFavoriteListing/"+id,
	    	    success: function(data){	    	    	
	    	    	$("#listingFavoite_"+id).removeClass("fa-star");
	    		$("#listingFavoite_"+id).addClass("fa-star-o");
	    	    },
	    	    failure: function(errMsg) {
	    	        alert(errMsg);
	    	    }
    		});
  		}
  		else if($(this).hasClass("fa-star-o")){
  			console.log("fav");
  			console.log($(this));
  			console.log(id);
			$.ajax({
	    	    type: "POST",
	    	    url: "/user/favoriteListing/"+id,
	    	    success: function(data){
	    	    	$("#listingFavoite_"+id).removeClass("fa-star-o");
	    			$("#listingFavoite_"+id).addClass("fa-star");
	    	    },
	    	    failure: function(errMsg) {
	    	        alert(errMsg);
	    	    }
	    	});
  		}
  		else{
  			console.log("ererree");
  		}
  	});	
  			
  			
  	function initMap() {
  	  	var myOptions = {
  	  	      	zoom: 14,
  	  	      	scrollwheel: true,
  	  			gestureHandling: 'cooperative'
  	  	    	};
  	  		var mapStyle = [{"featureType":"administrative","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"poi.attraction","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","stylers":[{"visibility":"off"}]},{"featureType":"poi.medical","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","stylers":[{"visibility":"off"}]},{"featureType":"poi.school","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","stylers":[{"visibility":"off"}]}];
  	  	    map = new google.maps.Map(document.getElementById('map'), myOptions);
  	  	    mobileMap = new google.maps.Map(document.getElementById('mapView'), myOptions);
  	  		map.set('styles', mapStyle);
  	  		mobileMap.set('styles', mapStyle);
  	  		// legend code
  	  		var legend = document.getElementById('legend');
  	  		var mobileLegend = document.getElementById('mobileLegend');
  	  	    for (var key in icons) {
  	  	       var type = icons[key];
  	  	       var name = type.name;
  	  	       var icon = type.icon;
  	  	       var div = document.createElement('div');
  	  	       div.innerHTML = '<img src="' + icon + '"> ' + name;
  	  	       legend.appendChild(div);
  	  	       mobileLegend.appendChild(div);
  	  	    }
  	  	    mobileMap.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(mobileLegend);
  	  		map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);  	  		
  	  		google.maps.event.trigger(mobileMap, "resize");
  	  		google.maps.event.trigger(map, "resize");
  	  		//mapUpdate();  		 		
  	}

  	function mapUpdate(listings, featuredListings, lat, long){
  		// first we clear the map
  		clearMarkers();
  		$("#legend").empty();
  		$("#mobileLegend").empty();
  		legend = document.getElementById('legend');
  	    for (var key in icons) {  	  	    	
  	        var type = icons[key];
  	        var name = type.name;
  	        console.log(name);
  	        var icon = type.icon;
  	        var div = document.createElement('div');
  	        div.innerHTML = '<img src="' + icon + '"> ' + name;
  	        legend.appendChild(div);
  		}
  		mobileLegend = document.getElementById('mobileLegend');
  	    for (var key in icons) {  	  	    	
  	        var type = icons[key];
  	        var name = type.name;
  	        console.log(name);
  	        var icon = type.icon;
  	        var div = document.createElement('div');
  	        div.innerHTML = '<img src="' + icon + '"> ' + name;
  	        mobileLegend.appendChild(div);
  		}
  	  	//set temp center
  	  	mobileMap.setCenter({lat: lat, lng: long});
  	  	map.setCenter({lat: lat, lng: long});
  		if(listings.length > 0 || featuredListings.length > 0){  			
  			//schoolLatLng = {lat: lat, lng: long};
  			var latArray = [], longArray = [];
  			if(lat != undefined){
  				$.each(listings, function(index, listing) {
  					latArray.push(listing.lat); longArray.push(listing.long); // gather center data
  					addMarker(listing.id, listing.lat, listing.long, listing.propertyType, '<a href="'+listing.url+'"><img src="'+listing.bannerPhotoURL+'" alt="'+listing.address+'" width="300px" height="auto"></a><hr><h2>$'+listing.pricePerSemester+' per bedroom per '+listing.priceTerm+'</h2><span style="float: left;">'+listing.numBedrooms+' Bed / '+listing.numFullBaths+' Bath</span><span style="float: right"><a href="'+listing.url+'">View this Listing</a></span>');
  				});
  				$.each(featuredListings, function(index, listing) {
  					latArray.push(listing.lat); longArray.push(listing.long); // gather center data
  					addMarker(listing.id, listing.lat, listing.long, listing.propertyType, '<a href="'+listing.url+'"><img src="'+listing.bannerPhotoURL+'" alt="'+listing.address+'" width="300px" height="auto"></a><h2>$'+listing.pricePerSemester+' per bedroom per '+listing.priceTerm+'</h2><span style="float: left;">'+listing.numBedrooms+' Bed / '+listing.numFullBaths+' Bath</span><span style="float: right"><a href="'+listing.url+'">View this Listing</a></span>');
  				});  				
  			}
  			markerCluster = new MarkerClusterer(map, markers, {gridSize: 10, imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  			var correctedCenter = {lat: latArray.map(function(x,i,arr){return x/arr.length}).reduce(function(a,b){return a + b}), lng: longArray.map(function(x,i,arr){return x/arr.length}).reduce(function(a,b){return a + b})};
  			map.setCenter(correctedCenter);
  			mobileMap.setCenter(correctedCenter);
  		}
  		//add school pin
  		addMarker(99999, lat, long, "school", "");
  		//this fixed display issue
  		$("#map").css('position', 'fixed');
  		$("#mapView").css('position', 'absolute');
  		console.log('try resize');
  		google.maps.event.trigger(map, "resize");
  		google.maps.event.trigger(mobileMap, "resize");
  	}	

  	function addMarker(id, lat, long, type, info){
  		var marker = new google.maps.Marker({
  			id: id,
  			position: new google.maps.LatLng(lat, long),
  			map: map,
  			icon: icons[type].icon
  		});
  		if(type != "school"){ // only popup window if school
  			marker.addListener('click', function() {
  				if (infowindow){
  					infowindow.close();
  				} 
	        	infowindow = new google.maps.InfoWindow({
	            	content: info
	        	});
				infowindow.open(map, marker);
			});
  		}
  		var mobileMarker = new google.maps.Marker({
  			id: id,
  			position: new google.maps.LatLng(lat, long),
  			map: mobileMap,
  			icon: icons[type].icon
  		});
  		if(type != "school"){ // only popup window if school
  			mobileMarker.addListener('click', function() {
  				if (infowindow){
  					infowindow.close();
  				} 
	        	infowindow = new google.maps.InfoWindow({
	            	content: info
	        	});
				infowindow.open(map, mobileMarker);
			});
  		}
  		markers.push(marker);
  		google.maps.event.trigger(map, "resize");
  		google.maps.event.trigger(mobileMap, "resize");
  	}
  	// Removes the markers from the map, preps for refresh   
  	function clearMarkers(id) { 
  		while(markers.length > 0) {
  	    	var marker = markers.pop();
  				marker.visible = false;
  				marker.setMap(null);
  				markers.push(marker);
  				markers.length--;
  			}
  		markers = new Array();
  	}
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlGruIdIOTEk9uMtdJVY6Zg5aEFzo72IA" type="text/javascript"></script>
{% endblock %}

