<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 120%; margin-left: -10%;">
            <div class="modal-header" style="background-color: #71c0f6; text-align: center;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="/static/img/signInBanner.png" style="height: auto; max-width: 100%;">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        {% from "_formhelpers.html" import render_field %}
                        <form action="{{url_for('users.login')}}" method='POST'>
                            <dl>
                                {{login_form.csrf_token}}
                                {{ render_field(login_form.email, class="form-control", type="email") }}
                                {{ render_field(login_form.password, class="form-control", type="password") }}
                            </dl>
                            <p>
                                <input type='submit' value='Sign In' class="btn btn-primary pull-right">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('users.register')}}" style="padding-right: 15px;">Need to Sign Up?</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>