<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="login"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        {% from "_formhelpers.html" import render_field %}
                        <form action="{{url_for('users.login')}}" method='POST'>
                            <dl>
                                {{login_form.csrf_token}}
                                {{ render_field(login_form.email, class="form-control", type="email") }}
                                {{ render_field(login_form.password, class="form-control", type="password") }}
                            </dl>
                            <p>
                                <input type='submit' value='Login' class="btn btn-primary">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('users.register')}}">Need to register?</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>