<!--Package Options Modal-->
<div class="modal fade" id="packageDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="packageDescriptionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 180%; margin-left: -40%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="../static/img/pricingPackage.png" style="width: 100%;">
            </div>
        </div>
    </div>
</div>