<!--Package Options Modal-->
<div class="modal fade" id="packageDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="packageDescriptionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 180%; margin-left: -40%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div class="row">
                    <div class="col-xs-4">
                    	<div class="row">
                    		<div class="col-xs-12">
                                <div class="card text-center card-inverse" style="min-height: 400px; background-color: #3a5c82;">
                                    <div class="card-header" style="background-color: #5686c5;">
                                        <h1 style="font-family: amaranth;">PRO</h1>
                                    </div>
                                    <div class="card-block text-center" style="background-color: #3a5c82;">
                                        <span style="color: white; font-family: amaranth;">
                                        SCHOOL YEAR LEASE
                                        <h1>$79<span style="font-size: 60px;">.</span><sup>99</sup></h1>
                                        one time fee
                                        <hr>
                                        SUMMER LEASE
                                        <h1>$79<span style="font-size: 60px;">.</span><sup>99</h1>
                                        one time fee
                                        </span>
                                    </div>
                                </div>
                                <ul style="padding-left: 20px; text-align: left;">
                                    <li style="list-style: circle; padding: 15px; color: #5686c5; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Live Listing</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #5686c5; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Schedule Proprty Tours</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #5686c5; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Process Maintenance Requests</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #5686c5; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Property Management Tools</span>
                                    </li>
                                </ul>
                                <hr style="border-color: #5686c5;">
                            </div>
                    	</div>
                    </div>
                    <div class="col-xs-4">
                    	<div class="row">
                            <div class="col-xs-12">
                                <div class="card text-center card-inverse" style="min-height: 400px; background-color: #ae4c41;">
                                    <div class="card-header" style="background-color: #f16e5a;">
                                        <h1 style="font-family: amaranth;">PREMIUM</h1>
                                    </div>
                                    <div class="card-block text-center" style="background-color: #ae4c41;">
                                        <span style="color: white; font-family: amaranth;">
                                        SCHOOL YEAR LEASE
                                        <h1>$129<span style="font-size: 60px;">.</span><sup>99</sup></h1>
                                        one time fee
                                        <hr>
                                        SUMMER LEASE
                                        <h1>$69<span style="font-size: 60px;">.</span><sup>99</h1>
                                        one time fee
                                        </span>
                                    </div>
                                </div>
                                <ul style="padding-left: 20px; text-align: left;">
                                    <li style="list-style: circle; padding: 15px; color: #f16e5a; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Live Listing</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #f16e5a; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Schedule Proprty Tours</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #f16e5a; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Process Maintenance Requests</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #f16e5a; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Property Management Tools</span>
                                    </li>
                                </ul>
                                <hr style="border-color: #f16e5a;">
                                <ul style="padding-left: 20px; text-align: left;">
                                    <li style="list-style: circle; padding: 15px; color: #f16e5a; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Featured Listing</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #f16e5a; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Listed in Email Newsletter</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #f16e5a; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Social Media Exposure</span>
                                    </li>
                                </ul>
                            </div>
                    	</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="card text-center card-inverse" style="min-height: 400px; background-color: #a7843c;">
                                    <div class="card-header" style="background-color: #f3c258;">
                                        <h1 style="font-family: amaranth;">ENTERPRISE</h1>
                                    </div>
                                    <div class="card-block text-center" style="background-color: #a7843c;">
                                        <span style="color: white; font-family: amaranth;">
                                        SCHOOL YEAR/SUMMER LEASE
                                        <h1>Get a Quote</h1>
                                        <hr>
                                        contact@nexnest.com
                                        <h1>716-259-2935</h1>
                                        </span>
                                    </div>
                                </div>
                                <ul style="padding-left: 20px; text-align: left;">
                                    <li style="list-style: circle; padding: 15px; color: #f3c258; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Live Listing</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #f3c258; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Schedule Proprty Tours</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #f3c258; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Process Maintenance Requests</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #f3c258; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Property Management Tools</span>
                                    </li>
                                </ul>
                                <hr style="border-color: #f3c258;">
                                <ul style="padding-left: 20px; text-align: left;">
                                    <li style="list-style: circle; padding: 15px; color: #f3c258; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Volume Pricing</span>
                                    </li>
                                    <li style="list-style: circle; padding: 15px; color: #f3c258; font-size: 20px;">
                                        <span style="color: black; font-family: amaranth;">Custom Services</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button class="btn" style="color: white; background-color: #5686c5; font-size: 20px;">SELECT PACKAGE IN CART</button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn" style="color: white; background-color: #f16e5a; font-size: 20px;">SELECT PACKAGE IN CART</button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn" style="color: white; background-color: #f3c258; font-size: 20px;">SELECT PACKAGE IN CART</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>