{% extends "base.html" %}
{% block content %}
<br>
<div class="row nexnest-font" style="color: #656264; font-size: 20px;">
	<div class="hidden-sm-down col-md-4 col-lg-3 col-xl-2 faqVR">
		<h1 class="faqHeading" style="padding-left: 30px;">Navigate</h1>
		<hr class="faqHR">
		<a href="{{url_for('indexs.aboutUs')}}" class="faqNav"><h3 style="padding-left: 30px;"><strong>About Us</strong></h3></a>
		<a href="#" class="faqNav"><h3 style="padding-left: 30px;"><strong>Contact Us</strong></h3></a>
		<br>
		<h1 class="faqHeading" style="padding-left: 30px;">Help</h1>
		<hr class="faqHR">
		<a href="{{url_for('indexs.faq')}}" class="faqNav"><h3 style="padding-left: 30px;"><strong>FAQ</strong></h3></a>
		<a href="{{url_for('indexs.termsConditions')}}" class="faqNav"><h3 style="padding-left: 30px;"><strong>Terms of Use</strong></h3></a>
		<a href="{{url_for('indexs.privacyPolicy')}}" class="faqNav"><h3 style="padding-left: 30px;"><strong>Privacy Policy</strong></h3></a>
		<a href="#" class="faqNav" data-toggle="modal" data-target="#platformReportModal"><h3 style="padding-left: 30px;"><strong>Report Issue</strong></h3></a>
	</div>
	<div class="col-xs-12 col-xs-12 col-md-8 col-lg-9 col-xl-10" style="padding-top: 45px; padding-bottom: 45px;">
		<div class="row">
			<div class="col-lg-12">
				<div class="card" style="border: none;">
					<div class="card-header" style="background-color: #d2d2d2;">
						<h1 class="faqHeading"></i>Nexnest Privacy Policy</h1>
					</div>
				</div>
				Protecting your private information is our priority. This Statement of Privacy applies to www.nexnest.com and Nexnest, LLC. and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Nexnest, LLC. include www.nexnest.com and Nexnest. The Nexnest website is a Ecommerce site. By using the Nexnest website, you consent to the data practices described in this statement.
				<br><br>
				<strong style="font-size: 25px;">Collection of your Personal Information</strong>
				<br>
				Nexnest may collect personally identifiable information, such as your:
				<br>
				- Name
				<br> 
				- Address
				<br>
				- E-mail Address
				<br>
				- Phone Number
				<br><br>
				If you purchase Nexnest's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction.
				<br><br>
				Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through Nexnest's public message boards, this information may be collected and used by others.
				Nexnest encourages you to review the privacy statements of websites you choose to link to from Nexnest so that you can understand how those websites collect, use and share your information. Nexnest is not responsible for the privacy statements or other content on websites outside of the Nexnest website.
				<br><br>
				<strong style="font-size: 25px;">Use of your Personal Information</strong>
				<br>
				Nexnest collects and uses your personal information to operate its website(s) and deliver the services you have requested.
				<br><br>
				Nexnest may also use your personally identifiable information to inform you of other products or services available from Nexnest and its affiliates. Nexnest may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
				<br><br>
				Nexnest does not sell, rent or lease its customer lists to third parties.
				Nexnest may, from time to time, contact you on behalf of external business partners about a particular offering that may be of interest to you. In those cases, your unique personally identifiable information (e-mail, name, address, telephone number) is not transferred to the third party. Nexnest may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Nexnest, and they are required to maintain the confidentiality of your information.
				<br><br>
				Nexnest may keep track of the websites and pages our users visit within Nexnest, in order to determine what Nexnest services are the most popular. This data is used to deliver customized content and advertising within Nexnest to customers whose behavior indicates that they are interested in a particular subject area.
				<br><br>
				Nexnest will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Nexnest or the site; (b) protect and defend the rights or property of Nexnest; and, (c) act under exigent circumstances to protect the personal safety of users of Nexnest, or the public.
				<br><br>
				<strong style="font-size: 25px;">Automatically Collected Information</strong>
				<br>
				Information about your computer hardware and software may be automatically collected by Nexnest. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Nexnest website.
				<br><br>
				<strong style="font-size: 25px;">Use of Cookies</strong>
				<br>
				The Nexnest website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
				<br><br>
				One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Nexnest pages, or register with Nexnest site or services, a cookie helps Nexnest to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Nexnest website, the information you previously provided can be retrieved, so you can easily use the Nexnest features that you customized.
				<br><br>
				You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Nexnest services or websites you visit.
				<br><br>
				<strong style="font-size: 25px;">Security of your Personal Information</strong>
				<br>
				Nexnest secures your personal information from unauthorized access, use, or disclosure. Nexnest uses the following methods for this purpose:
				- SSL Protocol
				When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.
				<br><br>
				<strong style="font-size: 25px;">Children Under Thirteen</strong>
				<br>
				Nexnest does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
				<br><br>
				<strong style="font-size: 25px;">Opt-Out & Unsubscribe</strong>
				<br>
				We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Nexnest by contacting us here:
				<br>
				- Web page: www.nexnest.com
				<br>
				- Email: contact@nexnest.com 
				<br>
				- Phone: 716-259-2935
				<br><br>
				<strong style="font-size: 25px;">Changes to this Statement</strong>
				<br>
				Nexnest will occasionally update this Statement of Privacy to reflect company and customer feedback. Nexnest encourages you to periodically review this Statement to be informed of how Nexnest is protecting your information.
				<br><br>
				<strong style="font-size: 25px;">Contact Information</strong>
				<br>
				Nexnest welcomes your questions or comments regarding this Statement of Privacy. If you believe that Nexnest has not adhered to this Statement, please contact Nexnest at:
				<br>
				Nexnest, LLC.
				<br>
				214 Central Ave, Suite 215
				<br>Dunkirk, NY 14048
				<br><br>
				Email Address: contact@nexnest.com
				<br>
				Telephone number: 716-259-2935
				<br><br>
				Effective as of June 01, 2017
			</div>
		</div>
	</div>
</div>
{% endblock %}