{% extends "base.html" %}
{% block content %}
	<br>
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			{% from "_formhelpers.html" import render_field %}
			<form method=post>
			  	<dl>
				    {{ render_field(form.fname, class="form-control", type="text") }}
				    {{ render_field(form.lname, class="form-control", type="text") }}
				    {{ render_field(form.email, class="form-control", type="email") }}
				    {{ render_field(form.password, class="form-control", type="password") }}
				    {{ render_field(form.confirm, class="form-control", type="password") }}
				    {{ render_field(form.numProperties, class="form-control", type="number") }}
				    {{ render_field(form.accept_emails) }}
			  	</dl>
			  	<p>
			  		<input type=submit value=Register class="btn btn-info">
			  	</p>
			</form>
		</div>
	</div>
{% endblock %}