{% extends "base.html" %}
{% block content %}
<!-- <strong>Congratulations!</strong> The following tour time was approved by {Landlord Guy} for {address} on:
<br><br>
<div style="padding-left:20px">
<strong>{Monday June 10th, 2017}</strong><br>
<strong>{12:00 pm}</strong>
</div>
<br><br>
A reminder will be sent to you on the morning of your scheduled tour!<br><br>
Feel free to contact the landlord by clicking <a href="https://nexnest.com/user/directMessages/{1}">here</a> with any additional questions<br><br>
Thanks for choosing <a href="https://nexnest.com">nexnest.com</a>. -->


Hi {Max},<br><br>
A new tour time has been requested for {address}<br><br>
Click <a href="https://nexnest.com/tour/view/<tourID>">here</a> or the link below to confirm, decline or suggest a new time.<br><br>
<a href="https://nexnest.com/tour/view/<tourID>">https://nexnest.com/tour/view/<tourID></a><br><br>
We hope you tour the property soon! Thanks for using <a href="https://nexnest.com">nexnest.com</a><br><br>


{% endblock %}
