{% extends "base.html" %}
{% block content %}
<h4>Hi Amy Smith</h4>
            <br>
            You have recieved a tour request for 17 West Cedar...<br>
            The following times have been requested by Christine Frost<br>

            
                <div style="padding-left:40px">
                    <strong>Wed Aug 2, 17</strong><br>
            08:00AM<br>04:00PM<br></div><br>
                <div style="padding-left:40px">
                    <strong>Thu Aug 3, 17</strong><br>
            09:00PM<br></div><br>
                <div style="padding-left:40px">
                    <strong>Wed Aug 9, 17</strong><br>
            08:00AM<br>04:00PM<br></div><br>
        If you'd like to message Jerry before approving the tour, click <a href="https://nexnest.com/user/directMessages/7">here</a><br>

            Click <a href="https://nexnest.com/landlord/dashboard">here</a> to visit all tour requests.<br><br>

{% endblock %}
