{% extends "base.html" %}
{% block content %}
<!-- <strong>Congratulations!</strong> The following tour time was approved by {Landlord Guy} for {address} on:
<br><br>
<div style="padding-left:20px">
<strong>{Monday June 10th, 2017}</strong><br>
<strong>{12:00 pm}</strong>
</div>
<br><br>
A reminder will be sent to you on the morning of your scheduled tour!<br><br>
Feel free to contact the landlord by clicking <a href="https://nexnest.com/user/directMessages/{1}">here</a> with any additional questions<br><br>
Thanks for choosing <a href="https://nexnest.com">nexnest.com</a>. -->


<div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <span>Hi Amy Smith ,</span>
                <br><br>
                <span>
                    Mark Brady has submitted a maintenance request for 71913 Wayne Walks Apt..... This request was label as a Furnishing problem. 
                    <br>
                    Mark Brady also included: "Repellat repellendus voluptatibus qui esse aperiam. Ipsum reprehenderit consectetur praesentium assumenda nam. Aut nisi corporis optio ullam aliquam dolorum vitae. Non perspiciatis recusandae quam adipisci atque numquam praesentium assumenda."
                    <br><br>
                </span>
                <br>
                <span>
                    <br>
                    If you would like to ask any additional questions before fulfilling this maintenance request, <a href="https://nexnest.com/user/directMessages/2">Click Here</a> to go message the tenant.
                    <br><br>
                    Don’t forget to update your maintenance request status on <a href="https://nexnest.com/landlord/dashboard#maintenanceTab">nexnest.com</a> so your tenants can stay notified. 
                    
                </span>
            </div>
        </div>


{% endblock %}
