<div class="card" style="width: 100%">
    <div class="card-block">
        <div class="row">
            <div class="col-xs-2" style="height: 50px;">
                <img src="{{user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100%" />
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">                           
                            <a href="{{ url_for('users.viewUser', userID=user.id) }}">
                                <h4>{{ user.fname }} {{ user.lname }}</h4>
                            </a>
                            {% if current_user in landlords %}
                                {% if group.leader_id == user.id %}
                                    <h6 style="padding-top: 10px; padding-left: 5px;"><span class="tag tag-primary">Group Leader</span></h6>
                                {% endif %}
                            {% else %}
                                <h6 style="padding-top: 10px; padding-left: 5px;"><span class="tag tag-success">Landlord</span></h6>
                            {% endif %}                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>