{% extends "base.html" %}
{% block content %}
<link href="{{url_for('static', filename='css/landlord/dashboardStyling.css')}}" rel="stylesheet">
<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 display-table-cell v-align box" id="navigation" style="height: inherit;">
        <div class="navi navbar">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" style="padding-left: 10px; pointer-events: none;" data-toggle="tab" href="#" role="tab">
                        <h4 class="hidden-md-down"><strong>Tour Request</strong></h4>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="padding-left: 10px;" data-toggle="tab" href="#tourTab" role="tab">
                        <i class="fa fa-wrench" aria-hidden="true"></i><span class="hidden-md-down">The Tour</span>
                    </a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" style="padding-left: 10px;" data-toggle="tab" href="#propertyTab" role="tab">
                        <i class="fa fa-home" aria-hidden="true"></i><span class="hidden-md-down">The Property</span>
                    </a>
                </li>
                {% if current_user in landlords %}
                <li class="nav-item">
                    <a class="nav-link" style="padding-left: 10px;" data-toggle="tab" href="#membersTab" role="tab">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="hidden-md-down">
                            Group Members
                        </span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item hidden-lg-up">
                    <a class="nav-link" style="padding-left: 10px;" data-toggle="tab" href="#messagesTab" role="tab">
                        <i class="fa fa-comments-o" aria-hidden="true"></i><span class="hidden-md-down">Messages</span>
                    </a>
                </li>
                {% if current_user in landlords %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="padding-left: 10px;" data-toggle="modal" data-target="#groupReportModal">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="hidden-md-down">Report Group</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="padding-left: 10px;" data-toggle="modal" data-target="#landlordReportModal">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="hidden-md-down">Report Landlord</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-sm-10 col-md-10 col-xs-10">
        <div class="row m-x-auto">
            <div class="col-xs-12">
                <div class="callout-block text-center fade-in-b">
                    <h2 style="font-size: 3.0vh;">
                        {% if tour.tour_confirmed %}
                            {% if tour.declined %}
                                <b style="color: red;">TOUR HAS BEEN CANCELLED</b>
                            {% else %}
                                <b>Tour of {{ tour.listing.street }}, {{ tour.listing.city }} {{ tour.listing.state }} {{ tour.listing.zip_code }}</b>
                            {% endif %}
                        {% else %}
                            <b>Tour requested for {{ tour.listing.street }}, {{ tour.listing.city }} {{ tour.listing.state }} {{ tour.listing.zip_code }}</b>
                        {% endif %}
                    </h2>
                </div>
            </div>
        </div>
        <br>
        <div class="row">           
            <div class="col-xs-12 col-lg-7" style="padding-left: 35px;">
                <div class="tab-content">
                    <div class="tab-pane active" id="tourTab" role="tabpanel" style="padding: 0px;">
                        <div class="row">
                            <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
                                                          
                                <div class="card-block">
                                    <div class="row">
                                {% if tour.tour_confirmed %}
                                    {% if tour.declined %}
                                        
                                    {% else %}
                                        <p class="card-text"><strong>Tour is scheduled for:</strong> {{tour.confirmedTourTime.humanISOComplaintString}}</p>
                                    {% endif %}
                                {% endif %}
                                <div class="row">
                                    <div class="col-xl-12">
                                        {% if tour.group.leader_id == current_user.id %}
                                            {% if tour.last_requested == 'landlord' %}
                                                <strong>Tour Status:</strong>
                                                {% if tour.tour_confirmed %}  
                                                    {% if tour.declined %}
                                                        <b style="color: red;">TOUR HAS BEEN CANCELLED</b>
                                                    {% else %}                                                  
                                                        <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                        <br>
                                                        Tour has been confirmed for {{tour.confirmedTourTime.humanISOComplaintString}}. Please arrive at the property at this time to meet for the tour<br><br>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-6 col-lg-4">
                                                                    <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#cancelTourModal">Cancel Tour</a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                {% else %}
                                                    <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the you to confrim the requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    <br><br>
                                                    The Landlord has propsed these times for the tour, please select one or suggest different times<br>
                                                    <div class="row requestedTimes">
                                                        
                                                    </div>
                                                    <br><br>
                                                    <div class="row" style="padding-top: 10px;">
                                                        <div class="col-xs-12 col-xl-4" style="padding-bottom: 5px;">
                                                            <a href='#' class="btn btn-secondary confirmtime" data-toggle="modal" data-target="#confirmTourModal" style="width: 196px; pointer-events: none;">Confirm Time</a>
                                                        </div>
                                                        <div class="col-xs-12 col-xl-4" style="padding-bottom: 5px;">
                                                            <a href='#' class="btn btn-primary" data-toggle="modal" data-target="#timeChangeModal" style="width: 196px;">Suggest Different Time</a>
                                                        </div>
                                                        <div class="col-xs-12 col-xl-4" style="padding-bottom: 5px;">
                                                            <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#cancelTourModal" style="width: 196px;">Cancel Tour Request</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <p class="card-text">
                                                    <strong>Tour Status:</strong>
                                                    {% if tour.tour_confirmed %}
                                                        {% if tour.declined %}
                                                            <b style="color: red;">TOUR HAS BEEN CANCELLED</b>
                                                        {% else %}
                                                            <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                            <br>
                                                            Tour has been confirmed for {{tour.confirmedTourTime.humanISOComplaintString}}. Please arrive at the property at this time to meet for the tour
                                                            <br><br>
                                                            <div class="row" style="padding-top: 10px;">
                                                                <div class="col-xs-12 col-md-6 col-lg-4">
                                                                    <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#cancelTourModal">Cancel Tour Request</a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% else %}
                                                        <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the landlord to confrim your requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                        <br>
                                                        Waiting for the landlord to confirm your requested time or suggest a different one
                                                        <br><br>
                                                        <div class="row" style="padding-top: 10px;">
                                                            <div class="col-xs-12 col-md-6 col-lg-4">
                                                                <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#cancelTourModal">Cancel Tour Request</a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </p>
                                            {% endif %}
                                        {% elif current_user in landlords %}
                                            {% if tour.last_requested == 'group' %}
                                                <strong>Tour Status:</strong>
                                                {% if tour.tour_confirmed %}
                                                    {% if tour.declined %}
                                                        <b style="color: red;">TOUR HAS BEEN CANCELLED</b>
                                                    {% else %}
                                                        <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                        <br>
                                                        Tour has been confirmed for {{tour.confirmedTourTime.humanISOComplaintString}}. Please arrive at the property at this time to meet for the tour
                                                        <br><br>
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-6 col-lg-4">
                                                                <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#cancelTourModal">Cancel Tour</a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the you to confirm the requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    <br>
                                                    Waiting for the you to select one of the requested times or choose another one
                                                    <br><br>
                                                    <div class="row requestedTimes">
                                                        
                                                    </div>
                                                    <br><br>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-lg-6 col-xl-4" style="padding-bottom: 5px;">
                                                            <a href='#' class="btn btn-secondary confirmtime" data-toggle="modal" data-target="#confirmTourModal" style="width: 196px; pointer-events: none;">Confirm Time</a>
                                                        </div>
                                                        <div class="col-xs-12 col-lg-6 col-xl-4" style="padding-bottom: 5px;">
                                                            <a href='#' class="btn btn-primary" data-toggle="modal" data-target="#timeChangeModal" style="width: 196px;">Suggest Different Time</a>
                                                        </div>
                                                        <div class="col-xs-12 col-lg-6 col-xl-4" style="padding-bottom: 5px;">
                                                            <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#declineTourModal" style="width: 196px;">Decline Tour</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <strong>Tour Status:</strong>
                                                {% if tour.tour_confirmed %}
                                                    {% if tour.declined %}
                                                        <b style="color: red;">TOUR HAS BEEN CANCELLED</b>
                                                    {% else %}
                                                        <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                        <br>
                                                        Tour has been confirmed for {{tour.confirmedTourTime.humanISOComplaintString}}. Please arrive at the property at this time to meet for the tour
                                                    {% endif %}
                                                {% else %}
                                                    <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the group leader to confirm your requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    <br><br>
                                                    Waiting for the group leader to confirm your requested time or suggest a different one<br>
                                                    <div class="row" style="padding-top: 10px;">
                                                        <div class="col-xs-12 col-md-6 col-lg-4">
                                                            <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#cancelTourModal">Cancel Tour Request</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <br><br>
                                        {% else %}
                                            <strong>Tour Status:</strong>
                                            {% if tour.tour_confirmed %}
                                                {% if tour.declined %}
                                                        <b style="color: red;">TOUR HAS BEEN CANCELLED</b>
                                                    {% else %}
                                                    <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                    <br>
                                                    Tour has been confirmed for {{tour.confirmedTourTime.humanISOComplaintString}}. Please arrive at the property at this time to meet for the tour
                                                {% endif %}
                                            {% else %}
                                                {% if tour.last_requested == 'group' %}
                                                    <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Request Pending</b>" data-placement="top" data-content="Waiting for the landlord to confirm your requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    <br>
                                                    Waiting for the landlord to confirm your requested time or suggest a different one
                                                {% else %}
                                                    <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Request Pending</b>" data-placement="top" data-content="The landlord has proposed a different time. Waiting for your group leader to make a decision"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    <br>
                                                    The landlord has proposed a different time. Waiting for your group leader to make a decision
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="tab-pane" id="propertyTab" role="tabpanel" style="padding: 0px;">
                        <div class="row">
                            <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);"">
                                <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">The Property</h3>
                                <div class="card-block">
                                    <div class="row">
                                        {% with listing=tour.listing %}
                                            {% include 'listingMoreInfo.html' %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="membersTab" role="tabpanel" style="padding: 0px;">
                        <div class="row">
                            <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
                                <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
                                    {% if current_user in landlords %}
                                        Members
                                    {% endif %}
                                </h3>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    {% if current_user in landlords %}
                                                        <p class="card-text" style="font-size: 3.0vh;"><strong>Group Name: {{ tour.group.name }}</strong></p>
                                                        {% with group=tour.group %}
                                                            {% for user in group.acceptedUsers %}                                    
                                                                {% include 'house/smallMember.html' %}
                                                            {% endfor %}
                                                        {% endwith %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>              
                    </div>
                    <div class="tab-pane hidden-lg-up" id="messagesTab" role="tabpanel" style="padding: 0px;">
                        <div class="row">
                            <div class="card" style="width:100%;">
                                <h3 class="card-header" style="font-size: 3.5vh;">Group Message with Landlord:</h3>
                                <div class="card-block">
                                    <!-- Add new message -->
                                    <div class="form-group">
                                        <form action="{{url_for('tours.createMessage')}}" method='POST'>
                                            {{messageForm.tour_id(value=tour.id)}}
                                            {{messageForm.csrf_token}}
                                            <div class="row">
                                                {{messageForm.content(class="form-control", rows=5)}}
                                            </div>
                                            <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
                                                <div class="col-xs-12">
                                                    <input class="btn btn-primary" type="submit" value="Respond">
                                                </div>                                    
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Messages -->
                            {% if messages |length == 0 %}
                                <div class="alert alert-info" role="alert">
                                  <strong>No Messages Yet!</strong>Be the first one
                                </div>
                            {% else %}
                                {% for message in messages %}
                                    {% include 'tour/message.html' %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 hidden-md-down">
                <div class="card" style="width:100%;">
                    <h3 class="card-header" style="font-size: 3.0vh">Group Message with Landlord:</h3>
                    <div class="card-block">
                        <!-- Add new message -->
                        <div class="form-group">
                            <form action="{{url_for('tours.createMessage')}}" method='POST'>
                                {{messageForm.tour_id(value=tour.id)}}
                                {{messageForm.csrf_token}}
                                <div class="row">
                                    {{messageForm.content(class="form-control", rows=5)}}
                                </div>
                                <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
                                    <div class="col-xs-12">
                                        <input class="btn btn-primary" type="submit" value="Respond">
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Messages -->
                {% if messages |length == 0 %}
                    <div class="alert alert-info" role="alert">
                      <strong>No Messages Yet! </strong>Be the first one
                    </div>
                {% else %}
                    {% for message in messages %}
                        {% include 'tour/message.html' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'groupReportModal.html' %}
{% include 'landlordReportModal.html' %}

    
    <!--Confirm Tour Modal-->
    <div class="modal fade" id="confirmTourModal" tabindex="-1" role="dialog" aria-labelledby="confirmTour" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="card-text">Are you sure you want to confirm a tour for</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onClick="confirmTour()">Confirm Tour</button>
                </div>
            </div>
        </div>
    </div>

    <!--Request Tour Modal-->
    <div class="modal fade" id="timeChangeModal" tabindex="-1" role="dialog" aria-labelledby="timeChange" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">                  
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="timeChange"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <input type="text" id="datep" />
                            <div id="datepicker">
                            </div>
                            <br>
                            <div id="validTimes"></div>
                            <br>
                            <div id="doIShowTimeInput" style="display: none;">
                                <input id="selectedTourTimes" class="selectedTourTimes" type="text" value="" data-role="tagsinput">
                            </div>
                        </div>
                    </div>
                    <div id="groupNumber" style="display: none;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="suggestDifferentTimes()" data-dismiss="modal">Suggest These Times</button>
                </div>
            </div>
        </div>
    </div>

    <!--Decline Tour Modal-->
    <div class="modal fade" id="declineTourModal" tabindex="-1" role="dialog" aria-labelledby="declineTour" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="card-text">Are you sure you want to decline giving {{ tour.group.name }} a tour and not just <a href="#" data-toggle="modal" data-target="#timeChangeModal" data-dismiss="modal">schedule a different date and time?</a></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/tour/{{tour.id}}/decline" class="btn btn-danger">Decline Tour</a>
                </div>
            </div>
        </div>
    </div>

    <!--Decline Tour Modal-->
    <div class="modal fade" id="cancelTourModal" tabindex="-1" role="dialog" aria-labelledby="cancelTour" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="card-text">Has something come up? Are you sure you want to cancel this tour? This cannot be undone</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/tour/{{tour.id}}/decline" class="btn btn-danger">Cancel Tour</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
   var csrf_token = "{{ csrf_token() }}";

   $.ajaxSetup({
       beforeSend: function(xhr, settings) {
           if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
               xhr.setRequestHeader("X-CSRFToken", csrf_token);
           }
       }
   });
</script>
<script>
    var selectedDateTimes = [];
    var $datePicker = $("div#datepicker");
    
    var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
    ];
    var validTourTimes = ["8:00AM", "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM"]
    

    $datePicker.datepicker({ 
        changeMonth: true,
        changeYear: true,
        inline: true,
        altField: "#datep"   
     }).change(function(e){
        setTimeout(function(){
            $("#validTimes").empty();
            console.log($datePicker.datepicker('getDate'));
            var date = $datePicker.datepicker('getDate');
            var month = date.getUTCMonth() +1;
            var monthName = monthNames[month-1];
            var day = date.getDate();
            var year = date.getUTCFullYear();
            var dayOfWeek = date.getUTCDay();
            var dateForMax = ""+month+"-"+day+"-"+year;
            var returnDate = ""+monthName+" "+day+" "+year;
            console.log(returnDate);
            console.log(dayOfWeek);
            var alreadySelectedTimes = returnTimes(selectedDateTimes, dateForMax)
            console.log(alreadySelectedTimes);
            var timesShown =`<div class="row">`;
            for (var i = 0; i < validTourTimes.length; i++ )
            {
                timesShown+= `<div class="col-xs-4">
                     <div class="form-group">
                        <label class="control-label form-control-feedback" id="timelabel"style="font-size: 1.5em">`+ validTourTimes[i]+`</label>
                        <div class="checkbox">
                            <label style="font-size: 1.5em">
                            <input class="form-check-input tourtime" type="checkbox" onClick="addTime('`+returnDate+`','`+dateForMax+`','`+validTourTimes[i]+`')" id="date_`+returnDate+"_time_"+validTourTimes[i]+`" value="`+validTourTimes[i]+`"`;
                            for(var k=0; k<alreadySelectedTimes.length; k++){
                                if(alreadySelectedTimes[k]==validTourTimes[i]){
                                    timesShown+= `checked`;
                                }
                            }
                            timesShown+= `>
                            <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                            </label>
                        </div>
                    </div>
                 </div>`;
            }
            timesShown+= `</div>`;
            $("#validTimes").append(timesShown);
        });
    });
    $(".ui-datepicker").css("margin","auto");

    function addTime(date, dateForMax, time){
        $("#doIShowTimeInput").show();
        if(checkDateTime(selectedDateTimes, dateForMax, time) == false){
            var nextDateTime = ""+dateForMax + " " + time;
            selectedDateTimes.push(nextDateTime);
            $('#selectedTourTimes').tagsinput('add', ""+ date + " @ " +time);
        }
        else{
            $('#selectedTourTimes').tagsinput('remove', ""+ date + " @ " +time);
            console.log('already exists');
        }
        console.log(selectedDateTimes);
    }


    function checkKeyPair(obj, key, value){
        return obj.hasOwnProperty(key);
    }

    function checkDateTime(obj, date, time)
    {
        //debugger;
        console.log(obj);
        for (i = 0; i < obj.length; i++ )
        {
            if (obj[i] == ""+date+ " " + time)
            {               
                selectedDateTimes.splice(i,1);
                return true;                
            }
        }
        return false;
    }

    function returnTimes(obj, date)
    {
        console.log(obj);
        
        var times= [];
        for (i = 0; i < obj.length; i++ )
        {   console.log(obj[i].split(" ")[0]);
            console.log(date.toString());
            if (obj[i].split(" ")[0] == date.toString())
            {
                times.push(obj[i].split(" ")[1]);
            }
        }
        return times;
    }

    $( document ).ready(function() {
        $(".ui-datepicker").css("margin","auto");
        $('.selectedTourTimes').attr('readonly', 'readonly');
    });

    $('input').on('itemRemoved', function(event) {
      console.log(event);
      var removedItem = event.item;
      var fields = removedItem.split('@');
      var date = fields[0];
      date = date.trim();
      var time = fields[1];
      time = time.trim();
      console.log(date);
      console.log(time);
      checkDateTime(selectedDateTimes, date, time);
      console.log(selectedDateTimes);
      $("#date_"+date+"_time_"+time).prop('checked', false);
      console.log("#date_"+date+"_time_"+time);
      var elementExists = document.getElementById("date_"+date+"_time_"+time);
      console.log(elementExists);
    });




    $(document).ready(function() {
        var requestedTimes;
        $.ajax({
            url: '/tour/{{tour.id}}/getTourTimes',
            async: false,
            dataType: 'json',
            success: function(data){
                requestedTimes = data;
            }
        });
        for(var i=0; i<requestedTimes.tourTimes.length; i++){
            $(".requestedTimes").append(
                `<div class="col-xs-6 col-md-4 col-lg-4" style="padding-top: 10px;">
                    <button class="btn btn-secondary timeselector" style="width: 224px;" value="`+requestedTimes.tourTimes[i].dateTimeRequested+`">`+requestedTimes.tourTimes[i].dateTimeRequested+`</button>
            </div>`);
        }
    });
    $(document).ready(function(){
        $('#confirmed').popover({
            html: true,
            trigger: 'focus',
            template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #449d44; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
        });

        $('#pending').popover({
            html: true,
            trigger: 'focus',
            template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #ec971f; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
        });
    });

    //Confirm Tour Modal
    $('#confirmTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      var chosenTime;
      $( ".timeselector" ).each(function( index ) {
          if($(this).hasClass("btn-primary")){
              chosenTime=$(this).val();
          }
      });
      modal.find('.modal-title').text('Confirm Tour');
      modal.find('.card-text').text('Are you sure you want to confirm a tour for '+ chosenTime + "?");
    })

    //Confirm Tour Modal
    $('#timeChangeModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      var chosenTime;
      modal.find('.modal-title').text('Suggest Different Tour Times');
    })
    


    //Decline Tour Modal
    $('#declineTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Decline Tour');
    })

    //Decline Tour Modal
    $('#cancelTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Cancel Tour');
    })
    
    //Group Report
    $('#groupReportModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      modal.find('.modal-title').text('Report This Group');
      $("#group_id").val({{ tour.group.id }});
    });

    //Landlord Report
    $('#landlordReportModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      modal.find('.modal-title').text('Report Your Landlord');
      $("#landlord_id").val({{ tour.listing.landLordsAsUsers()[0].id }});      
    });


    function confirmTour(){
        var chosenTime;
        $( ".timeselector" ).each(function( index ) {
            if($(this).hasClass("btn-primary")){
                chosenTime=$(this).val();
            }
        });
        // Send AJAX request to backend
        requestURL = '/tour/confirmTime/{{tour.id}}'
        $.ajax({
          type: "POST",
          contentType: "application/json; charset=utf-8",
          url: requestURL,
          data: JSON.stringify({tourTime: chosenTime}),
          success: function (data) {
            console.log('Success for confirmTime')
            console.log('Returned Data ')
            console.log(data)
          },
          dataType: "json"
        });
        window.location.href=window.location.href;
    }

    $(document).on('click', '.timeselector', function () {
        $( ".timeselector" ).each(function( index ) {
            $(this).removeClass("btn-primary");
            $(this).removeClass("btn-secondary");
            $(this).addClass("btn-secondary");
        });
        $(this).removeClass("btn-secondary");
        $(this).addClass("btn-primary");
        $('.confirmtime').removeClass("btn-secondary");
        $('.confirmtime').addClass("btn-success");
        $('.confirmtime').css({ 'pointer-events' : ''});
    });

    function suggestDifferentTimes(){
        requestURL = "/tour/{{tour.id}}/updateTourTimes"
        $.ajax({
          type: "POST",
          contentType: "application/json; charset=utf-8",
          url: requestURL,
          data: JSON.stringify(selectedDateTimes),
          success: function (data) {
            console.log('Success for confirmTime')
            console.log('Returned Data ')
            console.log(data)
          },
          dataType: "json"
        });
        window.location.href=window.location.href;
    }

</script>
{% endblock %}
