{% extends "base.html" %}
{% block content %}
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <div class="callout-block text-center fade-in-b">
                <h1>
                    {% if tour.tour_confirmed %}
                    <b>Tour of {{ tour.listing.street }}, {{ tour.listing.city }} {{ tour.listing.state }} {{ tour.listing.zip_code }}</b>
                    {% else %}
                        <b>Tour requested for {{ tour.listing.street }}, {{ tour.listing.city }} {{ tour.listing.state }} {{ tour.listing.zip_code }}</b>
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1">
        </div>        
        <!--Info Pane-->
        <div class="col-md-6 col-lg-6 col-xl-6">
            <div class="row">
                <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
                    <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">The Tour</h3>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                {% if tour.tour_confirmed %}
                                    <p class="card-text"><strong>Tour is scheduled for:</strong> {{ tour.time_requested }}</p>
                                {% else %}
                                    <p class="card-text"><strong>Tour requested for:</strong> {{ tour.time_requested }}</p>
                                {% endif %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        {% if tour.group.leader_id == current_user.id %}
                                            {% if tour.last_requested == 'landlord' %}
                                                <strong>Tour Status:</strong>
                                                {% if tour.tour_confirmed %}
                                                    <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                    <br>
                                                    Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour
                                                {% else %}
                                                    <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the you to confrim the requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    <br>
                                                    Waiting for the you to confrim the requested time or suggest a different one<br>
                                                    <a href='#' class="btn btn-success" data-toggle="modal" data-target="#confirmTourModal">Confirm Time</a>
                                                    <a href='#' class="btn btn-primary" data-toggle="modal" data-target="#suggestTimeTourModal">Suggest Different Time</a>
                                                {% endif %}
                                            {% else %}
                                                <p class="card-text">
                                                    <strong>Tour Status:</strong>
                                                    {% if tour.tour_confirmed %}
                                                        <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                        <br>
                                                        Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour
                                                    {% else %}
                                                        <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the landlord to confrim your requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                        <br>
                                                        Waiting for the landlord to confrim your requested time or suggest a different one
                                                    {% endif %}
                                                </p>
                                            {% endif %}
                                        {% elif current_user in landlords %}
                                            {% if tour.last_requested == 'group' %}
                                                <strong>Tour Status:</strong>
                                                {% if tour.tour_confirmed %}
                                                    <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                    <br>
                                                    Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour
                                                {% else %}
                                                    <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the you to confirm the requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    <br>
                                                    Waiting for the you to confirm the requested time or suggest a different one
                                                    <br>
                                                    <a href='#' class="btn btn-success" data-toggle="modal" data-target="#confirmTourModal">Confirm Time</a>
                                                    <a href='#' class="btn btn-primary" data-toggle="modal" data-target="#suggestTimeTourModal">Suggest Different Time</a>
                                                {% endif %}
                                            {% else %}
                                                <strong>Tour Status:</strong>
                                                {% if tour.tour_confirmed %}
                                                    <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                    <br>
                                                    Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour
                                                {% else %}
                                                    <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the group leader to confirm your requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    <br>
                                                    Waiting for the group leader to confirm your requested time or suggest a different one
                                                {% endif %}
                                            {% endif %}
                                            <br><br>
                                        {% else %}
                                            <strong>Tour Status:</strong>
                                            {% if tour.tour_confirmed %}
                                                <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                <br>
                                                Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour
                                            {% else %}
                                                {% if tour.last_requested == 'group' %}
                                                    <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Request Pending</b>" data-placement="top" data-content="Waiting for the landlord to confirm your requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    <br>
                                                    Waiting for the landlord to confirm your requested time or suggest a different one
                                                {% else %}
                                                    <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Request Pending</b>" data-placement="top" data-content="The landlord has proposed a different time. Waiting for your group leader to make a decision"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                    <br>
                                                    The landlord has proposed a different time. Waiting for your group leader to make a decision
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12">
                                        {% if current_user in landlords %}
                                            <p class="card-text"><strong>The group requesting the tour:</strong></p>
                                            {% with group=tour.group %}
                                                {% for user in group.acceptedUsers %}                                    
                                                    {% include 'tour/member.html' %}
                                                {% endfor %}
                                            {% endwith %}
                                        {% else %}
                                            <p class="card-text"><strong>The property owner:</strong></p>
                                            {% for user in landlords %}
                                                {% include 'tour/member.html' %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
                    <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">The Property</h3>
                    <div class="card-block">
                        <div class="row">
                            {% with listing=tour.listing %}
                                {% include 'listingMoreInfo.html' %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4" style="padding-left: 5%;">
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">Type your message:</h3>
                    <div class="card-block">
                        <!-- Add new message -->
                        <div class="form-group">
                            <form action="{{url_for('tours.createMessage')}}" method='POST'>
                                {{messageForm.tour_id(value=tour.id)}}
                                {{messageForm.csrf_token}}
                                <div class="row">
                                    {{messageForm.content(class="form-control", rows=5)}}
                                </div>
                                <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
                                    <div class="col-xs-12">
                                        <input class="btn btn-primary" type="submit" value="Respond">
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                    <!-- Messages -->
                    {% for message in messages %}
                        {% include 'tour/message.html' %}
                    {% endfor %}
            </div>
        </div>
    </div>

    <!--Confirm Tour Modal-->
    <div class="modal fade" id="confirmTourModal" tabindex="-1" role="dialog" aria-labelledby="confirmTour" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="card-text">Are you sure you want to schedule a tour for {{ tour.time_requested }}?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('tours.confirmTour', tourID=tour.id) }}" class="btn btn-primary">Confirm Tour</a>
                </div>
            </div>
        </div>
    </div>

    <!--Suggest Different Time Tour Modal-->
    <div class="modal fade" id="suggestTimeTourModal" tabindex="-1" role="dialog" aria-labelledby="suggestTimeTour" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <form id="request_tour_time_change" action="{{url_for('tours.updateTime', tourID=tour.id)}}" method="POST">
                                {{ dateChangeForm.csrf_token }}
                                {{ dateChangeForm.input_id }}
                                {{ dateChangeForm.requestedDateTime() }}                             
                                <p class="flatpickr input-group" data-wrap="true" data-clickOpens="false">
                                    <input id="tourRequestTime" placeholder="Pick date" data-input style="background-color: inherit;">
                                    <a class="btn input-btn" style="border-color: #ddd;" data-toggle><i class="fa fa-calendar" aria-hidden="true"></i></a>
                                    <a class="btn input-btn" style="border-color: #ddd;" data-clear><i class="fa fa-times" aria-hidden="true"></i></a>
                                </p>
                            </form>  
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" onclick="submitTimeChangeForm({{tour.group.id}})">Request Time</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        flatpickr(".flatpickr", {
            enableTime: true,
            altInput: true,
            altFormat: "F j, Y h:i K",
            minuteIncrement: 15,
            disable: [{from: "0001-01-01",
                      to: "today"}]
        });
        $('.flatpickr-calendar').css('z-index', 99999999999999);
    });
    $(document).ready(function(){
        $('#confirmed').popover({
            html: true,
            trigger: 'focus',
            template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #449d44; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
        });

        $('#pending').popover({
            html: true,
            trigger: 'focus',
            template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #ec971f; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
        });
    });

    //Confirm Tour Modal
    $('#confirmTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Confirm Tour');
    })

    //Suggest Tour Time Modal
    $('#suggestTimeTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Request Different Time For Tour');
    })

    function submitTimeChangeForm(id) {
        $("#input_id").val(id);
        $("#requestedDateTime").val($("#tourRequestTime").val());
        $("#request_tour_time_change").submit()
    }

</script>
{% endblock %}
