{% extends 'base.html' %}
{% block content %}
	<div class="row" style="padding-top: 15px; padding-bottom: 100px;">
		<div class="col-xs-12 col-md-5" style="padding-top: 15px; text-align: center;">
			<img src="/static/img/saleOver.jpg" style="height: auto; max-width: 75%;">
			<br>
			<div class="row" style="padding-top: 15px;">
				<div class="col-md-12 col-lg-6" style="text-align: center; padding-top: 15px;">
					<a class="btn btn-blue" href="#" data-toggle="modal" data-target="#packageDescriptionModal" style="width: 231px; font-size: 22px;"><strong>Pricing & Packages</strong></a>
				</div>
				<div class="col-md-12 col-lg-6" style="text-align: center; padding-top: 15px;">
					<a class="btn btn-light-green" href="{{url_for('users.register')}}" style="width: 231px; font-size: 22px;"><strong>Sign Me Up!</strong></a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-7" style="padding-top: 15px;">
			<iframe height="100%" width="100%" src="https://www.youtube.com/embed/13TDsTAMaok" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
{% endblock %}