<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% if user.id == current_user.id %}
    <link href="{{url_for('static', filename='css/landlord/dashboardStyling.css')}}" rel="stylesheet">
    <div class="row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation" style="height: inherit;">
            <div class="navi navbar">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#meTab" role="tab">
                            <i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Me</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#emailTab" role="tab">
                            <i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Notification Preferences</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#favoritesTab" role="tab">
                            <i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">My Favorites</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-11 col-md-10">
        <div class="tab-content">
            <div class="tab-pane active" id="meTab" role="tabpanel" style="padding: 0px;">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <div class="callout-block text-center fade-in-b">
                            <h1>My Account</h1>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <div class="card" style="border: none;">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="card" style="width: 150px;">
                                            <img class="card-img" src="{{user.profile_image}}" style="height: 150px; width: 150px;">
                                        </div>
                                        <a href="#" data-toggle="modal" data-target="#changeAvatarModal">Change Photo</a>
                                    </div>
                                    <div class="col-xs-4" style="align-self: center; text-align: center;">
                                        <h1 style="margin-left: auto; margin-right: auto;"><strong>{{ user.fname }} {{ user.lname }}</strong></h1>
                                        <a href="{{ url_for('users.editAccountInfo') }}" class="btn btn-outline-info">Edit your profile</a>
                                        <a href="#" data-toggle="modal" data-target="#passwordChangeModal" class="btn btn-outline-info">Change Password</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-xs-12">
                                        {% if user.bio is not none %}
                                            <span>Bio: {{ user.bio }}</span>
                                            <br>
                                        {% endif %}
                                        {% if user.website is not none %}
                                            <span>Website: <a href="{{ user.website }}">{{ user.website }}</a></span>
                                        {% endif %}
                                        {% if user.school is not none %}
                                            <strong>College Attending: </strong>{{ user.school.name }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>                
            </div>
            <div class="tab-pane" id="emailTab" role="tabpanel" style="padding: 0px;">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <div class="callout-block text-center fade-in-b">
                            <h1>Notification Preferences</h1>
                        </div>
                    </div>
                </div>
                <br>
                <form method=post>
                {{form.csrf_token}}
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <div class="card" style="border: none;">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h1 class="card-title"><strong>Messages</strong></h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Direct Messages</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="direct_message_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.direct_message_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="direct_message_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.direct_message_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Tour</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="direct_message_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.tour_message_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="direct_message_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.tour_message_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Group</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="direct_message_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.group_message_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="direct_message_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.group_message_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>House</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="direct_message_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.house_message_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="direct_message_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.house_message_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Maintenance Request</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="direct_message_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.maintenance_message_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="direct_message_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.maintenance_message_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h1 class="card-title"><strong>Tours</strong></h1>
                                    </div>
                                </div>
                                {% if current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Requested</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.tour_create_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.tour_create_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Time Change Requested</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.tour_time_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.tour_time_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if not current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Confirmed</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_confirmed_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.tour_confirmed_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_confirmed_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.tour_confirmed_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if not current_user.isLandlord%}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Denied</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_denied_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.tour_denied_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_denied_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.tour_denied_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h1 class="card-title"><strong>Maintenance Requests</strong></h1>
                                    </div>
                                </div>
                                {% if current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>New Request</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.maintenance_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.maintenance_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if not current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>In-Progress</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_confirmed_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.maintenance_inProgress_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_confirmed_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.maintenance_inProgress_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if not current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Completed</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_denied_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.maintenance_completed_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_denied_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.maintenance_completed_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h1 class="card-title"><strong>Rent</strong></h1>
                                    </div>
                                </div>
                                {% if not current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Your Rent is Due</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.rent_due_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.rent_due_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>A Tenant has Paid Their Rent</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_confirmed_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.rent_paid_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_confirmed_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.rent_paid_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if not current_user.isLandlord %}
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h1 class="card-title"><strong>Groups</strong></h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>You Have Been Invited to a Group</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.group_user_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.group_user_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <hr>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h1 class="card-title"><strong>Property Requests</strong></h1>
                                    </div>
                                </div>
                                {% if current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Property Has Been Requested by a Group</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.group_listing_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_time_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.group_listing_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if not current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Accepted</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_confirmed_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.group_listing_accept_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_confirmed_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.group_listing_accept_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if not current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Denied</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_denied_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.group_listing_deny_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_denied_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.group_listing_deny_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% if not current_user.isLandlord %}
                                <div class="row">
                                    <div class="col-xs-4" style="padding-top: 30px;">
                                        <strong>Property Request Completed(House is Yours)</strong>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_denied_label">Notification</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.house_notification(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label class="control-label form-control-feedback" id="tour_denied_label">Email</label>
                                            <div class="checkbox">
                                                <label style="font-size: 1.5em">
                                                    {{form.house_email(class='form-control form-check-input')}}
                                                    <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <hr>
                                <input type='submit' value='Update Preferences' class="btn btn-primary">
                            </div>                    
                        </div>
                    </div>
                </div>
                </form>               
            </div>
            <div class="tab-pane" id="favoritesTab" role="tabpanel" style="padding: 0px;">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        <div class="callout-block text-center fade-in-b">
                            <h1>My Favorites</h1>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                        {% for favorite in userFavorites %}
                            <div class="row">
                                <div class="col-xs-0 col-md-1"></div>
                                <div class="col-xs-12 col-md-10" style="width: 100%">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-8 col-lg-8">
                                                    <a href="{{ url_for('listings.viewListing', listingID=favorite.listing.id) }}">
                                                        <h3 style="font-size: 3.5vh;"><strong>{{ favorite.listing.street }}, {{ favorite.listing.city }} {{ favorite.listing.state }}</strong></h3>
                                                        <small style="font-size: 2.5vh;">Lease Period: {{ favorite.listing.start_date }} - {{ favorite.listing.end_date }}</small>
                                                    </a>
                                                </div>
                                                <div class="col-xs-2 col-md-4 col-lg-4" style="text-align: right;">
                                                    <a href='#' class="btn btn-primary" id="{{ favorite.listing.id }}" data-toggle="modal" data-target="#suggestListingModal">Favorite For Group</a>
                                                </div>
                                            </div>                              
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="hidden-md-down col-lg-4">
                                                    <img src="{{favorite.listing.getBannerPhotoURL()}}" class="listingImg">
                                                </div>
                                                <div class="col-xs-12 col-lg-8">
                                                    <h3 style="font-size: 3.0vh;"><strong style="color:green;"><i class="fa fa-usd" aria-hidden="true"></i>{{ favorite.listing.price }}</strong> per bedroom per semester</h3>
                                                    <h3 style="font-size: 3.0vh;"><strong>{{ favorite.listing.num_bedrooms }}<i class="fa fa-bed" aria-hidden="true"></i>
                                                    &nbsp;
                                                    {{ favorite.listing.num_full_baths }}<i class="fa fa-bath" aria-hidden="true"></i></strong></h3>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-xl-12" style="padding-left: 15px;">
                                                            <br>
                                                            <strong> Property Description: </strong> {{ favorite.listing.description }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <strong>Time Period of Rental:</strong> {{ favorite.listing.time_period }}
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">                                                         
                                                        <div class="col-xl-6">
                                                            <strong>Lease Start Date:</strong> {{ favorite.listing.start_date }}
                                                        </div>
                                                        <div class="col-xl-6">
                                                            <strong>Lease End Date:</strong> {{ favorite.listing.end_date }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        {% if favorite.listing.rent_due == "semester" %}
                                                            <div class="col-xl-6">
                                                                <strong>First Semester Rent Due:</strong> {{ favorite.listing.first_semester_rent_due_date }}
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <strong>Second Semester Rent Due:</strong> {{ favorite.listing.second_semester_rent_due_date }}
                                                            </div>                                                               
                                                        {% elif favorite.listing.rent_due == "monthly" %}
                                                            <div class="col-xl-12">
                                                                <strong>Rent Due: </strong>1st of each month
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <!-- Suggest to Group Modal -->
    <div class="modal fade" id="suggestListingModal" tabindex="-1" role="dialog" aria-labelledby="suggestListingModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="login"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            {% for group in groups %}
                                <div class="card" style="width:100%;">
                                    <h3 class="card-header">{{ group.name }}</h3>
                                    <div class="card-block">            
                                        <p class="card-text">
                                            <strong>Group Leader:</strong>{{ group.leader.fname }} {{ group.leader.lname }}
                                        </p>
                                        <p class="card-text">
                                            <strong>Intended Lease Period:</strong> {{ group.start_date }} - {{ group.end_date }}
                                        </p>
                                        <p class="card-text">
                                            <strong><a href=# id="allMembersToggle{{group.id}}">See all members</a></strong>
                                            <div id="allMembers{{group.id}}" style="display: none;">
                                                {% for user in group.acceptedUsers %}
                                                    <li>{{ user.fname }} {{ user.lname }}</li>
                                                {% endfor %}
                                            </div>
                                        </p>                                    
                                        <button id="favLisiting{{group.id}}" class="btn btn-primary" data-dismiss="modal">Favorite Listing</button>
                                    </div>
                                </div>
                                <script>
                                    //Suggest Listing Modal
                                    $('#suggestListingModal').on('show.bs.modal', function (event) {
                                      var button = $(event.relatedTarget)
                                      var id = $(event.id);
                                      $("#favLisiting{{group.id}}").click(function(){favoriteLisitng({{group.id}}, event.relatedTarget.id); })
                                      var modal = $(this)
                                      modal.find('.modal-title').text('Suggest to Which Group?')
                                    })

                                    //Show/hide all members of group
                                    $("#allMembersToggle{{group.id}}").click(function(){
                                        $("#allMembers{{group.id}}").toggle();
                                    });
                                </script>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {% else %}

    {% endif %}

    {% include 'changePasswordModal.html' %}
    {% include 'changeAvatarModal.html' %}
{% endblock %}
{% block scripts %}
<script>
    function favoriteLisitng(groupID, listingID){
        alert("alert for "+groupID +" " + listingID)
    }
</script>
{% endblock %}