<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4 col-centered">
            <h1 style="display: inline; text-transform:capitalize;">{{ user.fname }} {{ user.lname }}</h1>
        </div>
    </div>
    <br>
    <div class="text-xs-center">
        {% if user.id == current_user.id %}
            <a href="{{ url_for('users.editAccountInfo') }}" class="btn btn-outline-info">Edit your profile</a>
        {% elif not user.id == current_user.id %}
            <a href="{{ url_for('indexs.index') }}" class="btn btn-outline-info">Invite to group</a>
            <a href="{{ url_for('users.directMessagesIndividual', user_id=user.id) }}" class="btn btn-outline-info">Message</a>
        {% endif %}
    </div>
    <br>
    <div class="text-xs-center" style="width: 200px;display:block; margin-left: auto; margin-right: auto;">
        <div class="card card-outline-primary" style="display:block; margin-left: auto; margin-right: auto;">
            <img class="card-img" src="{{user.profile_image}}" style="height: 150px;">
            <div class="card-img-overlay"> 
            {% if user.id == current_user.id %}
                <a href="{{ url_for('indexs.index') }}" style="position: absolute; bottom:0px;right:0px;color:#0275d8;"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a>
            {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="row">
                {% if user.bio is not none %}
                    <span>Bio: {{ user.bio }}</span>
                {% endif %}
            </div>
            <div class="row">
                {% if user.bio is not none %}
                    <span>Website: <a href="{{ user.website }}">{{ user.website }}</a></span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}