{% extends "base.html" %}
{% block content %}
<br>
<div class="row m-x-auto">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
        <div class="callout-block text-center fade-in-b">
            <h1>
                <b>Direct Messages to {{targetUser.fname}} {{targetUser.lname}}</b>
            </h1>
        </div>
    </div>
</div>
<br>          
{% for message in messages %}
    {% include 'user/message.html' %}
{% endfor %}

<div class="form-group">
    <form action="{{url_for('users.createDirectMessage')}}" method="POST">
    {{form.csrf_token}}
    {{form.target_user_id(value=targetUser.id)}}
    <div class="row">
        {{form.content(class="form-control", rows=5)}}
    </div>
    <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
        <div class="col-xs-12">
            <input class="btn btn-primary" type="submit" value="Respond">
        </div>                                    
    </div>
</div>

{% endblock %}
