{% extends "base.html" %}
{% block content %}
<br>
<div class="row m-x-auto">
    <div class="col-xs-0 col-lg-2">
    </div>
    <div class="col-xs-12 col-lg-8" style="padding-bottom: 15px;">
        <h1 style="color: #fea700;"><strong>Direct Messages with {{targetUser.name}}</strong></h1>
        <br>
        <div class="form-group">
            <form action="{{url_for('users.createDirectMessage')}}" method="POST">
            {{form.csrf_token}}
            {{form.target_user_id(value=targetUser.id)}}
            <div class="row">
                {{form.content(class="form-control", rows=5, style="border-color: #50ae82; border-width: medium;", placeholder="Type your message")}}
            </div>
            <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
                <div class="col-xs-12">
                    <input class="btn btn-primary" type="submit" value="Send Message">
                </div>                                    
            </div>
        </div>
        <br>
        {% for message in messages %}
            {% include 'user/message.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
