{% extends "base.html" %}
{% block content %}
<div class="row nexnest-font" style="font-size: 20px; padding-top: 45px;">
	<div class="col-xs-0 col-lg-2"></div>
	<div class="col-xs-12 col-lg-8">
		<h1 style="color: #f4c359; font-size: 50px;"><strong><i class="fa fa-comment" aria-hidden="true"></i> Direct Messages</strong></h1>
		{% if directMessages|length > 0 %}
			{% for message in directMessages %}
				{% if current_user.id == message.user.id %}
					<a href="{{url_for('users.directMessagesIndividual', userID=message.target_user.id)}}" style="text-decoration: none; color: #5686c5;">
				{% else %}
					<a href="{{url_for('users.directMessagesIndividual', userID=message.user.id)}}" style="text-decoration: none; color: #5686c5;">
				{% endif %}
				<div class="card" style="width: 100%; border-color: #50ae82; border-width: thick; margin-bottom: -22px;">
				    <div class="card-block directMessageBody" style="padding-bottom: 0px;">
				        <div class="row" style="min-height: 100px;">
				            <div class="hidden-xs-down col-sm-3 col-md-3 col-lg-3 col-xl-2" style="height: 100px;">
				            	{% if current_user.id == message.user.id %}
				                	<img src="{{message.target_user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100px; width: 100px;" />
				                {% else %}
				                	<img src="{{message.user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100px; width: 100px;" />
				                {% endif %}
				            </div>
				            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-10">
				                <div class="row">
				                    <h5 class="card-title">
				                    	{% if current_user.id == message.user.id %}
				                        	{{ message.target_user.name }}
				                        {% else %}
				                        	{{ message.user.name }}
				                        {% endif %}
				                        <span class="text-muted small timeago">{{ message.date_created }}</span>
				                    </h5>
				                </div>
				                <div class="row" style="color: #656264;">
				                	<div class="col-xs-12">
				                    	<p class="card-text">{{ message.content }}</p>
				                    </div>
				                    <div class="col-xs-12" style="text-align: right; padding-top: 15px;">
				                    	<div class="text-muted pull-right">View Entire Conversation <i class="fa fa-external-link" aria-hidden="true"></i></div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div></a>
				<br>
			{% endfor %}
		{% else %}
			<div class="alert alert-light-blue" role="alert">
                <strong>There are no direct messages to display. To start a direct message, simply click the message icon next to anyone's name.</strong>
            </div>
		{% endif %}
	</div>
</div>
{% endblock %}
