{% extends "base.html" %}
{% block content %}
	<div class="row m-x-auto nexnest-font" style="color: #656264; font-size: 20px; padding-top: 15px;">
		<div class="col-xs-0 col-lg-3"></div>
		<div class="col-xs-12 col-lg-6">
			{% from "_formhelpers.html" import render_field %}
			<form id="editAccountForm" action="{{url_for('users.editAccountInfo')}}" method="POST">
			{{form.csrf_token}}
			<fieldset>
			    <div class="row">
                    <div class="col-xs-12">
                        <div class="callout-block text-center fade-in-b" style="background-color: #d2d2d2;">
                            <h1>Edit Profile:</h1>
                        </div>
                    </div>
                </div>
			    <div class="row">
			        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			            <div class="form-group">
			                <label class="control-label form-control-feedback">First Name</label>
			                {{form.fname(class='form-control', required='required')}}
			            </div>
			        </div>
			        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			            <div class="form-group">
			                <label class="control-label form-control-feedback">Last Name</label>
			                {{form.lname(class='form-control', required='required')}}
			            </div>
			        </div>
			    </div>
			    <div class="row">
			        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			            <div class="form-group">
			                <label class="control-label">Email</label>
			                {{form.email(class='form-control', required='required')}}
			            </div>
			        </div>
			        {% if not current_user.isLandlord %}
				        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				            <div class="form-group">
				                <label class="control-label">College</label>
				                {{form.school(class='form-control', required='required')}}
				            </div>
				        </div>
			        {% else %}
			        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				            <div class="form-group">
				                <label class="control-label">Phone</label>
				                {{form.phone(class='form-control', required='required')}}
				            </div>
				        </div>
			        {% endif %}
			    </div>
			    {% if current_user.isLandlord %}
				    <div class="row">
				        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				            <div class="form-inline">
				                <label class="control-label">Date of Birth</label>
				                <br>
				                <select id="dobmonth" class='form-control'></select>
				                <select id="dobday" class='form-control'></select>                                            
				                <select id="dobyear" class='form-control'></select>
				            </div>
				        </div>
				    </div>
			   	{% endif %}
			</fieldset>
			{% if current_user.isLandlord %}
				<fieldset>
				    <legend style="padding-top: 20px;">Your Address:</legend>
				  	<div class="row">
				        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				            <div class="form-group">
				                <label class="control-label form-control-feedback">Street Address</label>
				                {{form.street(class='form-control', required='required')}}
				            </div>
				        </div>
				        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				            <div class="form-group">
				                <label class="control-label form-control-feedback">City</label>
				                {{form.city(class='form-control', required='required')}}
				            </div>
				        </div>
				    </div>
				    <div class="row">
				        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				            <div class="form-group">
				                <label class="control-label form-control-feedback">State</label>
				                {{form.state(class='form-control', required='required')}}
				            </div>
				        </div>
				        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				            <div class="form-group">
				                <label class="control-label form-control-feedback">Zip Code</label>
				                {{form.zip_code(class='form-control', required='required')}}
				            </div>
				        </div>
				    </div>
				</fieldset>
				<!-- <fieldset>
				    <legend style="padding-top: 20px;">Payments Accepted:</legend>
				  	<div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label form-control-feedback">Check Payments</label>
                                <div class="checkbox">
                                    <label style="font-size: 1.5em">
                                        {{form.check_pay(class='form-control form-check-input')}}
                                        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label form-control-feedback">Online Payments</label>
                                <div class="checkbox">
                                    <label style="font-size: 1.5em">
                                        {{form.online_pay(class='form-control form-check-input')}}
                                        <span class="cr"><i class="cr-icon fa fa-check-circle"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
				</fieldset> -->
				{{form.date_of_birth}}
			{% endif %}
		  	<p style="float: right;">
		  		<button type="button" class="btn btn-blue" onClick="submitForm()">Save Changes</button>
		  	</p>
			</form>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function(){
    $.dobPicker({
        // Selectopr IDs
        daySelector: '#dobday',
        monthSelector: '#dobmonth',
        yearSelector: '#dobyear',

        // Default option values
        dayDefault: 'Day',
        monthDefault: 'Month',
        yearDefault: 'Year',

        // Minimum age
        minimumAge: 0,

        // Maximum age
        maximumAge: 115
    });
    //Get the users current DOB
    var currentDOB = "{{dob}}";
    var date = currentDOB.split("-");
    var day = date[2];
    var month = date[1];
    var year = date[0];
    $("#dobday").val(day);
    $("#dobmonth").val(month);
    $("#dobyear").val(year);
});

function submitForm() {
	//get date of birth and set it
    var day = $("#dobday").val();
    var month = $("#dobmonth").val();
    var year = $("#dobyear").val();
    $("#date_of_birth").val(month+"-"+day+"-"+year);
    console.log($("#date_of_birth").val());
    $("form#editAccountForm").submit();
}
</script>
{% endblock %}
