{% extends 'base.html' %}
{% block content %}
<div class="row" style="padding-top: 30px; color: #656264">
    <div class="col-xs-1 col-xl-3"></div>
    <div class="col-xs-10 col-xl-6">
        <div class="callout-block text-center fade-in-b" style="background-color: #d2d2d2;">
            <h1>Request Email Verification</h1>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 15px; color: #656264">    
    <div class="col-xs-1 col-xl-3"></div>
        <div class="col-xs-10 col-xl-6">
        <div class="form-group">
            <label class="control-label form-control-feedback"><h3>Email Address:</h3></label>
            <input class="form-control" id="email" type="text" placeholder="bird@nexnest.com">
            <button class="btn btn-light-green pull-right" id="emailConfirm" value="Resend Email Verification" style="margin-top: 15px;">Resend Email Verification</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$('#emailConfirm').click(function() {
    email = $('#email').val();
    url = '/emailConfirm/resend/' + email;
    $.getJSON(url, function(data){ 
        if (data['success']) {
            console.log('success');
        } else {
            console.log('failure');
        }
    });
});
</script>
{% endblock %}
