{% extends "base.html" %} {% block content %}
<br>
<div class="row m-x-auto nexnest-font" style="color: #656264;">
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <div class="row">
            <div class="card" style="width:100%; border: none;">
                <h3 class="card-header" style="background-color: #d2d2d2;">We Just Need A Little More Information</h3>
                <div class="card-block">
                    <form id="moreInformationForm" action="{{url_for('users.landlordInformation')}}" method="POST">
                        {{form.csrf_token}}
                        <fieldset>
                            <legend>Address:</legend>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="locationField">
                                        <input class="form-control" id="autocomplete" placeholder="Start Typing Your Address To AutoFill" onFocus="geolocate()" type="text"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label form-control-feedback">Street Address</label>
                                        {{form.street(class='form-control', required='required')}}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label form-control-feedback">City</label>
                                        {{form.city(class='form-control', required='required')}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label">State</label>
                                        {{form.state(class='form-control', required='required')}}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label form-control-feedback">Zip Code</label>
                                        {{form.zip_code(class='form-control', required='required', maxlength='5')}}
                                        <!-- <input id="zip_code" required="required" maxlength="5" name="zip_code" type="text" class="form-control" /> -->
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Details About You:</legend>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label form-control-feedback">Telephone Number</label>
                                        {{form.phone(class='form-control', required='required', type="tel", placeholder='7162592935')}}
                                        <p id="incorrect_phone_format" style="display: none;" class="form-text text-muted">
                                            *Please enter phone number as 10 digits. No dashes or parentheses
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="form-inline">
                                        <label class="control-label form-control-feedback">Date of Birth</label>
                                        <br>
                                        <select id="dobmonth" class='form-control'></select>
                                        <select id="dobday" class='form-control'></select>                                            
                                        <select id="dobyear" class='form-control'></select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Your Availabilty for Tours:</legend>
                            <div class="row">
                                <div class="card" style="width:100%; border: none;">
                                    <div class="card-block" style="padding-left: 5px">
                                        Please select the times you are available for tours on an average week. Prospective tenants will only be able to request tours during times you have marked as being available.
                                        <br><br>
                                        <button type="button" id="selectAllAvailability" class="btn btn-light-green">Select All Times</button>
                                        <br><br>
                                        <div id="day-schedule"></div>
                                        <br>
                                        <div class="row" style="padding-left: 90px;">
                                            <div class="col-xs-1">
                                                <hr style="border-top: 20px solid #5686c5; width: 40px;">
                                            </div>
                                            <div class="col-xs-11" style="align-self: center; color: #5686c5;">
                                                <h4 style="font-size: 20px;">Available</h4>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-left: 90px;">
                                            <div class="col-xs-12">
                                                Click each time slot you wish to select
                                                <br><br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            {{form.date_of_birth}}
                            {{form.user_id}}
                            {{form.availabilities}}
						  	<p>
						  		<button type="button" class="btn btn-blue pull-right" onClick="submitForm()">Register As Landlord</button>
						  	</p>
        				</form>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACeJxqY35gOjqNTIukZb6A6Zh6jvQnY3w&libraries=places&callback=initAutocomplete" async defer></script>
<script>
var placeSearch, autocomplete;
var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
};

function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */
        (document.getElementById('autocomplete')), {
            types: ['geocode']
        });

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
}

function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();
    var street_number;
    var street_name;
    var street;
    var city;
    var state;
    var zipcode;
    //get all the info we need
    console.log(place);
    for (var i = 0; i < place.address_components.length; i++) {
        if (place.address_components[i].types[0] == "postal_code") {
            zipcode = place.address_components[i].long_name;
        } else if (place.address_components[i].types[0] == "street_number") {
            street_number = place.address_components[i].long_name;
        } else if (place.address_components[i].types[0] == "route") {
            street_name = place.address_components[i].long_name;
        } else if (place.address_components[i].types[0] == "neighborhood") {
            city = place.address_components[i].long_name;
        } else if (place.address_components[i].types[0] == "locality") {
            city = place.address_components[i].long_name;
        } else if (place.address_components[i].types[0] == "administrative_area_level_1") {
            state = place.address_components[i].short_name;
        }
    }
    street = street_number + " " + street_name;

    //fill in all the fields
    $("#street").val(street);
    $("#city").val(city);
    $("#state").val(state);
    $("#zip_code").val(zipcode);

    // for (var component in componentForm) {
    //     document.getElementById(component).value = '';
    //     document.getElementById(component).disabled = false;
    // }

    // // Get each component of the address from the place details
    // // and fill the corresponding field on the form.
    // console.log(place.address_components)
    // for (var i = 0; i < place.address_components.length; i++) {
    //     var addressType = place.address_components[i].types[0];
    //     if (componentForm[addressType]) {
    //         var val = place.address_components[i][componentForm[addressType]];
    //         document.getElementById(addressType).value = val;
    //     }
    // }
}

function geolocate() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
                center: geolocation,
                radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
        });
    }
}

(function($) {
    $("#day-schedule").dayScheduleSelector({
        /*
        days: [1, 2, 3, 5, 6],
        interval: 15,
        startTime: '09:50',
        endTime: '21:06'
        */
    });
    $("#day-schedule").on('selected.artsy.dayScheduleSelector', function(e, selected) {
        console.log(selected);
    })
    $("#day-schedule").data('artsy.dayScheduleSelector').deserialize({
        '0': [
            ['09:00', '10:00'],
            ['13:00', '14:00']
        ]
    });
})($);

$(document).ready(function(){
    $.dobPicker({
        // Selectopr IDs
        daySelector: '#dobday',
        monthSelector: '#dobmonth',
        yearSelector: '#dobyear',

        // Default option values
        dayDefault: 'Day',
        monthDefault: 'Month',
        yearDefault: 'Year',

        // Minimum age
        minimumAge: 0,

        // Maximum age
        maximumAge: 115
    });
});


function submitForm() {
    var day0 = [];
    var day1 = [];
    var day2 = [];
    var day3 = [];
    var day4 = [];
    var day5 = [];
    var day6 = [];
    //Get avaliable time slots
    $(".time-slot").each(function(index) {
        if ($(this).attr("data-selected")) {
            var day = $(this).attr("data-day");
            var time = $(this).attr("data-time");
            console.log("Day: " + day + " Time: " + time);
            if (day == 0) {
                day0.push(time);
            } else if (day == 1) {
                day1.push(time);
            } else if (day == 2) {
                day2.push(time);
            } else if (day == 3) {
                day3.push(time);
            } else if (day == 4) {
                day4.push(time);
            } else if (day == 5) {
                day5.push(time);
            } else if (day == 6) {
                day6.push(time);
            }
        }
    });
    //get date of birth and set it
    var day = $("#dobday").val();
    var month = $("#dobmonth").val();
    var year = $("#dobyear").val();
    $("#date_of_birth").val(month+"-"+day+"-"+year);
    console.log($("#date_of_birth").val());
    var returnDict = {
        0: day0,
        1: day1,
        2: day2,
        3: day3,
        4: day4,
        5: day5,
        6: day6
    };
    console.log(typeof(returnDict))
    console.log(returnDict);
    console.log(JSON.stringify(returnDict))
    $("#availabilities").val(JSON.stringify(returnDict))
    $("#phone").val($("#phone").val().replace(/-/g, ''));
    if($("#phone").val().length > 10){
        $("#incorrect_phone_format").show()
    }else{
        $("form#moreInformationForm").submit();
    }
}

$('#selectAllAvailability').click(function () {
    $( ".time-slot" ).each(function( index ) {
        $( this ).attr( "data-selected", "selected" );
    });
});

</script>
{% endblock %}
