{% extends "base.html" %}
{% block content %}
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2 col-xl-4">
        </div>
        <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xl-4">
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">Login to NexNest</h3>
                    <div class="card-block">
        				{% from "_formhelpers.html" import render_field %}
        				<form action="{{url_for('users.process_login')}}" method="POST">
        					{{login_form.csrf_token}}
							  	<dl>
								    {{ render_field(login_form.email, class="form-control", type="email") }}
				                    {{ render_field(login_form.password, class="form-control", type="password") }}
							  	</dl>
							  	<p>
							  		<input type='submit' value='Login' class="btn btn-info">
							  	</p>
        				</form>            
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
