<div class="card" style="width: 100%;">
    <div class="card-block">
        <div class="row">
            <div class="col-xs-2 col-xl-1" style="height: 50px;">
                <img src="{{message.source_user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100%" />
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <h4 class="card-title">
                        {{ message.source_user.fname }} {{ message.source_user.lname }} 
                    </h4>
                </div>
                <div class="row">
                    <h6 class="card-subtitle mb-2 text-muted">{{ message.date_created }}</h6>
                </div>
            </div>
        </div>                                   
        <div class="row">
            <div class="col-xs-12">
                <p class="card-text">{{ message.content }}</p>
            </div>
        </div>
    </div>
</div>