{% extends "base.html" %}
{% block content %}
    <meta id="schools" data-name="schools" data-other="{{schools}}">
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2 col-xl-4">
        </div>
        <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xl-4">
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">Register for NexNest</h3>
                    <div class="card-block">
        				{% from "_formhelpers.html" import render_field %}
        				<form action="{{url_for('users.register')}}" method="POST">
        					{{registration_form.csrf_token}}
							  	<dl>
								    {{ render_field(registration_form.email, class="form-control", type="email") }}
								    {{ render_field(registration_form.fname, class="form-control", type="text") }}
				                    {{ render_field(registration_form.lname, class="form-control", type="text") }}
                                    {{ render_field(registration_form.school, class="form-control", type="text") }}
				                    {{ render_field(registration_form.password, class="form-control", type="password") }}
				                    {{ render_field(registration_form.confirm, class="form-control", type="password") }}
							  	</dl>
							  	<p>
							  		<input type='submit' value='Register' class="btn btn-info">
							  	</p>
        				</form>            
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
var schools = [
    {% for school in schools %}
    '{{school}}',
    {% endfor %}
]
$('#school').autocomplete({
    source : schools
});
</script>
{% endblock %}
