{% extends "base.html" %}
{% block content %}
    <meta id="schools" data-name="schools" data-other="{{schools}}">
    <br>
    <div class="row m-x-auto" style="color: #656264;">
        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2 col-xl-3">
        </div>
        <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xl-6">
            <div class="row">
                <div class="card" style="width:100%;">
                    <div class="card-header" style="background-color: rgba(86, 134, 197, 0.49);">
                        <div class="row">
                            <div class="col-xs-1 hidden-md-down" style="align-self: center; padding: 0px;">
                                <img src="/static/img/housePin.png" style="height: auto; max-width: 100%;" class="hidden-md-down">
                            </div>
                            <div class="col-xs-1 hidden-lg-down" style="align-self: center; padding: 0px;">
                                <img src="/static/img/apartmentPin.png" style="height: auto; max-width: 100%;" class="hidden-lg-down">
                            </div>
                            <div class="col-xs-12 col-lg-10 col-xl-8" style="text-align: center;">
                                <img src="/static/img/signUpBanner.png" style="height: auto; max-width: 100%; max-height: 150px;">
                            </div>
                            <div class="col-xs-1 hidden-lg-down" style="align-self: center; padding: 0px;">
                                <img src="/static/img/complexPin.png" style="height: auto; max-width: 100%;" class="hidden-lg-down">
                            </div>
                            <div class="col-xs-1 hidden-md-down" style="align-self: center; padding: 0px;">
                                <img src="/static/img/yellowHousePin.png" style="height: auto; max-width: 100%;" class="hidden-md-down">
                            </div>
                        </div>
                    </div>
                    <div class="card-block nexnest-font">
        				{% from "_formhelpers.html" import render_field %}
        				<form id="registerForm" action="{{url_for('users.register')}}" method="POST" autocomplete="off">
        					{{form.csrf_token}}
                            <label class="control-label form-control-feedback">Sign Up As</label>
                            <div class="btn-group" data-toggle="buttons" style="display: flex;">
                                <label class="btn btn-outline-green active" id="registerAsTenant" style="font-size: 20px;">
                                    <input type="radio" checked autocomplete="off"> <i class="fa fa-graduation-cap" aria-hidden="true"></i> Tenant
                                </label>
                                <label class="btn btn-outline-green" id="registerAsLandlord" style="font-size: 20px;">
                                    <input type="radio" autocomplete="off"><i class="fa fa-home" aria-hidden="true"></i>  Landlord
                                </label>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label form-control-feedback">First Name</label>
                                        {{form.fname(class='form-control', required='required')}}
                                        <p id="validFname" style="display: none;" class="form-text text-muted">
                                            *Please Enter Your First Name(Must contain at least 1 letter)
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label form-control-feedback">Last Name</label>
                                        {{form.lname(class='form-control', required='required')}}
                                        <p id="validLname" style="display: none;" class="form-text text-muted">
                                            *Please Enter Your Last Name(Must contain at least 1 letter)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="collegeField">
                                <div class="col-xs-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label form-control-feedback">College</label>
                                        {{form.school(class='form-control')}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label form-control-feedback">Email</label>
                                        {{form.email(class='form-control', required='required', type="email")}}
                                        <p id="validEmail" style="display: none;" class="form-text text-muted">
                                            *Please Enter a Valid Email Address. EX. joesmith@gmail.com
                                        </p>  
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">
                                    <div class="form-group">
                                        <input class="password-autocomplete-disabler" type="text" disabled style="display: none;">
                                        <label class="control-label form-control-feedback">Password</label>
                                        {{form.password(class='form-control', required='required', type="password", autocomplete="new-password")}}
                                        <p id="passwordValidation" style="display: none;" class="form-text text-muted">
                                            *Password must: Be at least 8 characters long, Contain 1 Number, Contain 1 Upper Case Letter
                                        </p>                                        
                                    </div>
                                </div>
                                <div style="position: relative; width: 0; height: 0">
                                    <div id="pswd_info">
                                        <h4>Password must meet the following requirements:</h4>
                                        <ul style="padding: 0px;">
                                            <li id="capital" class="invalidPassword" style="list-style-type:none;">At least <strong>one capital letter</strong></li>
                                            <li id="number" class="invalidPassword" style="list-style-type:none;">At least <strong>one number</strong></li>
                                            <li id="length" class="invalidPassword" style="list-style-type:none;">Be at least <strong>8 characters</strong></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label form-control-feedback">Confirm Password</label>
                                        {{form.confirm(class='form-control', required='required', type="password")}}
                                        <p id="matchPasswords" style="display: none;" class="form-text text-muted">
                                            *Passwords Must Match
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 15px;">
                                <div class="col-xs-2 col-md-1">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label style="font-size: 1.5em">
                                                <input id="agreeToTerms" name="agreeToTerms" class="form-check-input" type="checkbox">
                                                <span class="cr"><i class="cr-icon fa fa-check" style="color: #4fac80;"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-10 col-md-11" style="margin-top: 7px;">
                                    <h5 id="agreeToTermsText">
                                        I agree to the
                                        <a href="{{url_for('indexs.termsConditions')}}" target="_blank">Terms of Service</a>
                                        and
                                        <a href="{{url_for('indexs.privacyPolicy')}}" target="_blank">Privacy Policy</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label style="font-size: 1.5em">
                                                <input id="agreeToTerms" class="form-check-input" type="checkbox" checked>
                                                <span class="cr"><i class="cr-icon fa fa-check" style="color: #4fac80;"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-10 col-md-11" style="margin-top: 7px;">
                                    <h5>
                                       Sign up for our email newsletter
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label style="font-size: 1.5em">
                                                <input id="agreeToTerms" class="form-check-input" type="checkbox">
                                                <span class="cr"><i class="cr-icon fa fa-check" style="color: #4fac80;"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-10 col-md-11" style="margin-top: 7px;">
                                    <h5>
                                        I am not a robot
                                    </h5>
                                </div>
                            </div>
                            {{form.landlord}}
						  	<p>
						  		<button id="submitRegistration" type="button" style="float: right;" class="btn btn-light-green" onClick="submitForm()">Sign Up As Tenant</button>
						  	</p>
        				</form>            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
{% endblock %}
{% block scripts %}
<script>
$("#registerAsLandlord").change(function () {
    $("#collegeField").hide();
    $('#school').removeAttr('required');
    var $el = $("#school");
    $el.empty(); // remove old options
    $("#landlord").val("landlord");
    $("#submitRegistration").text("Sign Up as Landlord");
});

$("#registerAsTenant").change(function () {
    $("#collegeField").show();
    $('#school').attr('required', 'required');
    var $el = $("#school");
    $el.empty(); // remove old options
    var newOptions = {
      {% for school in schools %}
        '{{school}}': '{{school}}',
      {% endfor %}
    };
    $.each(newOptions, function(key,value) {
        $el.append($("<option></option>")
     .attr("value", value).text(key));
    });
    $("#landlord").val("tenant");
    $("#submitRegistration").text("Sign Up as Tenant");
});

$( document ).ready(function() {
    var newOptions = {
        {% for school in schools %}
        '{{school}}': '{{school}}',
        {% endfor %}        
    };

    var registerAs = sessionStorage.getItem('registerAs');
    console.log(registerAs);
    if(registerAs == "landlord"){
        $("#registerAsLandlord").addClass("active");
        $("#registerAsTenant").removeClass("active");
    }

    check = $("#registerAsLandlord").hasClass("active");
    if(check) {
      $("#collegeField").hide();
      $('#school').removeAttr('required');
      $("#landlord").val("landlord");
      $("#submitRegistration").text("Register as Landlord");
    } else {
      $("#collegeField").show();
      $('#school').attr('required', 'required');
      var $el = $("#school");
      $el.empty(); // remove old options
      var newOptions = {
        {% for school in schools %}
          '{{school}}': '{{school}}',
        {% endfor %}
      };
      $.each(newOptions, function(key,value) {
          $el.append($("<option></option>")
       .attr("value", value).text(key));
      });
      $("#landlord").val("tenant");
      $("#submitRegistration").text("Sign Up as Tenant");
    }

    $('input[type=password]').keyup(function() {
        //validate the password as being typed
        var pswd = $(this).val();
        //validate the length
        if ( pswd.length < 8 ) {
            $('#length').removeClass('validPassword').addClass('invalidPassword');
        } else {
            $('#length').removeClass('invalidPassword').addClass('validPassword');
        }
        //validate capital letter
        if ( pswd.match(/[A-Z]/) ) {
            $('#capital').removeClass('invalidPassword').addClass('validPassword');
        } else {
            $('#capital').removeClass('validPassword').addClass('invalidPassword');
        }

        //validate number
        if ( pswd.match(/\d/) ) {
            $('#number').removeClass('invalidPassword').addClass('validPassword');
        } else {
            $('#number').removeClass('validPassword').addClass('invalidPassword');
        }        
    }).focus(function() {
        $('#pswd_info').show();
    }).blur(function() {
        $('#pswd_info').hide();
    });
});

function isEmail(email){
    var emailReg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return emailReg.test(email);
}

function isName(name){
    var nameRegex = /[a-zA-Z]/;
    return nameRegex.test(name);
}

function submitForm(){
    var validForm = true;
    check = $("#registerAsLandlord").hasClass("active");
    if(check) {
        $("#landlord").val("landlord");
        sessionStorage.setItem('registerAs', 'landlord');
    } else {
        $("#landlord").val("tenant");
        sessionStorage.setItem('registerAs', 'tenant');
    }
    //First we need to validate everything they have entered
    //Lets start with email
    var email = $("#email").val();
    if(isEmail(email) == false){
        validForm = false;
        $("#validEmail").show();
        $("#email").closest(".form-group").addClass("has-danger");
        $("#email").closest(".form-group").addClass("has-error");
    }
    else{
        $("#validEmail").hide();
        $("#email").closest(".form-group").removeClass("has-danger");
        $("#email").closest(".form-group").removeClass("has-error");
    }
    //Lets make sure they entered something in the name field
    var fname = $("#fname").val();
    var lname = $("#lname").val();

    if(isName(fname) == false){
        validForm = false;
        $("#validFname").show();
        $("#fname").closest(".form-group").addClass("has-danger");
        $("#fname").closest(".form-group").addClass("has-error");
    }
    else{
        $("#validFname").hide();
        $("#fname").closest(".form-group").removeClass("has-danger");
        $("#fname").closest(".form-group").removeClass("has-error");
    }

    if(isName(lname) == false){
        validForm = false;
        $("#validLname").show();
        $("#lname").closest(".form-group").addClass("has-danger");
        $("#lname").closest(".form-group").addClass("has-error");
    }
    else{
        $("#validLname").hide();
        $("#lname").closest(".form-group").removeClass("has-danger");
        $("#lname").closest(".form-group").removeClass("has-error");
    }

    //password validation
    //8 characters one uppercase and one lower
    var password = $("#password").val();
    var confirm = $("#confirm").val();
    //Ensure password matches
    if(password == confirm){
        //passsword matches, remove errors and prompt
        $("#password").closest(".form-group").removeClass("has-danger");
        $("#password").closest(".form-group").removeClass("has-error");
        $("#confirm").closest(".form-group").removeClass("has-danger");
        $("#confirm").closest(".form-group").removeClass("has-error");
        $("#matchPasswords").hide();

        //Ensure Password is strong enough
        if(( password.length >= 8 ) && password.match(/[A-Z]/) && password.match(/\d/)){            
            $("#password").closest(".form-group").removeClass("has-danger");
            $("#password").closest(".form-group").removeClass("has-error");
            $("#passwordValidation").hide();
        }
        else{
            console.log(password.length < 8);
            console.log(password.match(/[A-Z]/));
            console.log(password.match(/\d/));
            $("#password").closest(".form-group").addClass("has-danger");
            $("#password").closest(".form-group").addClass("has-error");
            $("#passwordValidation").show();
            validForm = false;
        }
    }
    else{
        $("#password").closest(".form-group").addClass("has-danger");
        $("#password").closest(".form-group").addClass("has-error");
        $("#confirm").closest(".form-group").addClass("has-danger");
        $("#confirm").closest(".form-group").addClass("has-error");
        $("#matchPasswords").show();
        validForm = false;
    }
    if ( !$('input[name="agreeToTerms"]').is(':checked') ) {
        $("#agreeToTermsText").css( "color", "red" );
        validForm = false;
    }
    else{
        $("#agreeToTermsText").css( "color", "black" );
    }

    if(validForm){
        $("form#registerForm").submit();
    }
}

</script>
{% endblock %}
