{% extends 'base.html' %}
{% block content %}
<br>
    <div class="row m-x-auto nexnest-font" style="font-size: 20px; color: #656264">
        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2 col-xl-4">
        </div>
        <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xl-4">
            <div class="row">
                <div class="card" style="width:100%; border: none;">
                    <h3 class="card-header" style="background-color: #d2d2d2;">Reset Password</h3>
                    <div class="card-block">
        				{% from "_formhelpers.html" import render_field %}
        				<form action="{{url_for('users.resetPasswordConfirm', payload=payload)}}" method="POST">
        				    {{form.csrf_token}}
        				    <dl>
        				    {{ render_field(form.password, class="form-control", type="password") }}
        				    {{ render_field(form.confirm, class="form-control", type="password") }}
        				    </dl>
        				    <input class="btn btn-blue pull-right" type="submit" value="Reset Password">
        				</form>          
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
