.btn-light-blue {
	background-color: #20b0ff; 
	color: white;
	border-radius: 10px;
}

.btn-blue {
	background-color: #5686c5; 
	color: white;
	border-radius: 10px;
}

.btn-light-green {
	background-color: #4fac80; 
	color: white;
	border-radius: 10px;
}

.btn-white {
	background-color: white;
	border-color: black;
	color: black;
}