.nexnest-font-index-title {
	font-family: Amaranth;
	font-size: 72px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}

.nexnest-font {
	font-family: Amaranth;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}