<div class="card" style="width: 100%">
    <div class="card-block">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2" style="height: 50px;">
                <img src="{{user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100%; max-width: 50px;" />
            </div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 col-xl-10">
                <div class="row">
                    <div class="col-xs-12 col-lg-8">
                        <div class="row">
                            <a href="{{ url_for('users.viewUser', userID=user.id) }}">
                                <h2 style="font-size: 3.0vh">{{ user.fname }} {{ user.lname }}</h2>
                            </a>
                            {% if group.leader_id == user.id %}
                                <h6 class="hidden-sm-down" style="padding-top: 8px; padding-left: 5px;"><span class="tag tag-primary">Group Leader</span></h6>
                                <h6 class="hidden-md-up" style="padding-top: 8px; padding-left: 5px;"><span class="tag tag-primary">Leader</span></h6>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-4">                            
                        {% if group.leader_id == current_user.id %}
                            {% if current_user.id != user.id %}
                                <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#removeUser" data-user="{{user.id}}" style="float: right;">Remove</a>
                            {% endif %}
                        {% endif %}
                        {% if current_user.id == user.id %}
                            <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#leaveGroupModal{{group.id}}" style="float: right;">Leave Group</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
