{% if current_user.id == message.user.id %}
<div class="card myMessage" style="width: 100%;">
{% else %}
<div class="card otherUserMessage" style="width: 100%;">
{% endif %}
    <div class="card-block" style="padding-bottom: 0px;">
        <div class="row">
            <div class="hidden-xs-down col-sm-3 col-md-3 col-lg-3 col-xl-2" style="height: 50px;">
                <img src="{{message.user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 50px; width: 50px;" />
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-10">
                <div class="row">
                    <h5 class="card-title" style="color: #656264;">
                        {{ message.user.fname }} {{ message.user.lname }} <span class="text-muted small timeago" style="padding-left: 13px; color: #d2d2d2;">{{ message.date_created }}</span>
                    </h5>
                </div>
                <div class="row">
                    <p class="card-text" style="color: #656264;">{{ message.content }}</p>
                </div>
            </div>
        </div>
    </div>
</div>