{% extends "base.html" %}
{% block content %}	
	<div class="row nexnest-font" style="width: 100%; color: #656264;">
		<div class="col-xs-12 ">
			{% if acceptedGroups|length == 0 and invitedGroups|length == 0 %}
				<div class="alert alert-light-blue" role="alert" style="text-align: center;">
				  <strong>You are not a part of any group!</strong> <a href="#" data-toggle="modal" data-target="#createGroupModal" style="color: #5686c5;"> Create a New Group</a> to invite your friends to join!
				</div>
			{% endif %}
			{% if acceptedGroups|length == 0 and invitedGroups|length != 0 %}
				<div class="alert alert-light-blue" role="alert" style="text-align: center;">
				  <strong>You are not currently part of any groups!</strong> <a href="#" data-toggle="modal" data-target="#createGroupModal" style="color: #5686c5;"> Create a New Group</a> or accept a pending invitation to join a group!
				</div>
			{% endif %}
		</div>
	</div>	
	<br><br>
	<div class="row nexnest-font" style="color: #656264;">
		<div class="col-xs-12 col-xl-6">
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					{% if acceptedGroups %}
					<div class="row">
						<div class="col-xs-8">
							<h1>My Groups:</h1>
						</div>
						<div class="col-xs-4" style="align-self: center;">
							<a class="btn btn-light-green" href="#" data-toggle="modal" data-target="#createGroupModal" style="float: right;"><i class="fa fa-plus" aria-hidden="true"></i> Create New Group</a>
						</div>
					</div>
					<div class="row">
						{% for group in acceptedGroups %}
							{% include "group/acceptedGroup.html" %}
						{% endfor %}
					</div>
					<br>
					{% endif %}
				</div>
			</div>
		</div>
		{% if acceptedGroups|length >= 0 and invitedGroups|length > 0 %}
		<div class="col-xs-12 col-xl-6">
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<hr class="hidden-lg-up">
					<div class="row">
						<div class="col-xs-12">
							<h1>Group Invites:</h1>
						</div>
					</div>
					{% if invitedGroups %}
						<div class="row">
							{% for group in invitedGroups %}
								{% include "group/invitedGroup.html" %}
							{% endfor %}
						</div>
					{% else %}
						<div class="alert alert-info" role="alert" style="text-align: center;">
						  <strong>No Pending Group Invites</strong>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	{% include 'group/createGroupModal.html' %}
{% endblock %}

{% block scripts %}
	<script>
		$('#createGroupModal').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget)
		  var modal = $(this)
		  modal.find('.modal-title').text('Create Group')
		});
	</script>
{% endblock %}