{% extends "base.html" %}
{% block content %}
	<br>
	<div class="row justify-content-md-center">
		<div class="col-xs-12 ">
			{% if acceptedGroups|length == 0 and invitedGroups|length == 0 %}
				<div class="alert alert-info" role="alert" style="text-align: center;">
				  <strong>You are not currently part of any groups!</strong> If you want to be a group leader you can <a href="{{ url_for('groups.createGroup') }}"> Create a New Group</a> you can then begin inviting people to your group
				</div>
			{% endif %}
			{% if acceptedGroups|length == 0 and invitedGroups|length != 0 %}
				<div class="alert alert-info" role="alert" style="text-align: center;">
				  <strong>You are not currently part of any groups!</strong> If you want to be a group leader you can <a href="{{ url_for('groups.createGroup') }}"> Create a New Group</a> you can then begin inviting people to your group. Or you may accept one of the pending invites you have to join a group
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row m-x-auto">
		<div class="col-xs-0 col-lg-4">
		</div>
		<div class="col-xs-12 col-lg-4">
			{% if acceptedGroups %}
			<div class="row">
				<h1>My Groups:</h1>
			</div>
			<div class="row">
				{% for group in acceptedGroups %}
					{% include "group/acceptedGroup.html" %}
				{% endfor %}
			</div>
			<br>
			<div class="row">
				<a href="{{ url_for('groups.createGroup') }}" class="btn btn-primary">Create New Group!</a>
			</div>
			{% endif %}			
			{% if invitedGroups %}
				<hr>
				<div class="row">
					<h1>Group Invites:</h1>
				</div>
				<div class="row">
					{% for group in invitedGroups %}
						{% include "group/invitedGroup.html" %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}