{% extends "base.html" %}
{% block content %}
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2 col-xl-4">

        </div>
        <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xl-4">
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">{{ group.name }}<button id="{{group.id}}" onClick="leaveGroup({{group.id}})" type="button" class="btn btn-danger leaveGroup">Leave Group</button></h3>
                    <div class="card-block">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#memberInfo" role="tab">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#suggestedListings" role="tab">Suggested Listings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tours" role="tab">Tours</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
                            </li>
                        </ul>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane active" id="memberInfo" role="tabpanel">            
                                <p class="card-text">
                                    <strong>Group Leader:</strong> <a href="{{ url_for('users.viewUser', userID=group.leader.id) }}">{{ group.leader.fname }} {{ group.leader.lname }}</a>
                                </p>
                                <p class="card-text">
                                    Intended Lease Period: {{ group.start_date }} - {{ group.end_date }}
                                </p>
                                <strong>Current Group Members:</strong>
                                {% for user in group.acceptedUsers %}
                                    <li><a href="{{ url_for('users.viewUser', userID=user.id) }}">{{ user.fname }} {{ user.lname }}</a>
                                    {% if group.leader_id == current_user.id %}
                                     - <a class="button" href="/group/{{group.id}}/assignLeader/{{user.id}}">Make Group Leader</a>
                                    {% endif %}
                                    </li>
                                {% endfor %}                        
                                {% if group.unAcceptedUsers %}
                                    <br>
                                    <strong>Invited Members:</strong>
                                    {% for user in group.unAcceptedUsers %}
                                        <li><a href="{{ url_for('users.viewUser', userID=user.id) }}">{{ user.fname }} {{ user.lname }}</a></li>
                                    {% endfor %}
                                {% endif %}
                                <br>

                                <!-- Group Leader Actions -->
                                {% if group.leader_id == current_user.id %}
                                <strong>Invite User to Group:</strong>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-6">                        
                                        <input id="userSearch" type="text" class="form-control" aria-describedby="searchHelpBlock" style="width:100%;">
                                    </div>
                                </div>
                                <p id="searchHelpBlock" class="form-text text-muted">
                                    Search by Username (first part of email)
                                </p>                        
                                <form id="invite_user" action="{{url_for('groups.invite')}}" method="POST">
                                    {{invite_form.csrf_token}}
                                    {{invite_form.group_id(value=group.id)}}
                                    {{invite_form.user_id}}
                                </form>
                                <span class="" id="userSearchUL"></span>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="suggestedListings" role="tabpanel">
                                {% for listing in suggestedListings %}
                                    <div class="row m-x-auto">
                                        <div class="col-md-12" style="padding-left: 30px; padding-right: 30px;">
                                            <a href="{{ url_for('listings.viewListing', listingID=listing.id) }}">
                                                <img src="{{url_for('static', filename='img/testHouse.jpg')}}" class="listingImg">
                                                <div class="listingDescription d-flex align-items-end">
                                                    {{ listing.num_bedrooms }}<i class="fa fa-bed" aria-hidden="true"></i> ${{ listing.price }}
                                                    <br>
                                                    {{ listing.street }}, {{ listing.city }}, {{ listing.state }}
                                                </div>
                                            </a>
                                        </div>     
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                            <div class="tab-pane" id="tours" role="tabpanel">
                                Tours
                            </div>
                            <div class="tab-pane" id="messages" role="tabpanel" style="height: 600px; overflow: auto;">
                                {% for message in messages %}
                                    <div class="card">
                                        <div class="card-block">
                                            <h4 class="card-title">{{ message.user.fname }} {{ message.user.lname }}</h4>
                                            <h6 class="card-subtitle mb-2 text-muted">{{ message.date_created }}</h6>
                                            <p class="card-text">{{ message.content }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="form-group">
                                    <form action="{{url_for('groups.createMessage')}}" method='POST'>
                                        {{message_form.group_id}}
                                        {{message_form.csrf_token}}
                                        <strong><label for="addComment">Type your message:</label></strong>
                                        {{message_form.content(class_="form-control")}}
                                        <input class="btn btn-primary" type="submit" value="Respond">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    function submitForm(id) {
        $("#user_id").val(id);
        $("#invite_user").submit()
    }

    function leaveGroup(id) {
        window.location.href="/group/leave/" + id;
    }
    
    $("#userSearch").keyup(function() {
        var keyToSearch = $("#userSearch").val();
        // alert($("#userSearch").val())
        $("#userSearchUL").empty();
        $.getJSON("/user/search/" + keyToSearch + "/" + {{group.id}}, function(data) {
            //clear div to prevent case of users typing to fast resulting in duplicate results
            $("#userSearchUL").html('<strong>Results:</strong');
            $.each(data.users, function(key, user) {
                userString = '<hr>'+
                            '<div id="' + user.id + '" class="row">'+
                                '<div class=col-xs-10>' +
                                    '<a href="/viewUser/' + user.id + '">' + 
                                        user.username + ' (' + user.fname + ' ' + user.lname + ')' +
                                    '</a>' +
                                '</div>'+
                                '<div class="col-xs-1">' +
                                    '<span onClick="submitForm(this.id)" class="invite btn btn-primary" id="' + user.id + '">Invite</span>'+
                                '</div>' +
                            '</div><br>';

                $("#userSearchUL").append(userString);
            });
            
        });
    });

    //Show/hide each div

    $("#allMembersToggle{{group.id}}").click(function(){
        $("#allMembers{{group.id}}").toggle();
    });
</script>
{% endblock %}
