{% extends "base.html" %}
{% block content %}
<link href="{{url_for('static', filename='css/landlord/dashboardStyling.css')}}" rel="stylesheet">
<div class="row">
    <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation" style="height: inherit;">
        <div class="navi navbar">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#maintenanceTab" role="tab" style="pointer-events: none;">
                        </i><h4 class="hidden-xs hidden-sm"><strong>My Group</strong></h4>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#membersTab" role="tab">
                        <i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Members</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#suggestedListingsTab" role="tab">
                        <i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Suggested Listings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#toursTab" role="tab">
                        <i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Tours</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#listingRequestsTab" role="tab">
                        <i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Listing Requests</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-10 col-md-9">
        <div class="row m-x-auto">
            <div class="col-xs-12">
                <div class="callout-block text-center fade-in-b">
                    <h1>
                        <b>{{ group.name }}</b>({{ group.acceptedUsers|length }} Members)
                    </h1>
                    <p><small>Intended Lease Period: {{ group.start_date }} - {{ group.end_date }}</small></p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-7" style="padding-left: 35px;">
                <div class="tab-content">
                    <div class="tab-pane active" id="membersTab" role="tabpanel" style="padding: 0px;">
                        <div class="row">
                            <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
                                <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">Members</h3>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <strong>Current Group Members:</strong>
                                            {% for user in group.acceptedUsers %}                                    
                                                {% include 'group/member.html' %}
                                            {% endfor %}                        
                                            {% if group.unAcceptedUsers %}
                                            {% if group.leader_id == current_user.id %}
                                                <a href='#' class="btn btn-primary" data-toggle="modal" data-target="#changeGroupLeaderModal">Change Group Leader</a>
                                                <br><br>
                                            {% endif %}
                                            <strong>Invited Members:</strong>
                                            {% for user in group.unAcceptedUsers %}
                                                {% include 'group/member.html' %}
                                            {% endfor %}
                                            {% endif %}

                                            <!-- Group Leader Actions -->
                                            {% if group.leader_id == current_user.id %}
                                            <br>
                                            <strong>Invite User to Group:</strong>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-6">                        
                                                    <input id="userSearch" type="text" class="form-control" aria-describedby="searchHelpBlock" style="width:100%;">
                                                </div>
                                            </div>
                                            <p id="searchHelpBlock" class="form-text text-muted">
                                                Search by Username (first part of email)
                                            </p>                        
                                            <form id="invite_user" action="{{url_for('groups.invite')}}" method="POST">
                                                {{invite_form.csrf_token}}
                                                {{invite_form.group_id(value=group.id)}}
                                                {{invite_form.user_id}}
                                            </form>
                                            <span class="" id="userSearchUL"></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="suggestedListingsTab" role="tabpanel" style="padding: 0px;">
                        <div class="row">
                            <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
                                <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">Suggested Listings</h3>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-xs-12" style="padding-left: 15px;">
                                            <div class="row">
                                                <div class="col-xs-12" style="padding-left: 15px;">
                                                    {% for listing in suggestedListings %}
                                                        <div class="row m-x-auto">
                                                            <div class="col-md-12" style="padding-left: 30px; padding-right: 30px;">
                                                                <div class="card" style="width: 100%;">                       
                                                                    <div class="card-block" style="padding-top: 0px; padding-left: 15px; padding-right: 15px;">
                                                                        <div class="row">
                                                                            <div class="imageContainer">
                                                                                <div class="image">
                                                                                    <a href="{{ url_for('listings.viewListing', listingID=listing.id) }}">
                                                                                        <img src="{{url_for('static', filename='img/testHouse.jpg')}}" class="listingImg card-img-top">
                                                                                    </a>
                                                                                </div>
                                                                                {% if group.leader_id == current_user.id %}
                                                                                    <div class="delete">
                                                                                        <i class="fa fa-trash fa-3x" aria-hidden="true" onclick="deleteFavoritedListing({{ listing.id }})"></i>
                                                                                    </div>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xs-6">
                                                                                {{ listing.num_bedrooms }}<i class="fa fa-bed" aria-hidden="true"></i>
                                                                                &nbsp;
                                                                                {{ listing.num_full_baths }}<i class="fa fa-bath" aria-hidden="true"></i>
                                                                                <br>
                                                                                ${{ listing.price }} per {{ listing.rent_due }}
                                                                            </div>
                                                                            <div class="col-xs-6" style="text-align: right;">
                                                                                {{ listing.street }}
                                                                                <br>
                                                                                {{ listing.city }}, {{ listing.state }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-xs-12 col-xl-12" style="padding-left: 15px;">
                                                                                <br>
                                                                                <strong> Property Description: </strong> {{ listing.description }}
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="row">
                                                                            <div class="col-xl-4">
                                                                                <strong>Time Period of Rental:</strong> {{ listing.time_period }}
                                                                            </div>
                                                                        </div>
                                                                        <br>
                                                                        <div class="row">                                                         
                                                                            <div class="col-xl-5">
                                                                                <strong>Lease Start Date:</strong> {{ listing.start_date }}
                                                                            </div>
                                                                            <div class="col-xl-5">
                                                                                <strong>Lease End Date:</strong> {{ listing.end_date }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            {% if listing.rent_due == "semester" %}
                                                                                <div class="col-xl-5">
                                                                                    <strong>First Semester Rent Due:</strong> {{ listing.first_semester_rent_due_date }}
                                                                                </div>
                                                                                <div class="col-xl-5">
                                                                                    <strong>Second Semester Rent Due:</strong> {{ listing.second_semester_rent_due_date }}
                                                                                </div>                                                               
                                                                            {% elif listing.rent_due == "monthly" %}
                                                                                <div class="col-xl-5">
                                                                                    <strong>Rent Due: </strong>1st of each month
                                                                                </div>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>     
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>              
                    </div>
                    <div class="tab-pane" id="toursTab" role="tabpanel" style="padding: 0px;">
                        <div class="row">
                            <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
                                <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">Tours</h3>
                                <div class="card-block">
                                    <div class="row">
                                        {% for tour in tours %}
                                            <div class="row">
                                                <div class="card">
                                                    <div class="card-block">
                                                        <div class="row">
                                                            <div class="col-xs-5">
                                                                <strong>Tour For:</strong>
                                                                <br>
                                                                {{ tour.listing.street }}
                                                                <br><br>
                                                                {% if tour.group.leader_id == current_user.id %}
                                                                    {% if tour.last_requested == 'landlord' %}
                                                                        <strong>Tour Status:</strong>
                                                                        {% if tour.tour_confirmed %}
                                                                            <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                                        {% else %}
                                                                            <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the you to confirm the requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        <p class="card-text">
                                                                            <strong>Tour Status:</strong>
                                                                            {% if tour.tour_confirmed %}
                                                                                <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                                            {% else %}
                                                                                <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the landlord to confirm your requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                                            {% endif %}
                                                                        </p>
                                                                    {% endif %}                                        
                                                                {% else %}
                                                                    <strong>Tour Status:</strong>
                                                                    {% if tour.tour_confirmed %}
                                                                        <button type="button" id="confirmed" class="btn btn-success btn-circle" title="<b>Tour Confirmed!</b>" data-placement="top" data-content="Tour has been confirmed for {{ tour.time_requested }}. Please arrive at the property at this time to meet for the tour"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                                    {% else %}
                                                                        {% if tour.last_requested == 'group' %}
                                                                            <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Request Pending</b>" data-placement="top" data-content="Waiting for the landlord to confirm your requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                                        {% else %}
                                                                            <button type="button" id="pending" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Request Pending</b>" data-placement="top" data-content="The landlord has proposed a different time. Waiting for your group leader to make a decision"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}                                            
                                                                {% if tour.tour_confirmed %}
                                                                    <p class="card-text"><strong>Tour is scheduled for:</strong><br> {{ tour.time_requested }}</p>
                                                                {% else %}
                                                                    <p class="card-text"><strong>Tour requested for:</strong><br> {{ tour.time_requested }}</p>
                                                                {% endif %}
                                                                <a href="{{ url_for('tours.viewTour', tourID=tour.id) }}" class="btn btn-primary">View Tour</a>
                                                            </div>
                                                            <div class="col-xs-7">
                                                                <div class="card" style="width: 100%;">
                                                                    <a href="{{ url_for('listings.viewListing', listingID=tour.listing.id) }}">
                                                                        <img src="{{url_for('static', filename='img/testHouse.jpg')}}" class="listingImg card-img-top">
                                                                    </a>
                                                                    <div class="card-block">
                                                                        <div class="row">
                                                                            <div class="col-xs-6">
                                                                                {{ tour.listing.num_bedrooms }}<i class="fa fa-bed" aria-hidden="true"></i>
                                                                                &nbsp;
                                                                                {{ tour.listing.num_full_baths }}<i class="fa fa-bath" aria-hidden="true"></i>
                                                                                <br>
                                                                                ${{ tour.listing.price }} per {{ tour.listing.rent_due }}
                                                                            </div>
                                                                            <div class="col-xs-6" style="text-align: right;">
                                                                                {{ tour.listing.street }}
                                                                                <br>
                                                                                {{ tour.listing.city }}, {{ tour.listing.state }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="listingRequestsTab" role="tabpanel" style="padding: 0px;">
                        <div class="row">
                            <div class="card" style="width:100%;">
                                <h3 class="card-header">Members</h3>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="leaseTab" role="tabpanel">
                        Lease
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">Type your message:</h3>
                    <div class="card-block">
                        <!-- Add new message -->
                        <div class="form-group">
                            <form action="{{url_for('groups.createMessage')}}" method='POST'>
                                {{message_form.group_id}}
                                {{message_form.csrf_token}}
                                {{message_form.next}}
                                <div class="row">
                                    {{message_form.content(class="form-control", rows=5)}}
                                </div>
                                <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
                                    <div class="col-xs-12">
                                        <input class="btn btn-primary" type="submit" value="Respond">
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Messages -->
                {% for message in messages %}
                    {% include 'group/message.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Leave Group Modal -->
    <div class="modal fade" id="leaveGroupModal{{group.id}}" tabindex="-1" role="dialog" aria-labelledby="leaveGroup" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="leaveGroup"></h4>
                </div>
                {% if group.leader_id == current_user.id %}
                <div class="modal-body">
                    You are the group leader, you can't leave without choosing a new group leader
                </div>
                {% endif %}
                <div class="modal-footer">
                    <div class="btn-group">
                    {% if group.leader_id == current_user.id %}
                        <a href='#' class="btn btn-primary" data-toggle="modal" data-target="#changeGroupLeaderModal" data-dismiss="modal">Change Group Leader</a>
                    {% else %}
                        <button class="btn btn-danger" onClick="leaveGroup({{group.id}})">Leave Group</button>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Group Leader Modal -->
    <div class="modal fade" id="changeGroupLeaderModal" tabindex="-1" role="dialog" aria-labelledby="changeLeader" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="changeLeader"></h4>
                </div>
                <div class="modal-body">
                    <h4>Which user would you like to promote to group leader?</h4>
                    {% for user in group.acceptedUsers %}                                    
                        {% include 'group/promoteMember.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Remove User From Group Modal -->
    <div class="modal fade" id="removeUser" tabindex="-1" role="dialog" aria-labelledby="removeUser" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="removeUser"></h4>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you wish to remove</h4>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a href="{{ url_for('groups.removeMember', groupID=group.id, userID=1) }}" id="removeUserLink" class="btn btn-danger">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    function setID(id){
        $("#group_id").val(id);
    }
    function submitForm(id) {
        $("#user_id").val(id);
        $("#invite_user").submit()
    }

    function leaveGroup(id) {
        window.location.href="/group/leave/" + id;
    }

    function deleteFavoritedListing(id) {
        alert("Deleted " + id);
    }
    
    $("#userSearch").keyup(function() {
        var keyToSearch = $("#userSearch").val();
        // alert($("#userSearch").val())
        $("#userSearchUL").empty();
        $.getJSON("/user/search/" + keyToSearch + "/" + {{group.id}}, function(data) {
            //clear div to prevent case of users typing to fast resulting in duplicate results
            $("#userSearchUL").html('<strong>Results:</strong');
            $.each(data.users, function(key, user) {
                userString = '<hr>'+
                            '<div id="' + user.id + '" class="row">'+
                                '<div class=col-xs-10>' +
                                    '<a href="/user/view/' + user.id + '">' + 
                                        user.username + ' (' + user.fname + ' ' + user.lname + ')' +
                                    '</a>' +
                                '</div>'+
                                '<div class="col-xs-1">' +
                                    '<span onClick="submitForm(this.id)" class="invite btn btn-primary" id="' + user.id + '">Invite</span>'+
                                '</div>' +
                            '</div><br>';

                $("#userSearchUL").append(userString);
            });
            
        });
    });

    $("#allMembersToggle{{group.id}}").click(function(){
        $("#allMembers{{group.id}}").toggle();
    });

    //Leave Group jquery
    $('#leaveGroupModal{{group.id}}').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var modal = $(this)
        modal.find('.modal-title').text('Leave {{ group.name }}?')
    })

    //Change Leader jquery
    $('#changeGroupLeaderModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var modal = $(this)
        modal.find('.modal-title').text('Change Group Leader')
    })

    //Remove User jquery
    $('#removeUser').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var modal = $(this)
        var user = $(event.relatedTarget).data('user');
        $("#removeUserLink").attr('href', "/group/{{group.id}}/removeMember/"+user);
        modal.find('.modal-title').text('Remove From Group')
    })

    $(document).ready(function(){
        $('#confirmed').popover({
            html: true,
            trigger: 'focus',
            template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #449d44; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
        });

        $('#pending').popover({
            html: true,
            trigger: 'focus',
            template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #ec971f; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
        });
    });
</script>
{% endblock %}

