{% extends "base.html" %}
{% block content %}
<link href="{{url_for('static', filename='css/landlord/dashboardStyling.css')}}" rel="stylesheet">
<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 display-table-cell v-align box" id="navigation" style="height: inherit;">
        <div class="navi navbar">
        	<ul>
        		<li class="nav-item">
        	        <a class="nav-link" data-toggle="tab" href="#" role="tab" style="pointer-events: none;">
        	        	</i><h4 class="hidden-md-down"><strong>Property Request</strong></h4>
        	        </a>
        	    </li>
        		<li class="nav-item">
        	        <a class="nav-link active" style="padding-left: 10px;" data-toggle="tab" href="#statusTab" role="tab">
        	        	<i class="fa fa-info-circle" aria-hidden="true"></i><span class="hidden-md-down">Status</span>
        	        </a>
        	    </li>
        	    {% if current_user in landlords %}
	        	    <li class="nav-item">
	        	        <a class="nav-link" style="padding-left: 10px;" data-toggle="tab" href="#membersTab" role="tab">
	        	        	<i class="fa fa-users" aria-hidden="true"></i>
	        	        	<span class="hidden-md-down">        	        		
	        	        		Group Members        	        		
	        	        	</span>
	        	        </a>
	        	    </li>
        	    {% endif %}
        	    <li class="nav-item">
        	        <a class="nav-link" style="padding-left: 10px;" data-toggle="tab" href="#propertyTab" role="tab">
        	        	<i class="fa fa-home" aria-hidden="true"></i><span class="hidden-md-down">Property</span>
        	        </a>
        	    </li>
                <li class="nav-item hidden-lg-up">
                    <a class="nav-link" style="padding-left: 10px;" data-toggle="tab" href="#messagesTab" role="tab">
                        <i class="fa fa-comments-o" aria-hidden="true"></i><span class="hidden-md-down">Messages</span>
                    </a>
                </li>
        	   <!--  {% if housingRequest.accepted %}
	        	    <li class="nav-item">
	        	        <a class="nav-link" style="padding-left: 10px;" data-toggle="tab" href="#leaseTab" role="tab">
	        	        	<i class="fa fa-file-text-o" aria-hidden="true"></i><span class="hidden-md-down">Lease</span>
	        	        </a>
	        	    </li>
        	    {% endif %} -->
                {% if current_user in landlords %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="padding-left: 10px;" data-toggle="modal" data-target="#groupReportModal">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="hidden-md-down">Report Group</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="padding-left: 10px;" data-toggle="modal" data-target="#landlordReportModal">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="hidden-md-down">Report Landlord</span>
                        </a>
                    </li>
                {% endif %}
        	</ul>
        </div>
    </div>
    <div class="col-sm-10 col-md-10 col-xs-10">
    	<div class="row">
	        <div class="col-xs-12">
	            <div class="callout-block text-center fade-in-b">
	                <h1 style="font-size: 3.0vh">
	                    <strong>{{ housingRequest.group.name }}</strong> Have requested to live at:
	                    <br>
	                    {{ housingRequest.listing.street }}
	                </h1>
	            </div>
                <div id="numGroupMembers" style="display: none;">{{housingRequest.group.acceptedUsers|count}}</div>
                <div id="areLeasesCollected" style="display: none;">{{housingRequest.all_leases_submitted}}</div>
	        </div>
    	</div>
    	<br>
    	<div class="row">    		
    		<div class="col-xs-12 col-lg-7" style="padding-left: 20px;">
			    <div class="tab-content">
				    <div class="tab-pane active" id="statusTab" role="tabpanel" style="padding: 0px;">
				    	<div class="row">
				    	    <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
				    	        <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125); font-size: 3.5vh;">Request Status</h3>
				    	        <div class="card-block">
				    	            <div class="row">
				    	            	<div class="col-xs-12">
				    	            		{% if not housingRequest.landlord_show %}
				    	            			<h1 style="color: red"><i class="fa fa-times-circle" aria-hidden="true"></i>Request Declined</h1>
				    	            			The landlord has declined your group's request to live at this property
				    	            		{% else %}
						    	                {% if housingRequest.accepted %}
						    	                	<div class="row">
						    	                		<div class="col-xs-10 col-xl-10">
						    	                			<strong style="padding-right: 5px; font-size: 3.0vh;">Application: </strong>
						    	                		</div>
						    	                		<div class="col-xs-2 col-xl-1">
						    	                			<button type="button" id="confirmed" class="btn btn-success btn-circle" style="pointer-events: none;"><i class="fa fa-check" aria-hidden="true"></i></button>
						    	                		</div>
						    	                	</div>
						    	                	<hr>
						    	                	<br>
						    	                	<div class="row">
						    	                		<div class="col-xs-10 col-xl-10">
                                                    		<strong style="padding-right: 5px; font-size: 3.0vh;">Leases Signed: </strong>
                                                    	</div>
                                                    	<div class="col-xs-2 col-xl-1">
                                                            {% if current_user in landlords %}
                                                        		{% if housingRequest.all_leases_submitted %}
    							                    				<button id="undoMarkAllCollected{{housingRequest.id}}" type="button" class="btn btn-success btn-circle" data-tooltip="Click here to mark all Leases as NOT completed" onclick="undoMarkLeasesCollected({{housingRequest.id}})"><i class="fa fa-check" aria-hidden="true"></i></button>
    							                    				<button type="button" id="undoMarkAllCollectedLoading{{housingRequest.id}}" class="btn btn-warning btn-circle" style="display: none;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></button>
    							                    				<button type="button" id="undoMarkAllUncollected{{housingRequest.id}}" class="btn btn-danger btn-circle" data-tooltip="Click here to mark all Leases as completed" style="display: none;" onclick="undoMarkLeasesUncollected({{housingRequest.id}})"><i class="fa fa-times" aria-hidden="true"></i></button>
    							                    			{% else %}
    							                    				<button id="markAllCollected{{housingRequest.id}}" type="button" class="btn btn-danger btn-circle" data-tooltip="Click here to mark all Leases as completed" onclick="markLeasesCollected({{housingRequest.id}})"><i class="fa fa-times" aria-hidden="true"></i></button>
    							                    				<button type="button" id="markAllCollectedLoading{{housingRequest.id}}" class="btn btn-warning btn-circle" style="display: none;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></button>
    							                    				<button type="button" id="markAllUncollected{{housingRequest.id}}" class="btn btn-success btn-circle" data-tooltip="Click here to mark all Leases as NOT completed" style="display: none;" onclick="markLeasesUncollected({{housingRequest.id}})"><i class="fa fa-check" aria-hidden="true"></i></button>
    							                    			{% endif %}
                                                            {% else %}
                                                                {% if housingRequest.all_leases_submitted %}
                                                                    <button type="button" class="btn btn-success btn-circle" style="pointer-events: none;"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                                {% else %}
                                                                    <button type="button" class="btn btn-danger btn-circle" style="pointer-events: none;"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                                {% endif %}
                                                            {% endif %}
                                                    	</div>
                                                    </div>
                                                    <hr>
                                                    <br>
                                                    <div class="row">
						    	                		<div class="col-xs-10 col-xl-10">
                                                    		<strong style="padding-right: 5px; font-size: 3.0vh;">Deposits Collected: </strong>
                                                    	</div>
                                                    	<div class="col-xs-2 col-xl-1">
                                                    		<span id="numDeposits{{housingRequest.id}}">{{housingRequest.numSecurityDepositsPaid}}</span>/{{housingRequest.group.acceptedUsers|count}}
                                                    	</div>
                                                    </div>
                                                    <hr>
						    	                	{% if current_user in landlords %}
						    	                		<span style="font-size: 2.5vh;">You have accepted <strong>{{ housingRequest.group.name }}</strong> to live at this property. Now you must arrange to collect signed leases from all tenants and security deposits if you require them. After everything has been collected click the "process completed button" to confirm the group for this property.</span>
                                                        <hr>
                                                        <!-- <div class="row">
                                                            <div class="col-xs-8">
                                                                <h3><strong>Leases Collected:</strong></h3>
                                                            </div>
                                                            <div class="col-xs-4" style="text-align: right">
                                                                <a href="#" class="btn btn-primary">Mark Collected</a>
                                                            </div>
                                                        </div> -->
                                                        <!-- {% if not hasLease %}
                                                            <form method='POST' action="{{url_for('housingRequests.uploadLease')}}" enctype="multipart/form-data">
                                                                {{leaseUploadForm.csrf_token}}
                                                                {{leaseUploadForm.lease}}
                                                                {{leaseUploadForm.groupListingID}}
                                                                <input type="submit">
                                                            </form>
                                                        {% else %}
                                                            <a href="#">View Lease</a>
                                                        {% endif %}
                                                        <br>
						    	                		<hr> -->
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <h3 style="font-size: 3.0vh;"><strong>Security Deposits:</strong></h3>
                                                            </div>
                                                            <div class="col-xs-4" style="text-align: right">
                                                                <h3 style="font-size: 3.0vh;"><span id="numDeposits2{{housingRequest.id}}">{{housingRequest.numSecurityDepositsPaid}}</span>/{{housingRequest.group.acceptedUsers|count}}</h3>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        {% for deposit in housingRequest.securityDeposits %}                                    
                                                            <div class="row">
                                                                <div class="col-xs-10">
                                                                    <a href="{{ url_for('users.viewUser', userID=deposit.user.id) }}">
                                                                        <h4>
                                                                            <img src="{{deposit.user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 50px; width: 50px;" />
                                                                            <span style="font-size: 2.5vh;">{{ deposit.user.fname }} {{ deposit.user.lname }}</span>
                                                                        </h4>
                                                                    </a>
                                                                </div>
                                                                <div class="col-xs-2" style="text-align: right">
                                                                    {% if deposit.completed %}
											                            <button id="depositPaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" onclick="paidToUnpaid({{deposit.user.id}}, {{housingRequest.id}})" class="btn btn-success btn-circle" data-tooltip="Click here to mark deposit as NOT paid"><i class="fa fa-check" aria-hidden="true"></i></button>
											                            <button id="markDepositUnpaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" class="btn btn-warning btn-circle" style="display: none;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></button>
											                            <button id="depositMarkedUnPaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" onclick="paidToPaid({{deposit.user.id}}, {{housingRequest.id}})" class="btn btn-danger btn-circle" style="display: none;" data-tooltip="Click here to mark deposit as paid"><i class="fa fa-times" aria-hidden="true"></i></button>
											                        {% else %}
											                            <button id="depositUnpaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" onclick="unpaidToPaid({{deposit.user.id}}, {{housingRequest.id}})" class="btn btn-danger btn-circle" data-tooltip="Click here to mark deposit as paid"><i class="fa fa-times" aria-hidden="true"></i></button>
											                            <button id="markDepositPaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" class="btn btn-warning btn-circle" style="display: none;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></button>
											                            <button id="depositMarkedPaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" onclick="unpaidToUnpaid({{deposit.user.id}}, {{housingRequest.id}})" class="btn btn-success btn-circle" style="display: none;" data-tooltip="Click here to mark deposit as NOT paid"><i class="fa fa-check" aria-hidden="true"></i></button>
											                        {% endif %}
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        {% endfor %}
						    	                		<a href='#' class="btn btn-primary" data-toggle="modal" data-target="#confirmGroupModal">Confirm Group</a>
	                                                    <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#somethingHappenedModal">Something Happened</a>
						    	                	{% else %}
						    	                		<span>You and the landlord must make arrangements to sign leases and pay your security deposits if they are required. After that has happened the landlord will confirm the listing and you will have this listing for {{ housingRequest.listing.start_date }} - {{ housingRequest.listing.end_date }}. </span>
						    	                	{% endif %}
						    	                {% else %}
						    	                	<strong style="padding-right: 5px;">Application: </strong>
						    	                	<button type="button" id="pending" class="btn btn-warning btn-circle pending"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
						    	                	<br>
						    	                	{% if current_user in landlords %}
						    	                		<span>If you have decided you want this group to live in this listing for {{ housingRequest.listing.start_date }} - {{ housingRequest.listing.end_date }}, please click the accept this listing button. The next step will be having the tenants sign leases and pay thier security deposits.</span>
						    	                		<br><br>
						    	                		<a href='#' class="btn btn-primary" data-toggle="modal" data-target="#acceptGroupModal">Accept Group</a>
	                                                    <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#declineGroupModal">Decline</a>
						    	                	{% else %}
						    	                		<span>Waiting for the landlord to either accept or decline your request. If he accepts the next step will have all members of your group signing leases and paying your security deposits.</span>
						    	                	{% endif %}
						    	                {% endif %}
						    	            {% endif %}
				    	                </div>
				    	            </div>
				    	        </div>
				    	    </div>
				    	</div>
				    </div>
			        <div class="tab-pane" id="membersTab" role="tabpanel" style="padding: 0px;">
			        	<div class="row">
			        	    <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
			        	        <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
			        	        {% if current_user in landlords %}
			        	        	Members
			        	        {% endif %}
			        	        </h3>
			        	        <div class="card-block">
			        	            <div class="row">
			        	                <div class="col-xs-12">
			        	                    <div class="row">
			        	                        <div class="col-xs-12">
			        	                            {% if current_user in landlords %}
			        	                                <p class="card-text"><strong>The group requesting the property: </strong>{{ housingRequest.group.name }}</p>
			        	                                {% with group=housingRequest.group %}
			        	                                    {% for user in group.acceptedUsers %}                                    
			        	                                        {% include 'house/smallMember.html' %}
			        	                                    {% endfor %}
			        	                                {% endwith %}
			        	                            {% endif %}
			        	                        </div>
			        	                    </div>
			        	                </div>
			        	            </div>
			        	        </div>
			        	    </div>
			        	</div>	            
			        </div>
			        <div class="tab-pane hidden-lg-up" id="messagesTab" role="tabpanel" style="padding: 0px;">
				    	{% if housingRequest.landlord_show %}
                            <div class="card" style="width:100%;">
                                <h3 class="card-header" style="font-size: 3.5vh;">Group Message with Landlord:</h3>
                                <div class="card-block">
                                    <!-- Add new message -->
                                    <div class="form-group">
                                        <form action="{{url_for('housingRequests.messageCreate')}}" method='POST'>
                                            {{messageForm.groupListingID(value=housingRequest.id)}}
                                            {{messageForm.csrf_token}}
                                            <div class="row">
                                                {{messageForm.content(class="form-control", rows=5)}}
                                            </div>
                                            <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
                                                <div class="col-xs-12">
                                                    <input class="btn btn-primary" type="submit" value="Respond">
                                                </div>                                    
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="callout-block text-center fade-in-b">
                                <h1>Messages</h1>
                            </div>
                        {% endif %}
                        <!-- Messages -->
                        {% if messages |length == 0 %}
                            <div class="alert alert-info" role="alert">
                              <strong>No Messages Yet! </strong>Be the first one
                            </div>
                        {% else %}
                            {% for message in messages %}
                                {% include 'housingRequest/message.html' %}
                            {% endfor %}
                        {% endif %}
				    </div>
                    <div class="tab-pane" id="propertyTab" role="tabpanel" style="padding: 0px;">
                        <div class="row">
                            <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
                                <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">The Property</h3>
                                <div class="card-block">
                                    <div class="row">
                                        {% with listing=housingRequest.listing %}
                                            {% include 'listingMoreInfo.html' %}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
			        <!-- <div class="tab-pane" id="leaseTab" role="tabpanel">
			        	Lease
			        </div> -->
				</div>				
    		</div>
    		<div class="col-lg-5 hidden-md-down" style="overflow-y: auto;">
    			{% if housingRequest.landlord_show %}
				    <div class="card" style="width:100%;">
				        <h3 class="card-header" style="font-size: 3.0vh;">Group Message with Landlord:</h3>
				        <div class="card-block">
				            <!-- Add new message -->
				            <div class="form-group">
				                <form action="{{url_for('housingRequests.messageCreate')}}" method='POST'>
				                    {{messageForm.groupListingID(value=housingRequest.id)}}
				                    {{messageForm.csrf_token}}
				                    <div class="row">
				                        {{messageForm.content(class="form-control", rows=5)}}
				                    </div>
				                    <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
				                        <div class="col-xs-12">
				                            <input class="btn btn-primary" type="submit" value="Respond">
				                        </div>                                    
				                    </div>
				                </form>
				            </div>
				        </div>
				    </div>
			    {% else %}
			    	<div class="callout-block text-center fade-in-b">
			    		<h1>Messages</h1>
			    	</div>
			    {% endif %}
			    <!-- Messages -->
                {% if messages |length == 0 %}
                    <div class="alert alert-info" role="alert">
                      <strong>No Messages Yet! </strong>Be the first one
                    </div>
                {% else %}
                    {% for message in messages %}
                        {% include 'housingRequest/message.html' %}
                    {% endfor %}
                {% endif %}
    		</div>
    	</div>
    </div>
</div>

<!--Accept Group Modal-->
<div class="modal fade" id="acceptGroupModal" tabindex="-1" role="dialog" aria-labelledby="acceptGroup" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="card-text">Are you sure you want to accept <strong>{{ housingRequest.group.name }}</strong> to live at this property? Next step will be to collect leases and security deposits</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('housingRequests.acceptRequest', id=housingRequest.id)}}" class="btn btn-primary">Accept Group</a>
            </div>
        </div>
    </div>
</div>

<!--Decline Group Modal-->
<div class="modal fade" id="declineGroupModal" tabindex="-1" role="dialog" aria-labelledby="declineGroup" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="card-text">Are you sure you want to decline <strong>{{ housingRequest.group.name }}</strong> to live at this property? You will not be able to undo this
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('housingRequests.denyRequest', id=housingRequest.id)}}" class="btn btn-danger">Decline Group</a>
            </div>
        </div>
    </div>
</div>

<!--Confirm Group Modal-->
<div class="modal fade" id="confirmGroupModal" tabindex="-1" role="dialog" aria-labelledby="confirmGroup" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="card-text">Have you recieved all leases and security deposits from <strong>{{ housingRequest.group.name }}</strong>? If so, this is the last step, once you click confirm neither party can back out from the terms of the signed leases.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('housingRequests.confirmRequest', id=housingRequest.id)}}" class="btn btn-primary">Confirm Group</a>
            </div>
        </div>
    </div>
</div>

<!--Confirm Group Modal-->
<div class="modal fade" id="everythingCollectedModal" tabindex="-1" role="dialog" aria-labelledby="everythingCollected" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="card-text">You have indicated that you have recieved all leases and deposits from  <strong>{{ housingRequest.group.name }}</strong>. If so, this is the last step, once you click confirm neither party can back out from the terms of the signed leases.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('housingRequests.confirmRequest', id=housingRequest.id)}}" class="btn btn-primary">Confirm Group</a>
            </div>
        </div>
    </div>
</div>

<!--Decline Group Modal-->
<div class="modal fade" id="somethingHappenedModal" tabindex="-1" role="dialog" aria-labelledby="somethingHappened" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="card-text">You have already agreed to allow <strong>{{ housingRequest.group.name }}</strong>. Has something happened to cause you to back out of renting to them? This cannot be undone.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{url_for('housingRequests.denyRequest', id=housingRequest.id)}}" class="btn btn-danger">Back Out</a>
            </div>
        </div>
    </div>
</div>

{% include 'groupReportModal.html' %}
{% include 'landlordReportModal.html' %}

{% endblock %}
{% block scripts %}
<script>  
	//Accept Group Modal
    $('#acceptGroupModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Accept Group');
    })

    //Decline Group Modal
    $('#declineGroupModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Decline Group');
    })

    //Confirm Group Modal
    $('#confirmGroupModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Confirm Group');
    })

    //Confirm Group Modal
    $('#everythingCollectedModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Everything has been collected!');
    })

    //Something Happened Modal
    $('#somethingHappenedModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Back Out');
    })

    //Group Report
    $('#groupReportModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      modal.find('.modal-title').text('Report This Group');
      $("#group_id").val({{ housingRequest.group.id }});
    });

    //Landlord Report
    $('#landlordReportModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      modal.find('.modal-title').text('Report Your Landlord');
      $("#landlord_id").val({{ housingRequest.listing.landLordsAsUsers()[0].id }});      
    });

    function getNumberOfTenants(){
        return parseFloat($("#numGroupMembers").html()) || 0;
    }
    function getAreLeasesCollected(){
        return $("#areLeasesCollected").html();
    }

    function getNumDepositsPaid(requestID){
        return parseFloat($("#numDeposits"+requestID).html()) || 0;
    }

	function markLeasesCollected(requestID){
        requestURL = '/houseRequest/{{housingRequest.id}}/allLeasesSubmitted/ajax'
        $.getJSON(requestURL, function(data) {
            results = data['results'];
            // alert(data['results'].success);
            if (results.success == true){ 
            	$("#markAllCollected"+requestID).hide();
            	$("#markAllCollectedLoading"+requestID).show();
                $("#areLeasesCollected").html("True");
            	setTimeout(function () {
                	$("#markAllCollectedLoading"+requestID).hide();
                	$("#markAllUncollected"+requestID).show();
                    isEverythingDone(getNumDepositsPaid(requestID), getNumberOfTenants(), getAreLeasesCollected());
                }, 1200);
            }
            else{
                alert("Something went wrong, try again later");
            }
        });
    }

    function markLeasesUncollected(requestID){
        requestURL = '/houseRequest/{{housingRequest.id}}/allLeasesSubmitted/ajax'
        $.getJSON(requestURL, function(data) {
            results = data['results'];
            // alert(data['results'].success);
            if (results.success == true){
            	$("#markAllUncollected"+requestID).hide();
            	$("#markAllCollectedLoading"+requestID).show();
                $("#areLeasesCollected").html("False");
            	setTimeout(function () {
                	$("#markAllCollectedLoading"+requestID).hide();
                	$("#markAllCollected"+requestID).show();
                }, 1200);
            }
            else{
                alert("Something went wrong, try again later");
            }
        });	 	
    }

    function undoMarkLeasesCollected(requestID){
        requestURL = '/houseRequest/{{housingRequest.id}}/allLeasesSubmitted/ajax'
        $.getJSON(requestURL, function(data) {
            results = data['results'];
            // alert(data['results'].success);
            if (results.success == true){
            	$("#undoMarkAllCollected"+requestID).hide();
            	$("#undoMarkAllCollectedLoading"+requestID).show();
                $("#areLeasesCollected").html("False");
            	setTimeout(function () {
                	$("#undoMarkAllCollectedLoading"+requestID).hide();
                	$("#undoMarkAllUncollected"+requestID).show();
                }, 1200);
            }
            else{
                alert("Something went wrong, try again later");
            }
        });
    }

    function undoMarkLeasesUncollected(requestID){
        requestURL = '/houseRequest/{{housingRequest.id}}/allLeasesSubmitted/ajax'
        $.getJSON(requestURL, function(data) {
            results = data['results'];
            // alert(data['results'].success);
            if (results.success == true){
            	$("#undoMarkAllUncollected"+requestID).hide();
            	$("#undoMarkAllCollectedLoading"+requestID).show();
                $("#areLeasesCollected").html("True");
            	setTimeout(function () {
                	$("#undoMarkAllCollectedLoading"+requestID).hide();
                	$("#undoMarkAllCollected"+requestID).show();
                    isEverythingDone(getNumDepositsPaid(requestID), getNumberOfTenants(), getAreLeasesCollected());
                }, 1200);
            }
            else{
                alert("Something went wrong, try again later");
            }
        });
    }

    function paidToUnpaid(userID, requestID){
    	requestURL = '/houseRequest/{{housingRequest.id}}/securityDeposit/' + userID + '/unPaid'
    	$.getJSON(requestURL, function(data) {
            results = data['results'];
            // alert(data['results'].success);
            if (results.success == true){ 
		    	var depositsPaid = parseFloat($("#numDeposits"+requestID).html()) || 0;
		    	$("#depositPaid"+requestID+"Z"+userID).hide();
		    	$("#markDepositUnpaid"+requestID+"Z"+userID).show();
                $("#numDeposits"+requestID).html(depositsPaid-1);
                $("#numDeposits2"+requestID).html(depositsPaid-1);
		    	setTimeout(function () {
		        	$("#markDepositUnpaid"+requestID+"Z"+userID).hide();
		        	$("#depositMarkedUnPaid"+requestID+"Z"+userID).show();		        	
		        }, 1200);
		    }
		    else{
		    	alert("Something went wrong, try again later");
		    }
		});
    }

    function paidToPaid(userID, requestID){
    	requestURL = '/houseRequest/{{housingRequest.id}}/securityDeposit/' + userID + '/paid'
    	$.getJSON(requestURL, function(data) {
            results = data['results'];
            // alert(data['results'].success);
            if (results.success == true){ 
		    	var depositsPaid = parseFloat($("#numDeposits"+requestID).html()) || 0;
		    	$("#depositMarkedUnPaid"+requestID+"Z"+userID).hide();
		    	$("#markDepositUnpaid"+requestID+"Z"+userID).show();
                $("#numDeposits"+requestID).html(depositsPaid+1);
                $("#numDeposits2"+requestID).html(depositsPaid+1);
		    	setTimeout(function () {
		        	$("#markDepositUnpaid"+requestID+"Z"+userID).hide();
		        	$("#depositPaid"+requestID+"Z"+userID).show();                    		        	
		        }, 1200);
                isEverythingDone(getNumDepositsPaid(requestID), getNumberOfTenants(), getAreLeasesCollected());
		    }
		    else{
		    	alert("Something went wrong, try again later");
		    }
		});
    }

    function unpaidToPaid(userID, requestID){
    	requestURL = '/houseRequest/{{housingRequest.id}}/securityDeposit/' + userID + '/paid'
    	$.getJSON(requestURL, function(data) {
            results = data['results'];
            // alert(data['results'].success);
            if (results.success == true){ 
		    	var depositsPaid = parseFloat($("#numDeposits"+requestID).html()) || 0;
		    	$("#depositUnpaid"+requestID+"Z"+userID).hide();
		    	$("#markDepositPaid"+requestID+"Z"+userID).show();
                $("#numDeposits"+requestID).html(depositsPaid+1);
                $("#numDeposits2"+requestID).html(depositsPaid+1);
		    	setTimeout(function () {
		        	$("#markDepositPaid"+requestID+"Z"+userID).hide();
		        	$("#depositMarkedPaid"+requestID+"Z"+userID).show();                    		        	
		        }, 1200);
                isEverythingDone(getNumDepositsPaid(requestID), getNumberOfTenants(), getAreLeasesCollected());
		    }
		    else{
		    	alert("Something went wrong, try again later");
		    }
		});
    }

    function unpaidToUnpaid(userID, requestID){
    	requestURL = '/houseRequest/{{housingRequest.id}}/securityDeposit/' + userID + '/unPaid'
    	$.getJSON(requestURL, function(data) {
            results = data['results'];
            // alert(data['results'].success);
            if (results.success == true){ 
		    	var depositsPaid = parseFloat($("#numDeposits"+requestID).html()) || 0;
		    	$("#depositMarkedPaid"+requestID+"Z"+userID).hide();
		    	$("#markDepositPaid"+requestID+"Z"+userID).show();
                $("#numDeposits"+requestID).html(depositsPaid-1);
                $("#numDeposits2"+requestID).html(depositsPaid-1);
		    	setTimeout(function () {
		        	$("#markDepositPaid"+requestID+"Z"+userID).hide();
		        	$("#depositUnpaid"+requestID+"Z"+userID).show();		        	
		        }, 1200);
		    }
		    else{
		    	alert("Something went wrong, try again later");
		    }
		});
    }

    function isEverythingDone(numDeposits, numTenants, leasesCollected){
        if(numDeposits == numTenants){
            if(leasesCollected == "True"){
                $("#everythingCollectedModal").modal("show");
            }
        }
    }
</script>
{% endblock %}
