{% extends "base.html" %}
{% block content %}
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <div class="callout-block text-center fade-in-b">
                <h1>
                    Request to live at:
                    <br>
                    {{ housingRequest.listing.street }}
                </h1>
            </div>
        </div>
    </div>
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1">
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">Type your message:</h3>
                    <div class="card-block">
                        <!-- Add new message -->
                        <div class="form-group">
                            <form action="{{url_for('housingRequests.messageCreate')}}" method='POST'>
                                {{messageForm.groupListingID(value=housingRequest.id)}}
                                {{messageForm.csrf_token}}
                                <div class="row">
                                    {{messageForm.content(class="form-control", rows=5)}}
                                </div>
                                <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
                                    <div class="col-xs-12">
                                        <input class="btn btn-primary" type="submit" value="Respond">
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Messages -->
                {% for message in messages %}
                    {% include 'housingRequest/message.html' %}
                {% endfor %}
                    
            </div>
        </div>
        <!--Info Pane-->
        <div class="col-md-4 col-lg-4 col-xl-4" style="padding-left: 5%;">
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">Property Request</h3>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        {% if current_user in landlords %}
                                            <p class="card-text"><strong>The group requesting the property:</strong></p>
                                            {% with group=housingRequest.group %}
                                                {% for user in group.acceptedUsers %}                                    
                                                    {% include 'tour/member.html' %}
                                                {% endfor %}
                                            {% endwith %}
                                        {% else %}
                                            <p class="card-text"><strong>The property owner:</strong></p>
                                            {% for user in landlords %}
                                                {% include 'tour/member.html' %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">The Property</h3>
                    <div class="card-block">
                        <div class="row">
                            {% with listing=housingRequest.listing %}
                                {% include 'listing.html' %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
<script>  

</script>
{% endblock %}
