<div class="card" style="width: 100%;">
    <div class="card-block">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-3 col-xl-3" style="height: 75px;">
                <img src="{{message.user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100%; min-width: 50px; max-width: 75px;" />
            </div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-9 col-xl-9">
                <div class="row">
                    <h4 class="card-title">
                        {{ message.user.fname }} {{ message.user.lname }} 
                        {% if housingRequest.group.leader_id == message.user.id %}
                            <h6 class="hidden-sm-down" style="padding-top: 10px; padding-left: 5px;"><span class="tag tag-primary">Group Leader</span></h6>
                            <h6 class="hidden-md-up" style="padding-top: 10px; padding-left: 5px;"><span class="tag tag-primary">Leader</span></h6>
                        {% endif %}
                        {% if message.user in landlords %}
                            <h6 style="padding-top: 10px; padding-left: 5px;"><span class="tag tag-success">Landlord</span></h6>
                        {% endif %}
                    </h4>
                </div>
                <div class="row">
                    <h6 class="card-subtitle mb-2 text-muted">{{ message.date_created }}</h6>
                </div>
            </div>
        </div>                                   
        <div class="row">
            <div class="col-xs-12">
                <p class="card-text" style="font-size: 2.0vh;">{{ message.content }}</p>
            </div>
        </div>
    </div>
</div>