{% extends "base.html" %}
{% block content %}
<link href="{{url_for('static', filename='css/checkout.css')}}" rel="stylesheet">
<br>
<div class="row">
  <div class="col-xs-1 col-xl-3"></div>
  <div class="col-xs-10 col-xl-6">
    <form id="checkout-form" action="/transactionGenerate" method="post">
      <div id="error-message"></div>
      <input type='hidden' name='csrf_token' value="{{csrf_token()}}" />
      <input type='hidden' name='listingTransactionID' value="{{listingTransaction.id}}" />
      <div class="panel">
        <header class="panel__header">
          <h1>Card Payment</h1>
        </header>    
        <div class="panel__content">
          <div class="textfield--float-label">
            <label class="hosted-field--label" for="card-number">Card Number</label>
            <div class="hosted-field" id="card-number"></div>
          </div>
          <div class="textfield--float-label">
            <label class="hosted-field--label" for="expiration-date">Expiration Date</label>
            <div class="hosted-field" id="expiration-date"></div>
          </div>
          <div class="textfield--float-label">
            <label class="hosted-field--label" for="cvv">CVV</label>
            <div class="hosted-field" id="cvv"></div>
          </div>
        </div>
        <footer class="panel__footer">
          <input type="hidden" name="payment_method_nonce">
          <input class="pay-button" type="submit" value="Pay ${{totalPrice}}" disabled>
        </footer>
      </div>  
    </form>
  </div>
</div>

<!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.11.0/js/client.min.js"></script>

<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.11.0/js/hosted-fields.min.js"></script>

<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var form = document.querySelector('#checkout-form');
var authorization = '{{clientToken}}';
var submit = document.querySelector('input[type="submit"]');

braintree.client.create({
  authorization: authorization
}, function (clientErr, clientInstance) {
  if (clientErr) {
    // Handle error in client creation
    console.error("Client Error : " + clientErr)
    return;
  }

  braintree.hostedFields.create({
    client: clientInstance,
    styles: {
      'input': {
        'font-size': '14pt'
      },
      'input.invalid': {
        'color': 'red'
      },
      'input.valid': {
        'color': 'green'
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: '10/2019'
      }
    }
  }, function (hostedFieldsErr, hostedFieldsInstance) {
    if (hostedFieldsErr) {
      // Handle error in Hosted Fields creation
      console.error("Error in Hosted Fields creation : " + hostedFieldsErr)
      return;
    }

    submit.removeAttribute('disabled');
    console.log(form)
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
        if (tokenizeErr) {
          // Handle error in Hosted Fields tokenization
          return;
        }

        // Put `payload.nonce` into the `payment_method_nonce` input, and then
        // submit the form. Alternatively, you could send the nonce to your server
        // with AJAX.
        document.querySelector('input[name="payment_method_nonce"]').value = payload.nonce;
        form.submit();
      });
    }, false);
  });
});
</script>
{% endblock %}