{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-xs-1 col-xl-3"></div>
		<div class="col-xs-10 col-xl-6">
			<div class="card" style="border: 0px;">
				<div class="card-header">
					<h3>Proceed With Checkout</h3>
				</div>
				<div class="card-block">
					<div class="row">
						<div class="col-xs-5">
							<strong>Listing</strong>
						</div>
						<div class="col-xs-4">
							<strong>Plan</strong>
						</div>
						<div class="col-xs-2">
							<strong>Price</strong>
						</div>
						<div class="col-xs-1">
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-12" id="checkOutItems">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-lg-7 col-xl-7" style="padding-bottom: 10px;">
							<div class="input-group">
							    <span class="input-group-btn">
							        <button class="btn btn-secondary" type="button" style="pointer-events: none;">Coupon Code?</button>
							    </span>
							    <input name='couponCode' id="couponCodeInput" type="text" class="form-control" placeholder="Enter it here!">
							</div>
						</div>
						<div class="col-xs-6 col-lg-3 col-xl-3">
							<span id="discount" style="color: green;"></span>
						</div>
						<div class="col-xs-6 col-lg-2 col-xl-2">
								<button class="btn btn-info" id="sumbitCouponCode" onClick="validateCoupon()" style="float: right; display: none;">Submit Code</button>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-xs-12" id="subTotal">
						</div>
						<div class="col-xs-12" id="tax">
						</div>
						<div class="col-xs-12" id="totalPrice">
							Total Price:
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-primary" onClick="proceedToCheckout()" style="float: right;">Proceed To Checkout</button>
				</div>
			</div>
		</div>
	</div>
    <form id="preCheckoutForm" action="/checkout" method="POST">
        {{preCheckoutForm.csrf_token}}
        {{preCheckoutForm.json(id='preCheckoutJSON')}}
    </form>
{% endblock %}
{% block scripts %}
<script>
	var totalPrice = 0;
	var subTotal = 0;
	var priceAfterCoupon = 0;
	var subtotalAfterCoupon = 0;
	var taxBeforeCoupon = 0;
	$( document ).ready(function() {
		// data = JSON.parse({{jsonData|tojson}});
        data = {{jsonData|tojson}};
        // console.log(data)
		landlordID = data['landlord']
		items = data['items'];
		console.log(items);
		$.each(items, function(index, item) {
			var checkoutItem = `<div class='row' id="itemInCart`+item.listing_id+`">
									<div class='col-xs-5'>
										<strong>`+ item.listing_street +`</strong>
										<br>
										`+ item.leasePeriod +`
									</div>
									<div class='col-xs-4'>
										`+ item.plan +` `+ item.timePeriod +`
									</div>
									<div class='col-xs-2'>
										`;
										if(item.plan == "standard"){
											if(item.timePeriod == "school"){
												checkoutItem += "$79.99";
												totalPrice += 79.99;
											}
											else if(item.timePeriod == "summer"){
												checkoutItem += "$39.99";
												totalPrice += 39.99;
											}
										}
										else if(item.plan == "premium"){
											if(item.timePeriod == "school"){
												checkoutItem += "$129.99";
												totalPrice += 129.99;
											}
											else if(item.timePeriod == "summer"){
												checkoutItem += "$69.99";
												totalPrice += 69.99;
											}
										}
									checkoutItem +=`
									</div>
									<div class='col-xs-1'>
										<button class='btn btn-danger btn-circle' style='float:right;' onClick='removeListingToPurchase(`+ item.listing_id +`, `+ item.index +`)'><i class='fa fa-times' aria-hidden='true'></i></button>
									</div>
								</div>
								<hr id="hrInCart`+item.listing_id+`">`;
			$("#checkOutItems").append(checkoutItem);
		})
		//tax calculation
		subTotal = Number(totalPrice).toFixed(2);
		taxBeforeCoupon = Number(totalPrice*.075).toFixed(2);
		totalPrice = Number((totalPrice*1.075)).toFixed(2);
		$("#subTotal").html(`<h4>Subtoal: `+"$"+subTotal+`</h4>`);
		$("#tax").html(`<h4>Tax: `+"$"+taxBeforeCoupon+`</h4>`);
		$("#totalPrice").html(`<h2>Total Price: `+"$"+totalPrice+`</h2>`);
	});
	function removeListingToPurchase(id, index){
		$("#itemInCart"+id).remove();
		$("#hrInCart"+id).remove();
		items.splice(index, 1);
	}
	function proceedToCheckout(){
		var cart = {};
    	cart.landlord = landlordID;
    	cart.items = items;
    	cart.couponCode = $('#couponCodeInput').val();

        preCheckoutJSONElement = document.getElementById("preCheckoutJSON")
        preCheckoutJSONElement.value = JSON.stringify(cart)
        precheckoutElement = document.getElementById("preCheckoutForm")
        precheckoutElement.submit()
	}

	function validateCoupon(){
		var input = $('#couponCodeInput').val();
		requestURL = '/coupon/'+input+'/check';
		$("#acceptedTab").empty();

		$.getJSON(requestURL, function(data) {
			results = data['results'];
			console.log(results);
			if(results.validCoupon == true){
				//update total price div
				subtotalAfterCoupon = Number((totalPrice*(100-results.coupon.percentageOff)/100)).toFixed(2);
				taxAfterCoupon = Number(subtotalAfterCoupon*.075).toFixed(2);
				priceAfterCoupon = Number((subtotalAfterCoupon*1.075)).toFixed(2);
				//totalPrice = totalPrice-results.coupon.percentageOff;
				$("#totalPrice").html(`<h2>Total Price: `+"$"+priceAfterCoupon+`</h2>`);
				$("#subTotal").html(`<h4>Subtoal: `+"$"+subtotalAfterCoupon+`</h4>`);
				$("#tax").html(`<h4>Tax: `+"$"+taxAfterCoupon+`</h4>`);
				//display the valid coupon percentage off
				$("#discount").html("<strong>"+results.coupon.percentageOff+"% Off"+"</strong>");
		 	    $("#discount").css("color", "green");
			}
			else{
				$("#discount").html("<strong>"+"Invlaid Code"+"</strong>");
				$("#discount").css("color", "red");
				//if the user had a correct code and then enters a wrong one display orighinal price
				$("#subTotal").html(`<h4>Subtoal: `+"$"+subTotal+`</h4>`);
				$("#totalPrice").html(`<h2>Total Price: `+"$"+totalPrice+`</h2>`);
				$("#tax").html(`<h4>Tax: `+"$"+taxBeforeCoupon+`</h4>`);
			}
		});
	}

	$('#couponCodeInput').on('input',function(e){
		var input = $('#couponCodeInput').val();
		if(input.length > 0){
			$("#sumbitCouponCode").show();
		}
		else{
			$("#sumbitCouponCode").hide();
		}
    });
</script>
{% endblock %}
