<a href="{{ message.redirectURL }}" id="{{ message.id }}" class="noti">
    {% if not message.viewed %}
    <li class="notification" style="background-color: aliceblue;">
    {% else %}
    <li class="notification">
    {% endif %}
        <div class="media">
            <div class="media-left vertical-center" style="text-align: center;">
                <div class="media-object">
                    <img src="{{message.returnObject.user.profile_image}}" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle" alt="Name" />
                </div>
            </div>
            <div class="media-body">
                <strong class="notification-title">{{ message.returnObject.user.name }}</strong>
                <p class="notification-desc">{{ message.returnObject.brief }}</p>
                <div class="notification-meta">
                    <div class="row">
                        <div class="col-xs-8">
                            <small class="timestamp">{{ message.date_created }}</small>
                        </div>
                        <!-- <div class="col-xs-4" style="text-align: right;">
                            <small>Mark Read</small>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </li>
</a>