<a href="{{ notification.redirectURL }}">
    <li class="notification">
        <div class="media">
            <div class="media-left vertical-center" style="text-align: center;">
                <div class="media-object">
                    <img src="{{notification.returnObject.user.profile_image}}" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle" alt="Name" />
                </div>
            </div>
            <div class="media-body">
                <strong class="notification-title">{{ notification.message }}</strong>
                <p class="notification-desc">{{ notification.returnObject.brief }}</p>
                <div class="notification-meta">
                    <small class="timestamp">{{ notification.date_created }}</small>
                </div>
            </div>
        </div>
    </li>
</a>