<a href="{{ message.redirectURL }}" id="{{ message.id }}" class="noti">
    {% if not message.viewed %}
    <li class="notification" style="background-color: rgba(86, 134, 197, 0.39);">
    {% else %}
    <li class="notification">
    {% endif %}
        <div class="media">
            <div class="media-left vertical-center" style="text-align: center">
                <div class="media-object">
                    <i class="fa fa-users fa-2x" aria-hidden="true" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle"></i>
                    <!-- <img src="{{current_user.profile_image}}" style="height: 50px; width: 50px; border-radius: 30px;" class="img-circle" alt="Name" /> -->
                </div>
            </div>
            <div class="media-body">
                <strong class="notification-title">{{ message.message }}</strong>
                <p class="notification-desc"><b>{{ message.returnObject.user.fname }} {{ message.returnObject.user.fname }}: </b> {{ message.returnObject.brief }}</p>
                <div class="notification-meta">
                    <div class="row">
                        <div class="col-xs-8 notification-item-footer">
                            <small class="timestamp">{{ message.date_created }}</small>
                        </div>
                        <!-- <div class="col-xs-4" style="text-align: right;">
                            <small>Mark Read</small>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </li>
</a>