<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-xs-2 col-xl-2" style="height: 50px;">
                <img src="{{deposit.user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100%" />
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-4">                           
                        <a href="{{ url_for('users.viewUser', userID=deposit.user.id) }}">
                            <h4>{{ deposit.user.fname }} {{ deposit.user.lname }}</h4>
                        </a>
                    </div>
                    <div class="col-xs-8" style="text-align: right;">                            
                        <h4><strong>Security Deposit Paid: </strong> 
                        {% if deposit.completed %}
                            <span style="color: green"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                        {% else %}
                            <span style="color: red"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                        {% endif %}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>