<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="hidden-sm-down col-md-2 col-lg-2 col-xl-2" style="height: 50px;">
                <img src="{{deposit.user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100%; width: 50px;" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="row">
                            <a href="{{ url_for('users.viewUser', userID=deposit.user.id) }}">
                                <h4 style="font-size: 3.0vh;">{{ deposit.user.fname }} {{ deposit.user.lname }}</h4>
                            </a>
                            {% if group.leader_id == deposit.user.id %}
                                <h6 style="padding-top: 10px; padding-left: 5px;"><span class="tag tag-primary">Group Leader</span></h6>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">                            
                        <h4><strong style="padding-right: 10px;">Deposit Paid: </strong> 
                        {% if deposit.completed %}
                            <button id="depositPaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" onclick="paidToUnpaid({{deposit.user.id}}, {{housingRequest.id}})" class="btn btn-success btn-circle" data-tooltip="Click here to mark deposit as NOT paid"><i class="fa fa-check" aria-hidden="true"></i></button>
                            <button id="markDepositUnpaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" class="btn btn-warning btn-circle" style="display: none;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></button>
                            <button id="depositMarkedUnPaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" onclick="paidToPaid({{deposit.user.id}}, {{housingRequest.id}})" class="btn btn-danger btn-circle" style="display: none;" data-tooltip="Click here to mark deposit as paid"><i class="fa fa-times" aria-hidden="true"></i></button>
                        {% else %}
                            <button id="depositUnpaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" onclick="unpaidToPaid({{deposit.user.id}}, {{housingRequest.id}})" class="btn btn-danger btn-circle" data-tooltip="Click here to mark deposit as paid"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <button id="markDepositPaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" class="btn btn-warning btn-circle" style="display: none;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></button>
                            <button id="depositMarkedPaid{{housingRequest.id}}Z{{deposit.user.id}}" type="button" onclick="unpaidToUnpaid({{deposit.user.id}}, {{housingRequest.id}})" class="btn btn-success btn-circle" style="display: none;" data-tooltip="Click here to mark deposit as NOT paid"><i class="fa fa-check" aria-hidden="true"></i></button>
                        {% endif %}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>