{% extends 'base.html' %}
{% block content %}
<!-- {% if activeTours %}
    <h1>Tours</h1>
    {% for tourObject in activeTours %}
{% if requestedTours %}
    <h1>Requested Tours</h1>
    {% for tourObject in requestedTours %}
        <strong>{{tourObject.listing}}</strong><br>
        {% for tour in tourObject.tours %}
            {{tour}}<br>
        {% endfor %}
        <hr>
    {% endfor %}
{% endif %}

{% if scheduledTours %}
    <h1>Suggested Tours</h1>
    {% for tourObject in scheduledTours %}
        <strong>{{tourObject.listing}}</strong><br>
        {% for tour in tourObject.tours %}
            {{tour}}<br>
        {% endfor %}
        <hr>
    {% endfor %}
{% endif %}

{% if unAcceptedHousingRequests %}
    <h1>Unaccepted Housing Requests</h1>
    {% for housingRequestObject in unAcceptedHousingRequests %}
        <strong>{{housingRequestObject.listing}}</strong><br>
        {% for housingRequest in housingRequestObject.houseRequests %}
            {{housingRequest}}<br>
        {% endfor %}
        <hr>
    {% endfor %}
{% endif %}
<hr>
{% if acceptedHousingRequests %}
    <h1>Accepted Housing Requests</h1>
    {% for housingRequest in acceptedHousingRequests %}
        {{housingRequest}}<br>
    {% endfor %}
{% endif %}
<hr>
{% if completedHousingRequests %}
    <h1>Completed Housing Requests</h1>
    {% for housingRequest in completedHousingRequests %}
        {{housingRequest}}<br>
    {% endfor %}
{% endif %}
<hr>
{% if houses %}
    <h1>Houses</h1>
    {% for house in houses %}
        {{house}}<br>
    {% endfor %}
{% endif %}
<hr>
{% if maintenanceRequests %}
    <h1>Maintenance Requests</h1>
    {% for maintenanceRequestObject in maintenanceRequests %}
        <strong>{{maintenanceRequestObject.house}}</strong><br>
        {% for maintenanceRequest in maintenanceRequestObject.maintenanceRequests %}
            {{maintenanceRequest}}<br>
        {% endfor %}
    {% endfor %}
{% endif %}
<hr> -->

<link href="{{url_for('static', filename='css/landlord/dashboardStyling.css')}}" rel="stylesheet">
<div class="row">
    <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation" style="height: inherit;">
        <div class="navi navbar">
        	<ul>
        		<li class="nav-item">
        	        <a class="nav-link active" data-toggle="tab" href="#occupiedListingsTab" role="tab">
        	        	<i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Occupied Listings</span>
        	        </a>
        	    </li>
        	    <li class="nav-item">
        	        <a class="nav-link" data-toggle="tab" href="#futureListingsTab" role="tab">
        	        	<i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Booked Future Listings</span>
        	        </a>
        	    </li>
        	    <li class="nav-item">
        	        <a class="nav-link" data-toggle="tab" href="#unbookedListingsTab" role="tab">
        	        	<i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Unbooked Listings</span>
        	        </a>
        	    </li>
        	    <li class="nav-item">
        	        <a class="nav-link" data-toggle="tab" href="#toursTab" role="tab">
        	        	<i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Tours</span>
        	        </a>
        	    </li>
        	    <li class="nav-item">
        	        <a class="nav-link" data-toggle="tab" href="#requestsTab" role="tab">
        	        	<i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Listing Requests</span>
        	        </a>
        	    </li>
        	    <li class="nav-item">
        	        <a class="nav-link" data-toggle="tab" href="#maintenanceTab" role="tab">
        	        	<i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Maintenance Requests</span>
        	        </a>
        	    </li>
        	    <li class="nav-item">
        	        <a class="nav-link" data-toggle="tab" href="#paymentTab" role="tab">
        	        	<i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Payment Portal</span>
        	        </a>
        	    </li>
        	</ul>
        </div>
    </div>
    <div class="col-sm-11 col-md-10">
	    <div class="tab-content">
		    <div class="tab-pane active" id="occupiedListingsTab" role="tabpanel" style="padding: 0px;">
		    	<div class="row">
			    	<div class="col-xs-1"></div>
			    	<div class="col-xs-10">
				    	<div class="callout-block text-center fade-in-b">
				    		<h1>Occupied Listings</h1>
				    	</div>
			    	</div>
			    </div>
		    	<br>
		    	{% if houses %}
		    	    <h1>Houses</h1>
		    	    {% for house in houses %}
		    	        {{house}}<br>
		    	    {% endfor %}
		    	{% else %}
		    			
		    	{% endif %}		    	
		    	<!-- {% for listing in listings %}
		    		{% for groupListing in listing.groups %}
			            {% if groupListing.completed %}
			            	<div class="row">
			            		<div class="col-xs-1"></div>
			            		<div class="col-xs-10" style="width: 100%">
					                <div class="card">
					                    <div class="card-header">
						                    <div class="row">
						                    	<div class="col-xs-10">
						                    		<a href="{{ url_for('houses.view', id=listing.id) }}">
						                    			<h3><strong>{{ listing.street }}, {{ listing.city }} {{ listing.state }}</strong></h3>
						                    			<small>Lease Period: {{ listing.start_date }} - {{ listing.end_date }}</small>
						                    		</a>
						                    	</div>
						                    </div>			                    
					                    </div>
					                    <div class="card-block">
						                    <div class="row">
						                    	<div class="col-xs-4">
						                    		<img src="{{url_for('static', filename='img/testHouse.jpg')}}" class="listingImg">
						                    	</div>
						                    	<div class="col-xs-8">
						                    		<h3><strong style="color:green;"><i class="fa fa-usd" aria-hidden="true"></i>{{ listing.price }}</strong> per bedroom per semester</h3>
						                    		<h3><strong>{{ listing.num_bedrooms }}<i class="fa fa-bed" aria-hidden="true"></i>
						                    		&nbsp;
						                    		{{ listing.num_full_baths }}<i class="fa fa-bath" aria-hidden="true"></i></strong></h3>
						                    		<br>
						                    		<h3><strong>Group: {{groupListing.group.name}}</strong>({{groupListing.group.users|count}} Members)</h3>
						                    		<strong>Group Leader:</strong>
						                    		{% for user in groupListing.group.acceptedUsers %}
						                    			{% with group=groupListing.group %}         
						                    				<div class="row">
						                    					<div class="col-xs-8">
						                    						{% if group.leader_id == user.id %}
						                    		    				{% include 'landlord/member.html' %}
						                    						{% endif %}
						                    		    		</div>
						                    		    	</div>
						                    		    {% endwith %}
						                    		{% endfor %}
    			      					    		<div id="allGroupMembers{{groupListing.group.id}}" style="display: none;">
    		      					    				{% for user in groupListing.group.acceptedUsers %}
    		      					    					{% with group=groupListing.group %}         
    		      					    						<div class="row">
    		      					    							<div class="col-xs-8">
    		      					    								{% if not group.leader_id == user.id %}
    		      					    				    				{% include 'landlord/member.html' %}
    		      					    				    			{% endif %}
    		      					    				    		</div>
    		      					    				    	</div>
    		      					    				    {% endwith %}
    		      					    				{% endfor %}
    			      					    		</div>
    			      					    		<button class="btn btn-info" id="allGroupMembersToggle{{groupListing.group.id}}"><i class='fa fa-users' aria-hidden='true'></i> See other {{groupListing.group.users|count-1}} members</button>
    			      					    		<button class="btn btn-info" id="hideAllGroupMembersToggle{{groupListing.group.id}}" style="display: none;"><i class='fa fa-users' aria-hidden='true'></i> Hide other {{groupListing.group.users|count-1}} members</button>

    			      					    		<script type="text/javascript">
    			      					    			//Show/hide members of group
    			      					    			$("#allGroupMembersToggle{{groupListing.group.id}}").click(function(){
    			      					    			    $("#allGroupMembers{{groupListing.group.id}}").toggle();
    			      					    			    $("#allGroupMembersToggle{{groupListing.group.id}}").hide();
    			      					    			    $("#hideAllGroupMembersToggle{{groupListing.group.id}}").show();   	
    			      					    			});

    			      					    			$("#hideAllGroupMembersToggle{{groupListing.group.id}}").click(function(){
    			      					    			    $("#allGroupMembers{{groupListing.group.id}}").toggle();
    			      					    			    $("#allGroupMembersToggle{{groupListing.group.id}}").show();
    			      					    			    $("#hideAllGroupMembersToggle{{groupListing.group.id}}").hide();   	
    			      					    			});
    			      					    		</script>
						                    		<br>
						                    	</div>
						                    </div>
					                    </div>
					                </div>
				                </div>
			                </div>
	                	{% endif %}
	                {% endfor %}
	            {% endfor %} -->
		    </div>
	        <div class="tab-pane" id="unbookedListingsTab" role="tabpanel" style="padding: 0px;">
	        	<div class="row">
			    	<div class="col-xs-1"></div>
			    	<div class="col-xs-10">
				    	<div class="callout-block text-center fade-in-b">
				    		<h1>Unbooked Listings</h1>
				    	</div>
			    	</div>
			    </div>
		    	<br>
	            {% for listing in listings %}
	            	<div class="row">
	            		<div class="col-xs-1"></div>
	            		<div class="col-xs-10" style="width: 100%">
			                <div class="card">
			                    <div class="card-header">
				                    <div class="row">
				                    	<div class="col-xs-10">
				                    		<a href="{{ url_for('listings.viewListing', listingID=listing.id) }}">
				                    			<h3><strong>{{ listing.street }}, {{ listing.city }} {{ listing.state }}</strong></h3>
				                    			<small>Lease Period: {{ listing.start_date }} - {{ listing.end_date }}</small>
				                    		</a>
				                    	</div>
				                    	<div class="col-xs-2" style="text-align: right;">
				                    		<a href="#" class="btn btn-primary">Edit Listing</a>
				                    	</div>
				                    </div>			                    
			                    </div>
			                    <div class="card-block">
				                    <div class="row">
				                    	<div class="col-xs-4">
				                    		<img src="{{url_for('static', filename='img/testHouse.jpg')}}" class="listingImg">
				                    	</div>
				                    	<div class="col-xs-4">
				                    		<h3><strong style="color:green;"><i class="fa fa-usd" aria-hidden="true"></i>{{ listing.price }}</strong> per bedroom per semester</h3>
				                    		<h3><strong>{{ listing.num_bedrooms }}<i class="fa fa-bed" aria-hidden="true"></i>
				                    		&nbsp;
				                    		{{ listing.num_full_baths }}<i class="fa fa-bath" aria-hidden="true"></i></strong></h3>
				                    	</div>
				                    </div>
			                    </div>
			                </div>
		                </div>
	                </div>
	            {% endfor %}
	        </div>
	        <div class="tab-pane" id="toursTab" role="tabpanel" style="padding: 0px;">
	        	<div class="row">
			    	<div class="col-xs-1"></div>
			    	<div class="col-xs-10" style="width: 100%">
				    	<div class="callout-block text-center fade-in-b">
				    		<h1>Tours</h1>
				    	</div>
			    	</div>
			    </div>
		    	<br>
		    	<div class="row">
		        	<div class="col-xs-1"></div>
		        	<div class="col-md-10 col-lg-10 col-xl-10">
		        	    <div class="row">
		        	        <div class="card" style="width:100%; border: none;">
		        	            <div class="card-block">
		        	                <ul class="nav nav-tabs">
		        	                    <li class="nav-item">
		        	                        <a class="nav-link active" data-toggle="tab" href="#requestedToursTab" role="tab">Requested Tours</a>
		        	                    </li>
		        	                    <li class="nav-item">
		        	                        <a class="nav-link" data-toggle="tab" href="#scheduledToursTab" role="tab">Scheduled Tours</a>
		        	                    </li>
		        	                    <li class="nav-item">
		        	                        <a class="nav-link" data-toggle="tab" href="#completedToursTab" role="tab">Completed Tours</a>
		        	                    </li>
		        	                </ul>
		        	                <br>
		        	                <div class="tab-content">
		        	                    <div class="tab-pane active" id="requestedToursTab" role="tabpanel" style="padding: 0px;">
		        	                        {% for listing in listings %}
			            						{% for tour in listing.tours %}
			            							{% if not tour.tour_confirmed %}
	        							                <div class="card">
	        							                    <div class="card-header">
	        								                    <div class="row">
	        								                    	<div class="col-xs-7">
	        								                    		<a href="{{ url_for('tours.viewTour', tourID=tour.id) }}"><h3><strong>Tour Requested on: {{ tour.time_requested }}</strong></h3></a>
	        								                    	</div>
	        								                    	<div class="col-xs-5" style="text-align: right;">
	        								                    		{% if tour.last_requested == 'landlord' %}
	        								                    			<button type="button" id="pending{{tour.group.id}}" class="btn btn-warning btn-circle pending" data-toggle="popover" title="<b> Tour Pending</b>" data-placement="top" data-content="Waiting for the the group's leader to confirm the requested time or suggest a different one"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
	        								                    		{% else %}
	            								                    		<a href='#' class="btn btn-success" data-tourID="{{tour.id}}" data-tourtime="{{tour.time_requested}}" data-toggle="modal" data-target="#confirmTourModal">Accept Tour</a>
	            								                    		<a href='#' class="btn btn-primary" data-tourID="{{tour.id}}" data-groupID="{{tour.group.id}}"  data-toggle="modal" data-target="#suggestTimeTourModal">Suggest Different Time</a>
	        								                    		{% endif %}
	        								                    	</div>
	        								                    </div>			                    
	        							                    </div>
	        							                    <div class="card-block">
	        								                    <div class="row">
	        								                    	<div class="col-xs-4">
	        								                    		<h3><strong>Tour requsted for:</strong>
	        								                    		<br> {{ listing.street }}, {{ listing.city }} {{ listing.state }}</h3>
	        								                    		<small>Lease Period: {{ listing.start_date }} - {{ listing.end_date }}</small>
	        								                    		<img src="{{url_for('static', filename='img/testHouse.jpg')}}" class="listingImg">
	        								                    		<br><br>
	        								                    		<a href="{{ url_for('tours.viewTour', tourID=tour.id) }}" class="btn btn-primary">View Tour Request</a>
	        								                    	</div>
	        								                    	<div class="col-xs-8">
	        								                    		<h3><strong>Group requesting the tour: {{tour.group.name}}</strong>({{tour.group.users|count}} Members)</h3>
	        								                    		<strong>Group's intended lease period:</strong> {{ tour.group.start_date }} - {{ tour.group.end_date }}
	        								                    		<br><br>
	        								                    		<strong>Group Leader:</strong>
	        								                    		{% for user in tour.group.acceptedUsers %}
	        								                    			{% with group=tour.group %}         
	        								                    				<div class="row">
	        								                    					<div class="col-xs-10">
	        								                    						{% if group.leader_id == user.id %}
	        								                    		    				{% include 'landlord/member.html' %}
	        								                    						{% endif %}
	        								                    		    		</div>
	        								                    		    	</div>
	        								                    		    {% endwith %}
	        								                    		{% endfor %}
	                    			      					    		<div id="allMembersRequestedTour{{tour.group.id}}" style="display: none;">
	                    		      					    				{% for user in tour.group.acceptedUsers %}
	                    		      					    					{% with group=tour.group %}         
	                    		      					    						<div class="row">
	                    		      					    							<div class="col-xs-10">
	                    		      					    								{% if not group.leader_id == user.id %}
	                    		      					    				    				{% include 'landlord/member.html' %}
	                    		      					    				    			{% endif %}
	                    		      					    				    		</div>
	                    		      					    				    	</div>
	                    		      					    				    {% endwith %}
	                    		      					    				{% endfor %}
	                    			      					    		</div>
	                    			      					    		<button class="btn btn-info" id="allMembersRequestedTourToggle{{tour.group.id}}"><i class='fa fa-users' aria-hidden='true'></i> See other {{tour.group.users|count-1}} members</button>
	                    			      					    		<button class="btn btn-info" id="hideAllMembersRequestedTourToggle{{tour.group.id}}" style="display: none;"><i class='fa fa-users' aria-hidden='true'></i> Hide other {{tour.group.users|count-1}} members</button>
	                    			      					    		<script type="text/javascript">
	                    			      					    			//Show/hide members of group
	                    			      					    			$("#allMembersRequestedTourToggle{{tour.group.id}}").click(function(){
	                    			      					    			    $("#allMembersRequestedTour{{tour.group.id}}").toggle();
	                    			      					    			    $("#allMembersRequestedTourToggle{{tour.group.id}}").hide();
	                    			      					    			    $("#hideAllMembersRequestedTourToggle{{tour.group.id}}").show();   	
	                    			      					    			});

	                    			      					    			$("#hideAllMembersRequestedTourToggle{{tour.group.id}}").click(function(){
	                    			      					    			    $("#allMembersRequestedTour{{tour.group.id}}").toggle();
	                    			      					    			    $("#hideAllMembersRequestedTourToggle{{tour.group.id}}").hide();
	                    			      					    			    $("#allMembersRequestedTourToggle{{tour.group.id}}").show();   	
	                    			      					    			});

	                    			      					    			$(document).ready(function(){
	                    			      					    			    $('#confirmed{{tour.group.id}}').popover({
	                    			      					    			        html: true,
	                    			      					    			        trigger: 'focus',
	                    			      					    			        template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #449d44; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
	                    			      					    			    });

	                    			      					    			    $('#pending{{tour.group.id}}').popover({
	                    			      					    			        html: true,
	                    			      					    			        trigger: 'focus',
	                    			      					    			        template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #ec971f; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
	                    			      					    			    });
	                    			      					    			});
	                    			      					    		</script>
	        								                    		<br>
	        								                    		<br>	        								                    		
	        								                    	</div>
	        								                    </div>
	        							                    </div>
	        							                </div>
			            							{% endif %}
			            							<br>
			            						{% endfor %}
		            						{% endfor %}
		        	                    </div>
		        	                    <div class="tab-pane" id="scheduledToursTab" role="tabpanel" style="padding: 0px;">
		        	                        {% for listing in listings %}
			            						{% for tour in listing.tours %}
			            							{% if tour.tour_confirmed %}
			                							<div class="card">
	        							                    <div class="card-header">
	        								                    <div class="row">
	        								                    	<div class="col-xs-7">
	        								                    		<a href="{{ url_for('tours.viewTour', tourID=tour.id) }}"><h3><strong>Tour Scheduled for: {{ tour.time_requested }}</strong></h3></a>
	        								                    	</div>
	        								                    </div>			                    
	        							                    </div>
	        							                    <div class="card-block">
	        								                    <div class="row">
	        								                    	<div class="col-xs-4">
	        								                    		<h3><strong>Tour of:</strong>
	        								                    		<br> {{ listing.street }}, {{ listing.city }} {{ listing.state }}</h3>
	        								                    		<small>Lease Period: {{ listing.start_date }} - {{ listing.end_date }}</small>
	        								                    		<img src="{{url_for('static', filename='img/testHouse.jpg')}}" class="listingImg">
	        								                    		<br><br>
	        								                    		<a href="{{ url_for('tours.viewTour', tourID=tour.id) }}" class="btn btn-primary">View Tour Request</a>
	        								                    	</div>
	        								                    	<div class="col-xs-8">
	        								                    		<h3><strong>Group going on tour: {{tour.group.name}}</strong></h3>
	        								                    		<strong>Group's intended lease period:</strong> {{ tour.group.start_date }} - {{ tour.group.end_date }}
	        								                    		<br><br>
	        								                    		<strong>Group Leader:</strong>
	        								                    		{% for user in tour.group.acceptedUsers %}
	        								                    			{% with group=tour.group %}         
	        								                    				<div class="row">
	        								                    					<div class="col-xs-10">
	        								                    						{% if group.leader_id == user.id %}
	        								                    		    				{% include 'landlord/member.html' %}
	        								                    						{% endif %}
	        								                    		    		</div>
	        								                    		    	</div>
	        								                    		    {% endwith %}
	        								                    		{% endfor %}
	                    			      					    		<div id="allMembersScheduledTour{{tour.group.id}}" style="display: none;">
	                    		      					    				{% for user in tour.group.acceptedUsers %}
	                    		      					    					{% with group=tour.group %}         
	                    		      					    						<div class="row">
	                    		      					    							<div class="col-xs-10">
	                    		      					    								{% if not group.leader_id == user.id %}
	                    		      					    				    				{% include 'landlord/member.html' %}
	                    		      					    				    			{% endif %}
	                    		      					    				    		</div>
	                    		      					    				    	</div>
	                    		      					    				    {% endwith %}
	                    		      					    				{% endfor %}
	                    			      					    		</div>
	                    			      					    		<button class="btn btn-info" id="allMembersScheduledTourToggle{{tour.group.id}}"><i class='fa fa-users' aria-hidden='true'></i> See other {{tour.group.users|count-1}} members</button>
	                    			      					    		<button class="btn btn-info" id="hideAllMembersScheduledTourToggle{{tour.group.id}}" style="display: none;"><i class='fa fa-users' aria-hidden='true'></i> Hide other {{tour.group.users|count-1}} members</button>
	                    			      					    		<script type="text/javascript">
	                    			      					    			//Show/hide members of group
	                    			      					    			$("#allMembersScheduledTourToggle{{tour.group.id}}").click(function(){
	                    			      					    			    $("#allMembersScheduledTour{{tour.group.id}}").toggle();
	                    			      					    			    $("#allMembersScheduledTourToggle{{tour.group.id}}").hide();
	                    			      					    			    $("#hideAllMembersScheduledTourToggle{{tour.group.id}}").show();   	
	                    			      					    			});

	                    			      					    			$("#hideAllMembersScheduledTourToggle{{tour.group.id}}").click(function(){
	                    			      					    			    $("#allMembersScheduledTour{{tour.group.id}}").toggle();
	                    			      					    			    $("#allMembersScheduledTourToggle{{tour.group.id}}").show();
	                    			      					    			    $("#hideAllMembersScheduledTourToggle{{tour.group.id}}").hide();   	
	                    			      					    			});

	                    			      					    			$(document).ready(function(){
	                    			      					    			    $('#confirmed{{tour.group.id}}').popover({
	                    			      					    			        html: true,
	                    			      					    			        trigger: 'focus',
	                    			      					    			        template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #449d44; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
	                    			      					    			    });

	                    			      					    			    $('#pending{{tour.group.id}}').popover({
	                    			      					    			        html: true,
	                    			      					    			        trigger: 'focus',
	                    			      					    			        template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #ec971f; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
	                    			      					    			    });
	                    			      					    			});
	                    			      					    		</script>
	        								                    	</div>
	        								                    </div>
	        							                    </div>
	        							                </div>
			            							{% endif %}
			            						{% endfor %}
		            						{% endfor %}
		        	                    </div>
		        	                    <div class="tab-pane" id="completedToursTab" role="tabpanel" style="padding: 0px;">
		        	                        {% for listing in listings %}
			            						{% for tour in listing.tours %}
			            							{% if tour.tour_confirmed %}
			            								
			            							{% endif %}
			            						{% endfor %}
		            						{% endfor %}
		        	                    </div>
		        	                </div>
		        	            </div>
		        	        </div>
		        	    </div>
		        	</div>
		        </div>
	        </div>
	        <div class="tab-pane" id="requestsTab" role="tabpanel" style="padding: 0px;">
	        	<div class="row">
			    	<div class="col-xs-1"></div>
			    	<div class="col-xs-10" style="width: 100%">
				    	<div class="callout-block text-center fade-in-b">
				    		<h1>Listing Requests</h1>
				    	</div>
			    	</div>
			    </div>
		    	<br>
		    	<div class="row">
		        	<div class="col-xs-1"></div>
		        	<div class="col-md-10 col-lg-10 col-xl-10">
		        	    <div class="row">
		        	        <div class="card" style="width:100%; border: none;">
		        	            <div class="card-block">
		        	                <ul class="nav nav-tabs">
		        	                    <li class="nav-item">
		        	                        <a class="nav-link active" data-toggle="tab" href="#unacceptedTab" role="tab">Unaccepted</a>
		        	                    </li>
		        	                    <li class="nav-item">
		        	                        <a class="nav-link" data-toggle="tab" href="#acceptedTab" role="tab">Accepted</a>
		        	                    </li>
		        	                    <li class="nav-item">
		        	                        <a class="nav-link" data-toggle="tab" href="#completedTab" role="tab">Completed</a>
		        	                    </li>
		        	                    <li class="nav-item">
		        	                        <a class="nav-link" data-toggle="tab" href="#deniedTab" role="tab">Denied</a>
		        	                    </li>
		        	                </ul>
		        	                <br>
		        	                <div class="tab-content">
		        	                    <div class="tab-pane active" id="unacceptedTab" role="tabpanel" style="padding: 0px;">
		        	                    	{% if unAcceptedHousingRequests %}		        	                    	
		        	                    	    {% for housingRequestObject in unAcceptedHousingRequests %}
		        	                    	    	<div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
        							                    <div class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
        								                    <div class="row">
        								                    	<div class="col-xl-12">
        								                    		<h3><strong>
        								                    		{{housingRequestObject.houseRequests|length }} Request(s) for {{housingRequestObject.listing.street}}</strong></h3>
        								                    		<small>Lease Period: {{ housingRequestObject.listing.start_date }} - {{ housingRequestObject.listing.end_date }}</small>
        								                    	</div>
        								                    </div>			                    
        							                    </div>
        							                    <div class="card-block">
        							                    	<div class="row">
        							                    		<div class="col-xl-1"></div>
        							                    		<div class="col-xl-10">
	        							                    	    {% with listing=housingRequestObject.listing %}
	        							                    	        {% include 'listing.html' %}
	        							                    	    {% endwith %}
	        							                    	</div>
        							                    	</div>
        							                    	<div class="row">
        							                    		<div class="col-xl-1"></div>
        							                    		<div class="col-xl-10">
        							                    			<strong><h2>Group(s) Requesting This Listing: </h2></strong>
        							                    		</div>
        							                    	</div>
	        	                    	        			{% for housingRequest in housingRequestObject.houseRequests %}
	        	                    	        				<div class="row">
	        	                    	        					<div class="col-xl-1"></div>
	        	                    	        					<div class="col-xl-10">
			        	                    	        				<div class="card">
		        							                    			<div class="card-header">
		        							                    				<div class="row">
		        								                    				<div class="col-xl-10">
					        	                    	            					<h3><strong>{{housingRequest.group.name}}</strong>({{housingRequest.group.acceptedUsers|count}} Members)</h3>
					        	                    	            				</div>
					        	                    	            				<div class="col-xl-2" style="text-align: right;">
					        	                    	            					<a class="btn btn-primary" href="{{ url_for('housingRequests.view', id=housingRequest.id) }}">View Request</a>
					        	                    	            				</div>
					        	                    	            			</div>
					        	                    	            		</div>
					        	                    	            		<div class="card-block">
		        							                    				<div class="row">
		        							                    					<div class="col-xs-12">
						    								                    		<strong>Group Leader:</strong>
						    								                    		{% for user in housingRequest.group.acceptedUsers %}
						    								                    			{% with group=housingRequest.group %}         
						    								                    				<div class="row">
						    								                    					<div class="col-xs-12">
						    								                    						{% if group.leader_id == user.id %}
						    								                    		    				{% include 'landlord/member.html' %}
						    								                    						{% endif %}
						    								                    		    		</div>
						    								                    		    	</div>
						    								                    		    {% endwith %}
						    								                    		{% endfor %}
						                			      					    		<div id="allGroupMembersListingUnaccepted{{housingRequest.group.id}}Z{{housingRequest.listing.id}}" style="display: none;">
						                		      					    				{% for user in housingRequest.group.acceptedUsers %}
						                		      					    					{% with group=housingRequest.group %}         
						                		      					    						<div class="row">
						                		      					    							<div class="col-xs-12">
						                		      					    								{% if not group.leader_id == user.id %}
						                		      					    				    				{% include 'landlord/member.html' %}
						                		      					    				    			{% endif %}
						                		      					    				    		</div>
						                		      					    				    	</div>
						                		      					    				    {% endwith %}
						                		      					    				{% endfor %}
						                			      					    		</div>
						                			      					    		<button class="btn btn-info" id="allGroupMembersListingUnacceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}"><i class='fa fa-users' aria-hidden='true'></i> See other {{housingRequest.group.acceptedUsers|count-1}} members</button>
						                			      					    		<button class="btn btn-info" id="hideAllGroupMembersListingUnacceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}" style="display: none"><i class='fa fa-users' aria-hidden='true'></i> Hide other {{housingRequest.group.acceptedUsers|count-1}} members</button>
						                			      					    		<script type="text/javascript">
						                			      					    			//Show/hide members of group
						                			      					    			$("#allGroupMembersListingUnacceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").click(function(){
						                			      					    			    $("#allGroupMembersListingUnaccepted{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").toggle();
						                			      					    			    $("#allGroupMembersListingUnacceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").hide();
						                			      					    			    $("#hideAllGroupMembersListingUnacceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").show();   	
						                			      					    			});

						                			      					    			$("#hideAllGroupMembersListingUnacceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").click(function(){
						                			      					    			    $("#allGroupMembersListingUnaccepted{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").toggle();
						                			      					    			    $("#allGroupMembersListingUnacceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").show();
						                			      					    			    $("#hideAllGroupMembersListingUnacceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").hide();   	
						                			      					    			});
						                			      					    		</script>
						                			      					    	</div>
						                			      					    </div>
				                			      					    	</div>
		                    			      					    	</div>
		                    			      					    </div>
		                    			      					</div>
	        	                    	        			{% endfor %}		        	                    	        		
		        	                    	        	</div>
		        	                    	        </div>
		        	                    	        <hr>
		        	                    	    {% endfor %}
		        	                    	{% else %}
		        	                    		Nothing to display
		        	                    	{% endif %}
		        	                    </div>
		        	                    <div class="tab-pane" id="acceptedTab" role="tabpanel" style="padding: 0px;">
		        	                    	{% if acceptedHousingRequests %}
		        	                        	{% for housingRequest in acceptedHousingRequests %}
        							                <div class="card">
        							                    <div class="card-header">
        								                    <div class="row">
        								                    	<div class="col-xl-12">
        								                    		<h3><strong>{{ housingRequest.listing.street }} </strong></h3>
        								                    		<small>Lease Period: {{ housingRequest.listing.start_date }} - {{ housingRequest.listing.end_date }}</small>
        								                    	</div>
        								                    </div>			                    
        							                    </div>
        							                    <div class="card-block">
        								                    <div class="row">
        								                    	<div class="col-xs-4">
        								                    		<img src="{{url_for('static', filename='img/testHouse.jpg')}}" class="listingImg">
        								                    		<br><br>
        								                    		<a href="{{ url_for('housingRequests.view', id=housingRequest.id) }}" class="btn btn-primary">View Request</a>
        								                    	</div>
        								                    	<div class="col-xs-8">
        								                    		<div class="row">
        								                    			<div class="col-xl-12">
		        								                    		<h3><strong>Group requesting the listing: {{housingRequest.group.name}}</strong>({{housingRequest.group.acceptedUsers|count}} Members)</h3>		 
		        								                    	</div>
		        								                    </div>
		        								                    <div class="row">
		        								                    	<div class="col-xl-12">
		        								                    		<strong style="padding-right: 16px;">All Leases Collected: </strong>
		        								                    		<button type="button" id="pending" class="btn btn-danger btn-circle pending"><i class="fa fa-times" aria-hidden="true"></i></button>
		        								                    	</div>
		        								                    </div>
		        								                    <br>
		        								                    <div class="row">
		        								                    	<div class="col-xl-12">
		        								                    		<strong>All Deposits Collected: </strong>
		        								                    		<button type="button" id="pending" class="btn btn-danger btn-circle pending"><i class="fa fa-times" aria-hidden="true"></i></button>
		        								                    	</div>
		        								                    </div>
		        								                    <br>
		        								                    <div class="row">
		        								                    	<div class="col-xl-12">
		        								                    		<strong>Group Leader:</strong>
			        								                    		{% for deposit in housingRequest.securityDeposits %}
			        								                    			{% with group=housingRequest.group %}         
			        								                    				<div class="row">
			        								                    					<div class="col-xs-10">
			        								                    						{% if group.leader_id == deposit.user.id %}
			        								                    		    				{% include 'landlord/acceptedMember.html' %}
			        								                    						{% endif %}
			        								                    		    		</div>
			        								                    		    	</div>
			        								                    		    {% endwith %}
			        								                    		{% endfor %}
			                    			      					    		<div id="allGroupMembersListingAccepted{{housingRequest.group.id}}Z{{housingRequest.listing.id}}" style="display: none;">
			                    		      					    				{% for deposit in housingRequest.securityDeposits %}
			                    		      					    					{% with group=housingRequest.group %}         
			                    		      					    						<div class="row">
			                    		      					    							<div class="col-xs-10">
			                    		      					    								{% if not group.leader_id == deposit.user.id %}
			                    		      					    				    				{% include 'landlord/acceptedMember.html' %}
			                    		      					    				    			{% endif %}
			                    		      					    				    		</div>
			                    		      					    				    	</div>
			                    		      					    				    {% endwith %}
			                    		      					    				{% endfor %}
			                    			      					    		</div>
			                    			      					    		<button class="btn btn-info" id="allGroupMembersListingAcceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}"><i class='fa fa-users' aria-hidden='true'></i> See other {{housingRequest.group.acceptedUsers|count-1}} members</button>
			                    			      					    		<button class="btn btn-info" id="hideAllGroupMembersListingAcceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}" style="display: none;"><i class='fa fa-users' aria-hidden='true'></i> Hide other {{housingRequest.group.acceptedUsers|count-1}} members</button>
			                    			      					    		<script type="text/javascript">
			                    			      					    			//Show/hide members of group
			                    			      					    			$("#allGroupMembersListingAcceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").click(function(){
			                    			      					    			    $("#allGroupMembersListingAccepted{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").toggle();
			                    			      					    			    $("#allGroupMembersListingAcceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").hide();
			                    			      					    			    $("#hideAllGroupMembersListingAcceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").show();   	
			                    			      					    			});

			                    			      					    			$("#hideAllGroupMembersListingAcceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").click(function(){
			                    			      					    			    $("#allGroupMembersListingAccepted{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").toggle();
			                    			      					    			    $("#allGroupMembersListingAcceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").show();
			                    			      					    			    $("#hideAllGroupMembersListingAcceptedToggle{{housingRequest.group.id}}Z{{housingRequest.listing.id}}").hide();   	
			                    			      					    			});
			                    			      					    		</script>
			        								                    		<br>
			        								                    		<br>
			        								                    	</div>
			        								                    </div>
	        								                    	</div>
	        								                    </div>
	        							                    </div>
	        							                </div>
			            							<br>
			            						{% endfor %}
		            						{% endif %}
		        	                    </div>
		        	                </div>
		        	            </div>
		        	        </div>
		        	    </div>
		        	</div>
		        </div>
	        </div>
	        <div class="tab-pane" id="paymentTab" role="tabpanel">
	            Payment Portal
	        </div>
		</div>
	</div>
</div>

<!--Confirm Tour Modal-->
    <div class="modal fade" id="confirmTourModal" tabindex="-1" role="dialog" aria-labelledby="confirmTour" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p id="tourTimeBody" class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" id="acceptTourLink" class="btn btn-primary">Confirm Tour</a>
                </div>
            </div>
        </div>
    </div>

    <!--Suggest Different Time Tour Modal-->
    <div class="modal fade" id="suggestTimeTourModal" tabindex="-1" role="dialog" aria-labelledby="suggestTimeTour" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <form id="request_tour_time_change" action="#" method="POST">
                                {{ dateChangeForm.csrf_token }}
                                {{ dateChangeForm.input_id }}
                                {{ dateChangeForm.requestedDateTime() }}                             
                                <p class="flatpickr input-group" data-wrap="true" data-clickOpens="false">
                                    <input id="tourRequestTime" placeholder="Pick date" data-input style="background-color: inherit;">
                                    <a class="btn input-btn" style="border-color: #ddd;" data-toggle><i class="fa fa-calendar" aria-hidden="true"></i></a>
                                    <a class="btn input-btn" style="border-color: #ddd;" data-clear><i class="fa fa-times" aria-hidden="true"></i></a>
                                </p>
                            </form>  
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" id="requestTimeLink" class="btn btn-primary" onclick="#">Request Time</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
	$(document).ready(function() {
	    flatpickr(".flatpickr", {
	        enableTime: true,
	        altInput: true,
	        altFormat: "F j, Y h:i K",
	        minuteIncrement: 15,
	        disable: [{from: "0001-01-01",
	                  to: "today"}]
	    });
	    $('.flatpickr-calendar').css('z-index', 99999999999999);
	});

	$(document).ready(function(){
	   $('[data-toggle="offcanvas"]').click(function(){
	       $("#navigation").toggleClass("hidden-xs");
	   });
	});

	//Request Tour Modal
    $('#confirmTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      var tour = $(event.relatedTarget).data('tourid');
      var tourTimeRequested = $(event.relatedTarget).data('tourtime');
      $("#acceptTourLink").attr('href', "/tour/"+tour+"/confirm");
      $("#tourTimeBody").text("Are you sure you want to schedule a tour for " + tourTimeRequested);
      modal.find('.modal-title').text('Accept This Tour?');
    });

    //Suggest Tour Time Modal
    $('#suggestTimeTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      var tour = $(event.relatedTarget).data('tourid');
      var group = $(event.relatedTarget).data('groupid');
      $("#request_tour_time_change").attr('action', "/tour/"+tour+"/updateDate");
      $("#requestTimeLink").attr('onClick', "submitTimeChangeForm("+group+")");      
      modal.find('.modal-title').text('Request Different Time For Tour');
    })

    function submitTimeChangeForm(id) {
        $("#input_id").val(id);
        $("#requestedDateTime").val($("#tourRequestTime").val());
        $("#request_tour_time_change").submit()
    }

</script>
{% endblock %}