<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-xs-2 col-xl-2" style="height: 50px;">
                <img src="{{user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100%" />
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-8">                           
                        <a href="{{ url_for('users.viewUser', userID=user.id) }}">
                            <h4>{{ user.fname }} {{ user.lname }}</h4>
                        </a>
                    </div>
                    <div class="col-xs-4">                            
                        {% if group.leader_id == current_user.id %}
                            {% if current_user.id != user.id %}
                                <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#removeUser" data-user="{{user.id}}" style="float: right;">Remove</a>
                            {% endif %}
                        {% endif %}
                        {% if current_user.id == user.id %}
                            <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#leaveGroupModal{{group.id}}" style="float: right;">Leave Group</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
