<div class="card" style="width: 100%"">
    <div class="card-block">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2" style="height: 50px;">
                <img src="{{user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100%; width: 50px;"/>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 col-xl-10">
                <div class="row">
                    <div class="col-xs-12">                           
                        <a href="{{ url_for('users.viewUser', userID=user.id) }}">
                            <h4 style="font-size: 3.0vh;">{{ user.fname }} {{ user.lname }}</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
