<div class="card" style="width: 100%"">
    <div class="card-block">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2" style="height: 50px;">
                <img src="{{user.profile_image}}" alt="Profile Image" class="img-responsive" style="height: 100%; width: 50px;"/>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 col-xl-10">
                <div class="row">
                    <div class="col-xs-12" style="align-self: center;">
                        <h2 style="margin-top: 5px;">{{ user.fname }} {{ user.lname }}
                            {% if group.leader_id == user.id %}
                                <div class="customTooltip" style="padding-left: 15px;">
                                    <i class="icon icon-crown" style="color: #f4c359;"></i>
                                    <span class="customTooltiptext">Group Leader</span>
                                </div>
                            {% endif %}
                            {% if current_user.id != user.id %}
                                <a href="#" data-toggle="modal" data-target="#sendDirectMessageModal" data-targetID="{{user.id}}" data-targetname="{{user.name}}">
                                    <div class="customTooltip" style="padding-left: 15px;">
                                        <i class="fa fa-comment" aria-hidden="true" style="color: #5686c5;"></i>
                                        <span class="customTooltiptext">Send Message</span>
                                    </div>
                                </a>
                            {% endif %}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
