{% extends "base.html" %} 
{% block content %}
    <form id="photoForm" action="{{url_for('listings.uploadPhotos', listingID=listingID)}}" role="form" data-toggle="validator" method='POST' enctype="multipart/form-data">
        {{form.csrf_token}}
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h3>Select Photos</h3>
                        <br>
                        <p><strong>Banner Photo(The photo that is displayed on the homepage)</strong></p>
                        <div class="row" style="width: 100%;">
                            <div class="form-group" style="width: 100%;">
                                <label class="control-label form-control-feedback">Choose Photo</label>
                                {{form.bannerPicture(class='form-control file')}}
                            </div>
                        </div>
                        <p><strong>Photos</strong></p>
                        <div class="row" style="width: 100%;">
                            <div class="form-group" style="width: 100%;">
                                <label class="control-label form-control-feedback">Choose Photos</label>
                                {{form.pictures(class='form-control file-loading', multiple='')}}
                            </div>
                        </div>
                        {{form.nextAction}}
                        <a href='#' class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Create Listing</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
<!--Confirm Listing-->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 700px;">
            <div class="modal-content">
                <div class="modal-header">                  
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="requestTour"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                              You have succesfully created your listing. From here you have three options. You can <strong>Proceed to Checkout</strong> where you can purchase this listing and have it displayed on NexNest! You can also <strong>Create Another Listing</strong> and then checkout multiple at once. If you want, you can even <strong>Use This Listing as Template</strong> which will prefill the create form with everything you chose for this listing. This is ideal to create this listing again for the following year.
                        </div>
                    </div>
                    <div id="groupNumber" style="display: none;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="submitListingForm('createNew')" data-dismiss="modal">Create Another Listing</button>
                    <button type="button" class="btn btn-primary" onClick="submitListingForm('createCopy')" data-dismiss="modal">Use Listing as Template</button>
                    <button type="button" class="btn btn-primary" onClick="submitListingForm('checkout')" data-dismiss="modal">Proceed to Checkout</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    function submitListingForm(nextAction) {
        $('#pictures').fileinput('upload');
        $("#nextAction").val(nextAction);
        $("form#photoForm").submit();
    }

    $("#bannerPicture").fileinput({
        theme: "fa",
        showUpload: false,
        showCancel: false,
        initialPreview: [
            {% for picture in bannerPath %}
                "/uploads/listings/{{listingID}}/bannerPhoto/{{picture}}",
            {% endfor %}
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        initialPreviewConfig: [
            {% for picture in bannerPath %}
                {caption: "Picture 1", size: 827000, width: "120px", url: "/listing/delete/{{picture}}", key: 1},
            {% endfor %}
        ]
    });

    $("#pictures").fileinput({
        uploadUrl: "/listing/upload/{{listingID}}", // server upload action
        uploadAsync: true,
        theme: "fa",
        maxFileCount: 12,
        showCancel: false,
        showPreview: true,
        overwriteInitial: false,
        showUpload: false,
        initialPreview: [
            {% for picture in picturePaths %}
                "/uploads/listings/{{listingID}}/pictures/{{picture}}",
            {% endfor %}
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        initialPreviewConfig: [
            {% for picture in picturePaths %}
                {caption: "Picture 1", size: 827000, width: "120px", url: "/listing/delete/{{picture}}", key: 1},
            {% endfor %}
        ]
    }).on('filesorted', function(e, params) {
    console.log('File sorted params', params);
    });
</script>
{% endblock %}
