{% extends "base.html" %}
{% block content %}
    <form id="photoForm" action="{{url_for('listings.uploadPhotos', listingID=listingID)}}" role="form" data-toggle="validator" method='POST' enctype="multipart/form-data">
        {{form.csrf_token}}
        <div class="row nexnest-font" style="color: #656264">
            <div class="col-md-1"></div>
            <div class="col-xs-12 col-md-10">
                <div class="row" style="padding-top: 45px;">
                    <div class="col-xs-12" style="padding-left: 0px;">
                        <h1 style="font-size: 43px;">Upload Photos</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <br>
                        <div class="row" style="width: 100%;">
                            <div class="form-group" style="width: 100%;">
                                <h3><strong>Cover Photo (This photo will appear first on your listing)</strong><small class="text-muted" style="padding-left: 10px;">Not Required</small></h3>
                                {{form.bannerPicture(class='form-control file')}}
                            </div>
                        </div>

                        <div class="row" style="width: 100%;">
                            <div class="form-group" style="width: 100%;">
                                <h3><strong>Other Photos of Property (Up to 15)</strong><small class="text-muted" style="padding-left: 10px;">Not Required</small></h3>
                                {{form.pictures(class='form-control file-loading', multiple='')}}
                            </div>
                        </div>
                        {{form.nextAction}}
                    </div>
                </div>
                <div class="row" style="padding-bottom: 60px;">
                    <div class="col-xs-12" style="text-align: right;">
                        <a id="createListingButton" href='#' class="btn btn-light-green" data-toggle="modal" data-target="#confirmModal" style="margin-right: 15px;"><i class="fa fa-plus" aria-hidden="true" style="padding-right: 5px;"></i> Post Listing</a>
                        <button id="createListingButton_Loading" disabled class="btn btn-light-green" data-toggle="modal" data-target="#confirmModal" style="margin-right: 15px; display: none; width: 148px;"><i class="fa fa-spinner fa-spin" aria-hidden="true" style="padding-right: 5px;"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
<!--Confirm Listing-->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirm" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 700px;">
            <div class="modal-content nexnest-font" style="font-size: 20px; color: #656264;">
                <div class="modal-header" style="background-color: #f4c359;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h1 style="color: white;"><i class="icon icon-crown" aria-hidden="true" style="padding-right: 5px;"></i> Upgrade My Listing</h1>
                </div>
                <div class="modal-body nexnest-font" style="font-size: 20px; color: #656264;">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="/static/img/whatsIncludedInUpgrading.jpg" style="width: 100%;">
                        </div>
                    </div>
                    <div id="groupNumber" style="display: none;"></div>
                </div>
                <div class="modal-footer" style="text-align: left;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12" style="padding-top: 10px; text-align: right;">
                            <a href="javascript:;" style="color: #656264; padding-right: 15px; top: 3px; position: relative;" onClick="submitListingForm('makeLive')"> No Thanks</a>
                            <a href="/landlord/dashboard/{{listingID}}#checkoutTab" type="button" style="width: 225px;" class="btn btn-yellow pull-right"><i class="icon icon-crown" aria-hidden="true" style="padding-right: 5px;"></i> Upgrade Listing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    function submitListingForm(nextAction) {
        $('#createListingButton').hide();
        $('#createListingButton_Loading').show();
        $('#pictures').fileinput('upload');
        $("#nextAction").val(nextAction);
        $("form#photoForm").submit();
    }

    $("#bannerPicture").fileinput({
       theme: "fa",
       uploadAsync: false,
       showUpload: false,
       showCancel: false,
       uploadExtraData:{'csrf_token':$('#csrf_token').val()},
       initialPreview: [
           {% if bannerPath %}
               "{{bannerPath}}",
           {% endif %}
       ],
       initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
       initialPreviewFileType: 'image', // image is the default and can be overridden in config below
       initialPreviewConfig: [
           {% if bannerPath %}
               {caption: "Banner Photo", size: 827000, width: "120px", url: "/listing/deleteBanner/{{listing.id}}/{{listing.getBannerPhotoImageName()}}", key: 1, extra: {csrf_token:$('#csrf_token').val()}},
           {% endif %}
       ]
    });

    $(document).ready(function() {

        $("#pictures").fileinput({
            uploadUrl: "/listing/upload/{{listingID}}", // server upload action
            uploadAsync: true,
            uploadExtraData:{'csrf_token':$('#csrf_token').val()},
            theme: "fa",
            maxFileCount: 15,
            showCancel: false,
            showPreview: true,
            overwriteInitial: false,
            showUpload: false,
            initialPreview: [
                {% if picturePaths %}
                    {% for picture in picturePaths %}
                        "/uploads/listings/{{listingID}}/pictures/{{picture}}",
                    {% endfor %}
                {% endif %}
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            initialPreviewConfig: [
                {% if picturePaths %}
                    {% for picture in picturePaths %}
                        {caption: "Picture", size: 827000, width: "120px", url: "/listing/delete/{{listingID}}/{{picture}}", key: 1,extra: {csrf_token:$('#csrf_token').val()}},
                    {% endfor %}
                {% endif %}
            ]
        }).on('filesorted', function(e, params) {
        console.log('File sorted params', params);
        });

        // window.onbeforeunload = function() { return "Do not go back and edit the listing details you just made. Trying to do so can cause major issues. You can edit the listing after you upload photos"; };

        $('#pictures').on('fileloaded', function(event, file, previewId, index, reader) {
            console.log("fileloaded");
        });

        $('#pictures').on('filepreajax', function(event, previewId, index) {
            console.log('File pre ajax triggered');
        });

        $('#pictures').on('filepreupload', function(event, data, previewId, index) {
            var form = data.form, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;
            console.log('File pre upload triggered');
        });
    });
</script>
{% endblock %}
