{% extends "base.html" %}
{% block content %}
    <br>
    <div class="row nexnest-font">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <div class="callout-block text-center fade-in-b" style="background-color: #d2d2d2;">
                <h2 style="font-size: 3.5vh; color: #656264;">
                    <b>Maintenance Request at {{ house.listing.street }}, {{ house.listing.city }} {{ house.listing.state }} {{ house.listing.zip_code }}</b>
                </h2>
            </div>
        </div>
    </div>
    <br>
    <div class="row nexnest-font" style="color: #656264;">   
        <!--Info Pane-->
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10 col-md-10 col-lg-5 col-xl-5">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card" style="width:100%;">
                        <h3 class="card-header" style="background-color: #d2d2d2;">
                            <div class="row">
                                <div class="col-xs-12">
                                    Maintenance Request
                                </div>
                            </div>
                        </h3>
                        <div class="card-block" style="font-size: 20px;">
                            <div class="row">
                                <div class="col-xl-7 col-lg-12 col-xs-12">
                                    <strong><h3 style="font-size: 3.0vh">Type: <span style="text-transform: capitalize;">{{ maintenanceRequest.request_type }}</span></h3></strong>
                                </div>
                                <div class="col-xl-5 col-lg-12 col-xs-12" style="text-align: right; align-self: center;">
                                    {% if maintenanceRequest.status == 'open' %}
                                        <span style="font-size: 2.5vh; color: #5686c5;"><i class="icon icon-issue-opened" style="padding-right: 5px;"></i>New Request </span>
                                    {% elif maintenanceRequest.status == 'inprogress' %}
                                        <span style="font-size: 2.5vh; color: #f4c359;">
                                            <i class="icon icon-dots-three-horizontal"></i>
                                        <!-- <span class="icon-stack" style="font-size: 16px;">
                                            <i class="icon icon-circle-with-plus icon-stack-2x"></i>
                                            <i class="icon icon-dots-horizontal icon-stack-1x"></i>
                                        </span> -->
                                        <span style="margin-top: -1px;">In Progress</span></span>
                                    {% else %}
                                        <span style="font-size: 2.5vh; color: #4fac80;"><i class="icon icon-check-circle" style="padding-right: 5px;"></i>Completed </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-xs-12">
                                    <strong>Date Submitted:</strong> {{ maintenanceRequest.date_created|format_datetime }}
                                    <br>
                                    <strong>Requested By:</strong> {{ maintenanceRequest.user.fname }} {{ maintenanceRequest.user.lname }}
                                    <br><br>
                                    <strong>Details:</strong>
                                    {{ maintenanceRequest.details }}
                                    <br><br>
                                    {% if current_user in landlords %}
                                        {% if not maintenanceRequest.status == 'completed' %}
                                            <strong>Change status:</strong>
                                            <br><br>
                                        {% endif %}
                                    	{% if maintenanceRequest.status == 'open' %}
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6" style="padding-bottom: 5px;">
                                    		        <button class="btn btn-yellow" data-toggle="modal" data-target="#markInProgressModal"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> Work In Progress</button>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                    		        <button class="btn btn-light-green" data-toggle="modal" data-target="#markCompletedModal"><i class="fa fa-check" aria-hidden="true"></i> Work Completed</button>
                                                </div>
                                            </div>
                                    	{% elif maintenanceRequest.status == 'inprogress' %}
                                    		<button class="btn btn-success" data-toggle="modal" data-target="#markCompletedModal"><i class="fa fa-check" aria-hidden="true"></i> Work Completed</button>
                                    	{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-11 col-lg-5 col-xl-5 nexnest-font" style="padding-left: 8%;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card" style="width:100%;">
                        {% if current_user in landlords %}
                            <h3 class="card-header" style="font-size: 3.0vh; background-color: #d2d2d2;">Group Message with Tenants:</h3>
                        {% else %}
                            <h3 class="card-header" style="font-size: 3.0vh; background-color: #d2d2d2;">Group Message with Landlord:</h3>
                        {% endif %}
                        <div class="card-block" style="padding-bottom: 0px;">
                            <!-- Add new message -->
                            <div class="form-group">
                                <form action="{{url_for('houses.maintenanceRequestMessage')}}" method='POST'>
                                    {{messageForm.csrf_token}}
                                    {{messageForm.maintenanceID}}
                                    <div class="row">
                                        {{messageForm.content(class="form-control", rows=5)}}
                                    </div>
                                    <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
                                        <div class="col-xs-12">
                                            <input class="btn btn-blue" type="submit" value="Send">
                                        </div>                                    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Messages -->
                    {% if messages |length == 0 %}
                        <div class="alert alert-light-blue" role="alert">
                          <strong>No messages yet! </strong>Be the first one
                        </div>
                    {% else %}
                        {% for message in messages %}
                            {% include 'house/message.html' %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--Mark In Progress Modal-->
    <div class="modal fade" id="markInProgressModal" tabindex="-1" role="dialog" aria-labelledby="inprogress" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content nexnest-font" style="color: #656264;">
                <div class="modal-header" style="background-color: #d2d2d2;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="card-text">Change maintenance request status to:</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('houses.maintenanceRequestInProgress', id=maintenanceRequest.id) }}" class="btn btn-yellow">Work In Progress</a>
                </div>
            </div>
        </div>
    </div>

    <!--Mark Completed Modal-->
    <div class="modal fade" id="markCompletedModal" tabindex="-1" role="dialog" aria-labelledby="completed" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content nexnest-font" style="color: #656264;">
                <div class="modal-header" style="background-color: #d2d2d2;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="card-text">Change maintenance request status to:</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('houses.maintenanceRequestCompleted', id=maintenanceRequest.id) }}" class="btn btn-light-green">Work Completed</a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
{% block scripts %}
<script>    
    
    //Confirm Tour Modal
    $('#markInProgressModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Maintenance in Progress?');
    })

    //Suggest Tour Time Modal
    $('#markCompletedModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Maintenance Completed?');
    })

</script>
{% endblock %}
