{% extends "base.html" %}
{% block content %}
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <div class="callout-block text-center fade-in-b">
                <h1>
                    <b>Maintenance Issue at {{ house.listing.street }}, {{ house.listing.city }} {{ house.listing.state }} {{ house.listing.zip_code }}</b>
                </h1>
            </div>
        </div>
    </div>
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1">
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">Type your message:</h3>
                    <div class="card-block">
                        <!-- Add new message -->
                        <div class="form-group">
                            <form action="{{url_for('houses.maintenanceRequestMessage')}}" method='POST'>
                                {{messageForm.csrf_token}}
                                <div class="row">
                                    {{messageForm.content(class="form-control", rows=5)}}
                                </div>
                                <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
                                    <div class="col-xs-12">
                                        <input class="btn btn-primary" type="submit" value="Respond">
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                    <!-- Messages -->
                    {% for message in messages %}
                        {% include 'house/message.html' %}
                    {% endfor %}
            </div>
        </div>
        <!--Info Pane-->
        <div class="col-md-4 col-lg-4 col-xl-4" style="padding-left: 5%;">
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">Maintenance Request</h3>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="card-text"><strong>Issue Reported on:</strong> {{ maintenanceRequest.date_created }}</p>
                                <br>
                                <strong>Status: </strong>
                                {% if maintenanceRequest.status == 'open' %}
                                	<button class="btn btn-info">Open </button>
                                {% elif maintenanceRequest.status == 'inprogress' %}
                                	<button class="btn btn-warning"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> In Progress</button>
                                {% else %}
                                	<button class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Completed</button>
                                {% endif %}
                                <br><br>
                                <strong>Details:</strong>
                                {{ maintenanceRequest.details }}
                                <br><br>
                                {% if not maintenanceRequest.status == 'completed' %}
                                	<strong>Change status of maintenance request to:</strong>
                                	<br><br>
                                {% endif %}
                                {% if current_user in landlords %}
                                	{% if maintenanceRequest.status == 'open' %}
                                		<button class="btn btn-warning" data-toggle="modal" data-target="#markInProgressModal"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> Work In Progress</button>
                                		<button class="btn btn-success" data-toggle="modal" data-target="#markCompletedModal"><i class="fa fa-check" aria-hidden="true"></i> Work Completed</button>
                                	{% elif maintenanceRequest.status == 'inprogress' %}
                                		<button class="btn btn-success" data-toggle="modal" data-target="#markCompletedModal"><i class="fa fa-check" aria-hidden="true"></i> Work Completed</button>
                                	{% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Mark In Progress Modal-->
    <div class="modal fade" id="markInProgressModal" tabindex="-1" role="dialog" aria-labelledby="inprogress" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="card-text">Has work begun on this maintenance request?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('houses.maintenanceRequestInProgress', id=maintenanceRequest.id) }}" class="btn btn-primary">Mark In Progress</a>
                </div>
            </div>
        </div>
    </div>

    <!--Mark Completed Modal-->
    <div class="modal fade" id="markCompletedModal" tabindex="-1" role="dialog" aria-labelledby="completed" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="card-text">Has work been completed on this maintenance request?</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('houses.maintenanceRequestCompleted', id=maintenanceRequest.id) }}" class="btn btn-primary">Mark Completed</a>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
{% block scripts %}
<script>    
    
    //Confirm Tour Modal
    $('#markInProgressModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Maintenance in Progress?');
    })

    //Suggest Tour Time Modal
    $('#markCompletedModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Maintenance Completed?');
    })

</script>
{% endblock %}
