{% extends "base.html" %}
{% block content %}
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <div class="callout-block text-center fade-in-b">
                <h1>
                    <b>Maintenance Issue at {{ house.listing.street }}, {{ house.listing.city }} {{ house.listing.state }} {{ house.listing.zip_code }}</b>
                </h1>
            </div>
        </div>
    </div>
    <br>
    <div class="row m-x-auto">
        <div class="col-xs-1">
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">Type your message:</h3>
                    <div class="card-block">
                        <!-- Add new message -->
                        <div class="form-group">
                            <form action="{{url_for('houses.maintenanceRequestMessage')}}" method='POST'>
                                {{messageForm.csrf_token}}
                                <div class="row">
                                    {{messageForm.content(class="form-control", rows=5)}}
                                </div>
                                <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
                                    <div class="col-xs-12">
                                        <input class="btn btn-primary" type="submit" value="Respond">
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                    <!-- Messages -->
                    {% for message in messages %}
                        {% include 'house/message.html' %}
                    {% endfor %}
            </div>
        </div>
        <!--Info Pane-->
        <div class="col-md-4 col-lg-4 col-xl-4" style="padding-left: 5%;">
            <div class="row">
                <div class="card" style="width:100%;">
                    <h3 class="card-header">Maintenance Request</h3>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
{% block scripts %}
<script>    
    $(document).ready(function(){
        $('#confirmed').popover({
            html: true,
            trigger: 'focus',
            template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #449d44; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
        });

        $('#pending').popover({
            html: true,
            trigger: 'focus',
            template: '<div class="popover"><div class="arrow"></div><h3 class="popover-title" style="background-color: #ec971f; text-align: center; color: #ffffff;"></h3><div class="popover-content"></div></div>'
        });
    });

    //Confirm Tour Modal
    $('#confirmTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Confirm Tour');
    })

    //Suggest Tour Time Modal
    $('#suggestTimeTourModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var modal = $(this);
      modal.find('.modal-title').text('Request Different Time For Tour');
    })

</script>
{% endblock %}
