{% extends "base.html" %}
{% block content %}
<link href="{{url_for('static', filename='css/landlord/dashboardStyling.css')}}" rel="stylesheet">
<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2 display-table-cell v-align box" id="navigation" style="height: inherit;">
        <div class="navi navbar">
        	<ul>
        		<li class="nav-item">
        	        <a class="nav-link" style="padding-left: 10px; pointer-events: none;" data-toggle="tab" href="#" role="tab">
        	        	<h4 class="hidden-md-down"><strong>My House</strong></h4>
        	        </a>
        	    </li>
        		<li class="nav-item">
        	        <a class="nav-link active" style="padding-left: 10px;" data-toggle="tab" href="#maintenanceTab" role="tab">
        	        	<i class="fa fa-wrench" aria-hidden="true"></i><span class="hidden-md-down">Maintenance</span>
        	        </a>
        	    </li>
        	    {% if current_user in landlords %}
        	    <li class="nav-item">
        	        <a class="nav-link" style="padding-left: 10px;" data-toggle="tab" href="#membersTab" role="tab">
        	        	<i class="fa fa-users" aria-hidden="true"></i>
        	        	<span class="hidden-md-down">
        	        		Group Members
        	        	</span>
        	        </a>
        	    </li>
        	    {% endif %}
        	    <li class="nav-item">
        	        <a class="nav-link" style="padding-left: 10px;" data-toggle="tab" href="#propertyTab" role="tab">
        	        	<i class="fa fa-home" aria-hidden="true"></i><span class="hidden-md-down">Property</span>
        	        </a>
        	    </li>
        	    <li class="nav-item hidden-lg-up">
        	        <a class="nav-link" style="padding-left: 10px;" data-toggle="tab" href="#messagesTab" role="tab">
        	        	<i class="fa fa-comments-o" aria-hidden="true"></i><span class="hidden-md-down">Messages</span>
        	        </a>
        	    </li>
        	    <li class="nav-item">
        	        <a class="nav-link" style="padding-left: 15px;" data-toggle="tab" href="#rentTab" role="tab">
        	        	<i class="fa fa-usd" aria-hidden="true"></i>
        	        	<span class="hidden-md-down">
        	        		{% if current_user in landlords %}
        	        			Rent Collected
        	        		{% else %}
        	        			Pay Rent
        	        		{% endif %}
        	        	</span>
        	        </a>
        	    </li>
        	    {% if current_user in landlords %}
        	    	<li class="nav-item">
        	    	    <a class="nav-link" href="#" style="padding-left: 10px;" data-toggle="modal" data-target="#groupReportModal">
        	    	    	<i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="hidden-md-down">Report Group</span>
        	    	    </a>
        	    	</li>
        	    {% else %}
        	    	<li class="nav-item">
        	    	    <a class="nav-link" href="#" style="padding-left: 10px;" data-toggle="modal" data-target="#landlordReportModal">
        	    	    	<i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="hidden-md-down">Report Landlord</span>
        	    	    </a>
        	    	</li>
        	    {% endif %}
        	</ul>
        </div>
    </div>
    <div class="col-sm-10 col-md-10 col-xs-10">
    	<div class="row m-x-auto">
	        <div class="col-xs-12">
	            <div class="callout-block text-center fade-in-b">
	                <h1 style="font-size: 3.0vh">
	                    <span class="hidden-xs-down"><strong>{{ house.group.name }}</strong> Occupy:</span>
	                    <br class="hidden-xs-down">
	                    <span>{{ house.listing.street }}<br>
	                    <small>{{ house.listing.start_date }} to {{ house.listing.end_date }}</small></span>
	                </h1>
	            </div>
	        </div>
    	</div>
    	<br>
    	<div class="row">    		
    		<div class="col-xs-12 col-lg-7" style="padding-left: 35px;">
			    <div class="tab-content">
				    <div class="tab-pane active" id="maintenanceTab" role="tabpanel" style="padding: 0px;">
				    	<div class="row">
				    	    <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
				    	        <div class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
				    	        	<div class="row">
				    	        		<div class="col-md-7 col-xs-12">
				    	        			<h3 style="font-size: 3.5vh;">Maintence Requests</h3>
				    	        		</div>
				    	        		<div class="col-md-5 col-xs-12" style="text-align: right;">
				    	        			{% if not current_user in landlords %}
				    	        				<a href='#' class="btn btn-primary" data-toggle="modal" data-target="#maintenanceRequestModal">New Request</a>
				    	        			{% endif %}
				    	        		</div>
				    	        	</div>
				    	        </div>				    	        
				    	        <div class="card-block">
				    	            <div class="row">
                                        {% if maintenanceRequests |length == 0 %}
                                            <div class="alert alert-info" role="alert">
                                              <strong>No Maintenance Requests Yet!</strong>
                                            </div>
                                        {% endif %}
				    	            	{% for request in maintenanceRequests %}
			    	            			<div class="col-xs-12">
			    	            				<div class="card">
			    	            					<div class="card-block">
					    	            				<div class="row">
					    	            					<div class="col-xl-7 col-lg-12 col-xs-12">
					    	            						<strong><h3 style="font-size: 3.0vh">Request Type: {{ request.request_type }}</h3></strong>
					    	            					</div>
					    	            					<div class="col-xl-5 col-lg-12 col-xs-12">
					    	            						<span style="font-size: 2.0vh;">Status: </span>
					    	            						{% if request.status == 'open' %}
					    	            							<button class="btn btn-info" style="width: 125px; pointer-events: none;">New Request </button>
					    	            						{% elif request.status == 'inprogress' %}
					    	            							<button class="btn btn-warning" style="width: 125px; pointer-events: none;">In Progress</button>
					    	            						{% else %}
					    	            							<button class="btn btn-success" style="width: 125px; pointer-events: none;">Completed</button>
					    	            						{% endif %}
					    	            					</div>
					    	            				</div>
					    	            				<br>
					    	            				<div class="row">
					    	            					<div class="col-xs-12">
					    	            						<span style="font-size: 2.5vh;">
						    	            						<strong>Date Submitted:</strong> {{ request.date_created }}
						    	            						<br>
						    	            						<strong>Submitted By:</strong> {{ request.user.fname }} {{ request.user.lname }}
						    	            						<br><br>
						    	            						{{ request.details }}
					    	            						</span>
					    	            						<br><br>
					    	            						<a href="{{url_for('houses.maintenanceRequestView', id=request.id)}}" class="btn btn-primary">View Request</a>
					    	            					</div>
					    	            				</div>
					    	            			</div>
					    	            		</div>
			    	            			</div>
				    	            		<hr>
				    	            	{% endfor %}
				    	            </div>
				    	        </div>
				    	    </div>
				    	</div>
				    </div>
			        <div class="tab-pane" id="membersTab" role="tabpanel" style="padding: 0px;">
			        	<div class="row">
			        	    <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);">
			        	        <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">
			        	        	{% if current_user in landlords %}
			        	        		Members
			        	        	{% endif %}
			        	        </h3>
			        	        <div class="card-block">
			        	            <div class="row">
			        	                <div class="col-xs-12">
			        	                    <div class="row">
			        	                        <div class="col-xs-12">
			        	                            {% if current_user in landlords %}
			        	                                <p class="card-text" style="font-size: 3.0vh;"><strong>{{ house.group.name }}</strong></p>
			        	                                {% with group=house.group %}
			        	                                    {% for user in group.acceptedUsers %}                                    
			        	                                        {% include 'house/smallMember.html' %}
			        	                                    {% endfor %}
			        	                                {% endwith %}
			        	                            {% endif %}
			        	                        </div>
			        	                    </div>
			        	                </div>
			        	            </div>
			        	        </div>
			        	    </div>
			        	</div>	            
			        </div>
			        <div class="tab-pane" id="propertyTab" role="tabpanel" style="padding: 0px;">
				    	<div class="row">
				    	    <div class="card" style="width:100%; border: 0px solid rgba(0, 0, 0, 0.125);"">
				    	        <h3 class="card-header" style="border-bottom: 0px solid rgba(0, 0, 0, 0.125);">The Property</h3>
				    	        <div class="card-block">
				    	            <div class="row">
				    	                {% with listing=house.listing %}
				    	                    {% include 'listingMoreInfo.html' %}
				    	                {% endwith %}
				    	            </div>
				    	        </div>
				    	    </div>
				    	</div>
				    </div>
				    <div class="tab-pane hidden-lg-up" id="messagesTab" role="tabpanel" style="padding: 0px;">
				    	<div class="row">
				    	    <div class="card" style="width:100%;">
    	    			        <h3 class="card-header" style="font-size: 3.5vh;">Group Message with Landlord:</h3>
    	    			        <div class="card-block">
    	    			            <!-- Add new message -->
    	    			            <div class="form-group">
    	    			                <form action="{{url_for('houses.messageCreate')}}" method='POST'>
    	    			                    {{messageForm.houseID(value=house.id)}}
    	    			                    {{messageForm.csrf_token}}
    	    			                    <div class="row">
    	    			                        {{messageForm.content(class="form-control", rows=5)}}
    	    			                    </div>
    	    			                    <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
    	    			                        <div class="col-xs-12">
    	    			                            <input class="btn btn-primary" type="submit" value="Respond">
    	    			                        </div>                                    
    	    			                    </div>
    	    			                </form>
    	    			            </div>
    	    			        </div>
    	    			    </div>
    	    			    <!-- Messages -->
    	    			    {% if messages |length == 0 %}
    	    			        <div class="alert alert-info" role="alert">
    	    			          <strong>No Messages Yet! </strong>Be the first one
    	    			        </div>
    	    			    {% else %}
    	    			        {% for message in messages %}
    	    			            {% include 'house/message.html' %}
    	    			        {% endfor %}
    	    			    {% endif %}
				    	</div>
				    </div>
				    <div class="tab-pane" id="rentTab" role="tabpanel" style="padding: 0px;">
				    	<div class="row">
				    	    <div class="card" style="width:100%;">
				    	        <h3 class="card-header">Rent</h3>
				    	        <div class="card-block">
				    	            <div class="row">
				    	                Info about rent due date and link to pay rent here
				    	            </div>
				    	        </div>
				    	    </div>
				    	</div>
				    </div>
				</div>
    		</div>
    		<div class="col-md-5 hidden-md-down">
			    <div class="card" style="width:100%;">
			        <h3 class="card-header" style="font-size: 3.0vh">Group Message with Landlord:</h3>
			        <div class="card-block">
			            <!-- Add new message -->
			            <div class="form-group">
			                <form action="{{url_for('houses.messageCreate')}}" method='POST'>
			                    {{messageForm.houseID(value=house.id)}}
			                    {{messageForm.csrf_token}}
			                    <div class="row">
			                        {{messageForm.content(class="form-control", rows=5)}}
			                    </div>
			                    <div class="row" style="padding-top: 10px; text-align:-webkit-right;">
			                        <div class="col-xs-12">
			                            <input class="btn btn-primary" type="submit" value="Respond">
			                        </div>                                    
			                    </div>
			                </form>
			            </div>
			        </div>
			    </div>
			    <!-- Messages -->
                {% if messages |length == 0 %}
                    <div class="alert alert-info" role="alert">
                      <strong>No Messages Yet! </strong>Be the first one
                    </div>
                {% else %}
                    {% for message in messages %}
                        {% include 'house/message.html' %}
                    {% endfor %}
                {% endif %}
    		</div>
    	</div>
    </div>
</div>

<!--Maintenance Modal-->
<div class="modal fade" id="maintenanceRequestModal" tabindex="-1" role="dialog" aria-labelledby="Maintenance" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form id="request_maintenance" action="{{url_for('houses.maintenanceRequestCreate')}}" method="POST">
                        	{% from "_formhelpers.html" import render_field %}
                            {{ maintenanceRequestForm.csrf_token }}
                            {{ maintenanceRequestForm.houseID(value=house.id) }}
                            {{ render_field(maintenanceRequestForm.requestType, class="form-control") }}
                            {{ render_field(maintenanceRequestForm.details, class="form-control") }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" onclick="submitMaintenanceForm()">Submit Request</a>
            </div>
        </div>
    </div>
</div>
{% include 'groupReportModal.html' %}
{% include 'landlordReportModal.html' %}

{% endblock %}
{% block scripts %}
<script>  
	//Maintenance Modal
    $('#maintenanceRequestModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var modal = $(this);
        modal.find('.modal-title').text('Maintenance Request');
    })

    function submitMaintenanceForm() {
        $("#request_maintenance").submit();
    }

    //Group Report
    $('#groupReportModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      modal.find('.modal-title').text('Report This Group');
      $("#group_id").val({{ house.group.id }});
    });

    //Landlord Report
    $('#landlordReportModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var modal = $(this)
      modal.find('.modal-title').text('Report Your Landlord');
      $("#landlord_id").val({{ house.listing.landLordsAsUsers()[0].id }});      
    });
</script>
{% endblock %}
